.pricing-main {
  .faq-section__container {
    margin-top: 4rem;
  }
}

.plansection {
  &__container {
    margin-top: 2rem;
    margin-bottom: 4.41rem;
  }


  &__title {
    font-weight: $font_bold !important;
    text-align: center !important;
  }

  &__subtitle {
    text-align: center !important;
    margin-bottom: 4rem !important;
    color: $clr_sub_header !important;
  }

  &__button {
    &-container{
      margin-bottom: 5rem !important;
    }
    &-group{
      background-color: $clr_background_gray !important;
      border-radius: 0.83rem !important;
      box-shadow:none !important;
      button{
        width: 15.41rem;
        height: 3.5rem;
        border: none;
        margin: 0.5rem;
        border-color: $clr_background_gray !important;
        font-size: $h6;
        font-weight: $font_medium;
        color: $clr_sub_header;
        box-shadow:none !important;
        text-transform: none;
      }
     .MuiButton-contained{
        border-radius: 0.6rem;
        background-color: $clr_white;
        color: $clr_black !important;
      }
    }
  }


}

.plancard {
  &__container {
    background: linear-gradient(to bottom, $clr_offwhite, transparent);
    padding: 1.25rem;
    border-radius: 2.5rem;
  }

  &__content {
    background-color: $clr_white;
    width: 100%;
    padding-block: 2.083rem;
    padding-inline: 1.833rem;
    border-radius: 1.85rem;
    box-shadow: $clr_gray_light 0rem 0.25rem 0.667rem;
  }

  &__header {
    column-gap: 1.3rem;
    margin-bottom: 2.91rem;
  }

  &__icon {
    svg{
      width: 4.91rem;
      height: 4.91rem;
    }
  }

  &__title{
    font-size: $h4 !important;
    font-weight: $font_semibold !important;
  }

  &__subtitle{
    color: $clr_sub_header !important;
    font-size: $p5 !important;
    font-weight: $font_medium !important;
  }

  &__price_conatiner{
    margin-bottom: 3rem !important;
    .price {
      font-size: $h1 !important;
      font-weight: $font_bold !important;
    }
    .period{
      font-size: $h6 !important;;
      color: $clr_text_grey !important;
    }
  }


  &__features {
    display: flex;
    flex-direction: column;
    row-gap: 1.85rem;
    margin-bottom: 5.16rem;
    .text{
      font-size: $h6 !important;
      color: $clr_text_grey !important;
      line-height: 1.4rem !important;

    }
  }

}


.planfeaturesection {
  &__container {
    padding-block: 7rem;
  }


  &__header {
    margin-bottom: 8rem;
  }


  &__table-header {
    margin-bottom: 3rem;
  }

  &__table-header-cell {
    padding-inline: 1rem;
  }
  

  &__table-row {
    padding-block: 1.6rem;
    // margin-bottom: 2rem;
    border-bottom: 1px solid $clr_gray_light;
  }


  &__badge {
    &-icon {
      height: 1.8rem  ;
      width: 1.8rem;
    }
  }
}
