.plansection {
  &__container {
    margin-top: 2rem;
    margin-bottom: 4.41rem;
  }


  &__title {
    font-weight: $font_bold !important;
    text-align: center !important;
    font-size: $h2 !important;
  }

  &__subtitle {
    text-align: center !important;
    margin-bottom: 4rem !important;
    color: $clr_sub_header !important;
    font-size: $p1 !important;
  }

  &__button {
    &-container {
      margin-bottom: 5rem !important;
    }

    &-group {
      background-color: $clr_background_gray !important;
      border-radius: 0.83rem !important;
      box-shadow: none !important;

      button {
        width: 15.41rem;
        height: 3.5rem;
        border: none;
        margin: 0.5rem;
        border-color: $clr_background_gray !important;
        background-color: transparent !important;
        font-size: $h6;
        font-weight: $font_medium;
        color: $clr_sub_header;
        box-shadow: none !important;
        text-transform: none;
      }

      .MuiButton-contained {
        border-radius: 0.6rem;
        background-color: $clr_white !important;
        color: $clr_black !important;
      }
    }
  }


}

.plancard {
  &__container {
    // background: linear-gradient(to bottom, $clr_offwhite, transparent);
    padding: 1.0rem;
    border-radius: $h5!important;
    min-height: 28rem;
    width: 23rem !important;
   
  }

  &__content {
    background-color: $clr_white;
    width: 100%;
    padding-block: 2.083rem;
    padding-inline: 1.033rem;
    border-radius: $h5;
    border: 1px solid $clr_gray_very_light;
  min-height: 28rem;
  }
  
  &__content_enterprice {
    background: linear-gradient(360deg, #195AD8 0%, #1FA0F0 100%);;
    width: 100%;
    padding-block: 2.083rem;
    padding-inline: 1.033rem;
    border-radius: $h5;
    border: 1px solid $clr_gray_very_light;
  min-height: 28rem;
  }

  &__header {
    column-gap: 1.0rem;
    margin-bottom: 2.91rem;
  }

  &__header_entreprise {
    column-gap: 1.0rem;
    margin-bottom: 2.91rem;
    color:$clr_white;
  }

  &__icon {
    svg {
      width: 3.81rem;
      height: 3.81rem;
    }

  }

  &__title {
    font-size: $h5 !important;
    font-weight: $font_semibold !important;

 
  }

  &__title_entreprise {
    font-size: $h5 !important;
    font-weight: $font_semibold !important;
    color:$clr_white;
  }
 
  &__subtitle {
    padding-inline-start: 0.2rem;
    color: $clr_sub_header !important;
    font-size: $p2 !important;
    font-weight: $font_medium !important;

  }
  &__subtitle_entreprise {
    padding-inline-start: 0.2rem;
    color: $clr_white !important;
    font-size: $p2 !important;
    font-weight: $font_medium !important;

  }

  &__text {
    color: $clr_sub_header !important;
    font-size: $p1 !important;
    font-weight: $font_medium !important;
    padding-bottom: 0.5rem;
  }

  &__text_entreprice {
    color: $clr_white !important;
    font-size: $p1 !important;
    font-weight: $font_medium !important;
    padding-bottom: 0.5rem;
  }
  &__price_conatiner {
    margin-bottom: 1rem !important;

    .price {
      font-size: $h1 !important;
      font-weight: $font_bold !important;

    
    }
    .annually-text{
      font-size: $h6 !important;
      font-weight:$font_normal ;
      color:$clr_text_grey;
    }
    .enterprise_des{
      font-size: $p5 !important;
      color:$clr_white;
      font-weight: $font-semibold !important;
    }

    .period {
      font-size: $h6 !important;
      ;
      color: $clr_text_grey !important;
    }
  }
  &-plan-description{
    svg{
      width:$h5;
      height: $h5;
    }
    margin-bottom: 2rem;

  }


  &__features {
    display: flex;
    flex-direction: column;
    row-gap: 1.85rem;
    margin-bottom: 5.16rem;

    .icon {
      width: 1.66rem !important;
      height: 1.66rem !important;

      circle {
        fill: $clr_blue;
      }

      path {
        fill: $clr_white
      }
    }

    .text {
      font-size: $h6 !important;
      color: $clr_text_grey !important;
      line-height: 1.4rem !important;

    }
  }


  &__button {
    height: 4.5rem;
    border-radius: 0.83rem !important;
    border: 0.17rem solid $clr_blue !important;
    background-color: $clr_white !important;
    text-transform: none !important;
    color: $clr_blue !important;
    font-size: $p2 !important;
    box-shadow: none !important;

    
    svg {
      path {
        fill: $clr_blue;
      }
    }

  }
  &__buttonEnterprise {
    height: 4.5rem;
    border-radius: 0.83rem !important;
    border: 0.17rem solid $clr_blue !important;
    background-color: $clr_white !important;
    text-transform: none !important;
    color: $clr_blue !important;
    font-size: $p2 !important;
    box-shadow: none !important;

    
    svg {
      path {
        fill: $clr_white;
      }
    }
  }

  &__button:hover {
    background-color: $clr_blue !important;
    color: $clr_white !important;

    svg {
      path {
        fill: $clr_white;
      }
    }
  }
  &__buttonEnterprise:hover {
        background-color: $clr_blue !important;
    color: $clr_white !important;

    svg {
      path {
        fill: $clr_white;
      }
    }
  }

}


.planfeaturesection {
  &__container {
    padding-bottom: 6rem !important;
  }


  &__header {
    margin-bottom: 6rem;
  }

  &__title {
    font-weight: $font_bold !important;
    font-size: $h2 !important;
  }

  &__description {
    font-size: $h6 !important;
    color: $clr_sub_header !important;
  }

  &__table-header {
    margin-bottom: 3rem;
  }

  &__table-header-cell {
    padding-inline: 1rem;
  }

  &__badge-icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  &__table-row {
    padding-block: 1.6rem;
    border-bottom: 0.04rem solid $clr_bright_gray;
  }


  &__badge {
    &-icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}

@media (max-width: 600px) {
  .plansection {
    &__container {
      padding: 1rem !important;
    }

    &__title {
      font-size: $h2 !important;
      line-height: 3rem !important;
      margin-bottom: 1rem !important;
    }

    &__subtitle {
      line-height: 2rem !important;
      font-size: $h6 !important;
      margin-bottom: 3rem !important;
    }

    &__button {
      &-container {
        margin-bottom: 4rem !important;
        width: 23.58rem;
        height: 4.33rem;
      }

      &-group {
        button {
          width: 10.75rem;
          height: 3.5rem;
          font-size: $p2;
        }
      }
    }
  }

  .plancard {
    &__header {
      margin-bottom: 2rem;
    }

    &__icon {
      svg {
        width: 4.3rem;
        height: 4.3rem;
      }
    }

    &__title {
      font-size: $h5 !important;
      line-height: 2.4rem !important;
    }

    &__price_conatiner {
      margin-bottom: 2rem !important;
    }

    &__features {
      margin-bottom: 3.16rem;

      .icon {
        width: 1.3rem !important;
        height: 1.3rem !important;
      }
    }

    &__button {
      // width: 24.9rem !important;
      height: 4.5rem;
      border-radius: 0.83rem !important;
      border: 0.17rem solid $clr_blue !important;
      text-transform: none !important;
      color: $clr_blue !important;
      font-size: $p2 !important;

      svg {
        path {
          fill: $clr_blue;
        }
      }
    }

    &__button:hover {
      background-color: $clr_blue;
      color: $clr_white !important;

      svg {
        path {
          fill: $clr_white;
        }
      }
    }

  }
}


@media screen and (min-width: 600px) and (max-width: 900px) {

  .plancard {
    &__container {

      padding: .8rem;
    }

    &__content {

      padding-inline: .8rem;
    }


    &__icon {

      svg {
        width: 3.91rem;
        height: 3.91rem;
      }
    }

    &__title {
      font-size: $h5 !important;
      font-weight: $font_semibold !important;
    }

    &__subtitle {

      font-size: $p1 !important;
      font-weight: $font_semibold !important;

    }

    &__price_conatiner {
      margin-bottom: 3rem !important;

      .price {
        font-size: $h3 !important;
        font-weight: $font_bold !important;
      }

    }

  }


}