
.fc-button-primary{
  color: $clr_gray_medium !important;
  background-color: $clr_white !important;
  text-transform: capitalize !important;
  border: 0.1642rem solid $clr_medium_grey !important;
}
.fc-button-active{
  font-weight: $font_bold!important;
  color: $clr_black !important;
}
.fc-button:hover{
  font-weight: $font_bold!important;
  color: $clr_black !important;
}
.fc-sticky {
  position: sticky;
  top: 0rem !important;
}
.fc-event-time {
  max-width: max-content !important;
  background-color: seashell !important;
  border: 0.0833rem solid rgb(167, 80, 18) !important;
  border-radius: 0.4167rem !important;
font-size: $p2 !important;
font-weight: 700 !important; 
}
.fc-event-title{
  font-size: $h6 !important;
  font-weight: $font_bold !important; 
}

.fc-daygrid-more-link {
  background: $background !important;
  text-align: center !important;
  border-radius: 0.3333rem !important;
  &:hover {
    box-shadow: 0 0.167rem 0.333rem rgba(0, 0, 0, 0.1);
  }
}