
.fc-daygrid-event, .fc-timegrid-event {
    border: none !important; 
    color: inherit; 
  }
  .fc-event-title {
    color: inherit !important;
  }
   .fc-v-event {
    margin-top: 0.2rem !important;
    background-color: transparent !important;
  }
  .fc-event-main{
  background-color:transparent !important;
  }
  .fc-event {
    &.fc-daygrid-event{
      background-color: transparent !important;
    }
  }
.fc-toolbar-title {
  font-weight: bold;
  font-size: $p6;
  color: $clr_gray_dark_text;
}
.calendar-time{
color: $clr_white;
font-weight: $font_extramaxbold !important;
font-family: Inter;
font-size: $p2 ;
line-height: 1.6483rem; 
text-align: center;
display: flex;
justify-content: center;
padding: 0.1rem !important;
}

.calendar-titles{
 font-weight: $font_bold !important;
 font-size: $p3 !important;
 color: $text_primary_dark ;
width: 10rem !important;
}