.register-main-container {
  // height: 100vh;
  & .grid-layout {
    min-height: 100% !important;
    // max-width: 110rem;
    padding: 2rem;
    margin-inline: auto;
    & .grid-left {
      min-width: min(42rem, 100%);
      min-height: 100%;
      justify-content: center !important;
      align-items: center !important;
      display: flex !important;
      background: url("../assets/svg/background-top.svg") no-repeat top;
      background-position: center -50px;
      background-repeat: no-repeat;
      // background-position: top ;
      border-radius: 1.666rem;
      background-size: 50%;
      // padding: 1.66rem !important;
      & .left-content-wrapper {
        height: 100%;
        width: 100%;
        // min-width: 47.166rem;
        // max-height: 63.333rem;
        // padding: 20px;
        display: flex;
        justify-content: center;

        & .left-inner-content {
          align-items: center;
          justify-content: center;
          max-width: 36rem;
          display: flex;
          flex-direction: column;
          row-gap: 0.8rem;
          & .left-description-text {
            font-size: $h6;
            color: $clr_grey;
          }
        }
        & .plan-choose-btn {
          font-size: $h6;
          background-color: $clr_blue;
          width: 100%;
          text-transform: none !important;
          &:focus {
            outline: none;
          }
        }
        & .login-label {
          font-weight: $font_semibold;
          color: $clr_blue;
        }
        & .form-wrapper {
          width: 100%;
          // max-width: 28.25rem;
          margin-inline: auto;
          & .form {
            display: flex;
            flex-direction: column;
            row-gap: 2.083rem;
          }
        }
        .success-container {
          .divider-box {
             background-color: $clr_gray_light;
             height: 0.05rem;
             width: 100%;
           }
           .subheader-text{
            font-weight: $font_semibold;
           }
         }

      }
    }
    & .grid-right {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      & .right-content-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        background: url("../assets/png/login-bg.png");
        background-repeat: no-repeat;
        border-radius: unset;
        background-size: 120% 120%;
        min-height: 70vh;
        & .image-content-text{
          margin-left: 4.875rem;
          margin-top: 4.125rem;
          color:$white;
        
          & .paragraph{
            font-size: 2.167rem;
          }
        }    
        // Hide background image on mobile
        @media screen and (max-width: 799px) {
          background: none;
        }
      }
      
     
    }
  }
}
.checkbox-text-grey {
  color: $clr_gray_light;
}
.link-text-blue {
  color: $clr_blue;
}
.stepper-box {
  width: 8rem;
  height: 0.5rem;
  border: 0.1rem solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  &.active {
    background-color: $clr_blue;
  }
  &.inactive {
    background-color: $bg_light;
  }
  @media screen and (max-width: 600px) {
    width: 5rem;
    height: 0.4rem;
  }
}
.cursor-container{
  cursor: pointer;
  &.back-button{
    position: absolute;
    top: 1rem;
  }
}


