.register-main-container {
      height: 100vh;
    & .back-button{
      cursor: pointer;
      padding-top: 2.667rem;
      margin-left: 17%;
    }
    & .skip-button{
      padding-top: 2.667rem;
      margin-right: 17%;   
    }
    & .grid-left {
      min-width: min(42rem, 100%);
      background: url("../assets/svg/background-top.svg") no-repeat top;
      background-position: center -8.583rem;
      background-repeat: no-repeat;
      border-radius: 1.666rem;
      background-size: 40%;
      display: flex;
      overflow-y:auto;
      scroll-behavior: smooth;
      height: 100vh;
      flex-direction: column;
      &::-webkit-scrollbar{
        display: none;
      }
     
      .form-fields-container{
        row-gap: 2.5rem;
      }
      
    }
   
    & .login-label {
      font-weight: $font_bold !important;
      color: $clr_blue;
    }
    & .register-stepper{
      display: flex;
      margin-bottom: 2rem;
      &-text{
        margin-bottom: 2.5rem;
        p{
          font-size: $p5 !important;
          font-weight: $font_medium;
        }
      }
    }
    & .grid-right {
      background: url('../assets/svg/grid-img.svg') no-repeat;
      background-size: cover;
      position: relative;
      .grid-right-image-text{
       font-family: $font;
       font-size: $h5;
       font-weight: $font_semibold;
       color: $clr_white;
       position: absolute;
       bottom: 9rem;
       left: 4.167rem;
     }
    }
    & .skip-button-payment-page {
      transform: translate(0rem, 1.25rem);
    }
  }
.checkbox-text-grey {
  color: $clr_gray_light;
}
.link-text-blue {
  color: $clr_blue;
}
.stepper-box {
  width: 8rem;
  height: 0.58rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  &.active {
    background-color: $clr_blue;
  }
  &.inactive {
    background-color: $clr_gray_very_light;
  }
  @media screen and (max-width: 600px) {
    width: 5rem;
    height: 0.4rem;
  }
}
.cursor-container{
  cursor: pointer;
}

.signup-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  & .left-inner-content {
    align-items: center;
    justify-content: center;
    max-width: 36rem;
    display: flex;
    margin-top: 1.133rem !important;
    flex-direction: column;
    row-gap: 0.8rem;
    & .success-icon{
      padding-top: 2rem;
      svg{
        width: 8rem;
        height: 8rem;
      }
    }
    & .left-description-text {
      font-size: $h6;
      color: $clr_sub_header;
    }
    & .left-plan-text{
      font-size: $h2;
      font-weight: $font_bold;
      color:$clr_black
    }
    & .view-all-plans{
      padding-bottom: 3rem;
      padding-top: 1.5rem;
    }
  }
  & .left-inner-content-add-create{
    align-items: center;
    justify-content: center;
    max-width: 36rem;
    display: flex;
    margin-top: 1.133rem !important;
    flex-direction: column;
    row-gap: 0.8rem;
    & .success-icon{
      padding-top: 2rem;
      svg{
        width: 8rem;
        height: 8rem;
      }
    }
    & .left-description-text {
      font-size: $h6;
      color: $clr_sub_header;
      font-weight: $font_normal;
    }
    & .left-plan-text{
      font-size: $h2;
      font-weight: $font_bold;
    }
    & .view-all-plans{
      padding-bottom: 3rem;
      padding-top: 1.5rem;
    }
  }
  & .left-inner-content-add-org{
    align-items: center;
    justify-content: center;
    max-width: 36rem;
    margin-top: 1.55rem !important;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    & .success-icon{
      padding-top: 2rem;
      svg{
        width: 8rem;
        height: 8rem;
      }
    }
    & .left-description-text {
      font-size: $h6;
      color: $clr_sub_header;
      font-weight: $font_normal;
    }
    & .left-plan-text{
      font-size: $h2;
      font-weight: $font_bold;
    }
    & .view-all-plans{
      padding-bottom: 3rem;
      padding-top: 1.5rem;
    }
  }
  & .plan-choose-btn {
    box-shadow: none !important;
    font-size: $p2;
    background-color: $clr_blue;
    width: 100%;
    border-radius: 0.41rem;
    text-transform: none !important;
    svg{
      path{
        fill: $clr_white;
      }
    }
    &:focus {
      outline: none;
    }
  } 
  & .plan-disabled-choose-btn{
    font-size: $h6;
    width: 100%;
    background-color: $clr_blue; 
    color: $clr_gray_light; 
    cursor: none; 
    opacity: 0.6; 
    text-transform: none !important;
    svg {
        path {
            fill: $clr_gray_light;
        }
    }
  }
  .signup-plan-btn{
    height: 5rem;
    border-radius: 0.83rem !important;
  }
  & .form-wrapper {
    width: 30rem;
    margin-inline: auto;
    & .form {
      display: flex;
      flex-direction: column;
      row-gap: 2.083rem;
    }
  }
  .success-container {
    .divider-box {
       background-color: $clr_gray_light;
       height: 0.05rem;
       width: 100%;
     }
     .subheader-text{
      font-weight: $font_semibold;
     }
   }

}


.circularProgress {
  color: $clr_white;
  z-index: 1301; /* theme.zIndex.drawer + 1 is typically 1300 */
}
.add-organization-btn{
  box-shadow: none !important;
  font-size: $p2!important;
  background-color: $clr_blue !important;
  width: 100%;
  height:3.75rem;
  border-radius: 0.41rem;
  text-transform: none !important;
  font-weight: $font_medium !important;
  box-shadow: none !important;
}

.add-org-description-text {
  font-size: $h6 !important;
  color: $clr_sub_header !important;
  font-weight: $font_normal !important;
  font-family: $font !important;
}

.add-org-heading-text{
  font-size: $h2 !important;
  font-weight: $font_bold !important;
  font-family: $font !important;
}

.already-text{
  font-size: $h6 !important;
  font-weight: $font_bold;
}

// Mobile responsive class
@media (max-width: 600px) {
        .signup-content-wrapper {
          .left-inner-content-add-org {
            margin-top:0 !important
          }
        }
        .isMobileScreen-choosePlan{
          padding: 0 1.25rem 0 !important;
        }
        .grid-left{
          justify-content: center !important;
          background-size: 85% !important;
        }
}
.button-margin-bm{
  margin-bottom: 10% !important;
}

