.bg-background {
  background-color: $clr_white;
}

.text-danger {
  color: $clr_red !important;
}

.user-layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;


  &-grid-wrapper {
    flex: 1;
    overflow: hidden;
  }

  &-grid {
    height: 100%;
    width: 100%;
    display: flex;

    &-sidebar-grid {
      width: 20%;
    }

    &-outlet-grid {
      overflow: hidden;
      height: 100%;
      width: 80%;
      flex-direction: column;
      display: flex;
      flex-grow: 1;

      &-outlet-wrapper {
        flex: 1;
        flex-grow: 1;
        overflow-y: auto;
      }
    }
  }
}

// sidebar
.user-sidebar-dashboard {
  height: 100% !important;
  border-right: 0.06rem solid $clr_light_border_grey;

  // background:transparent !important;
  & .MuiPaper-root {
    background: transparent !important;
    width: '100%';
    position: relative;
    overflow-y: auto;
    border: none;
    @media (max-width: 768px) {
      background: $clr_background_shade !important;
    }
  }

  .user-sidebar-list {
    padding-left: 3rem;
    min-width: 20rem;
    flex-shrink: 0;

    .MuiListItem-padding {
      padding: 0;
    }

    display: flex;
    flex-direction: column;
    row-gap: 0.333rem;
    overflow-y: auto;

    .MuiListItemButton-root {
      display: flex;
      column-gap: 0.483rem;
      padding: 1rem 3.2rem;
      border-radius: 0.417rem;
      color: $clr_black;

      &:hover {
        color: $clr_blue;
        background-color: transparent !important;
        svg path{
          stroke: $clr_blue !important ;
        }
      }

      span {
        margin-left: 0.5rem;
        font-size: 1.25rem;
        font-weight: $font_medium;
      }
    }

    .active {
      color: $clr_blue !important;
      stroke: $clr_blue !important;
      background-color: transparent !important;

      span {
        color: transparent !important;
      }
    }

    .active-link {
      color: $clr_blue;

      span {
        color: $clr_blue !important;
      }
    }

    .active-drawer-icon {
      font-size: 2rem;
      color: $clr_blue !important;

      path {
        stroke: $clr_blue !important;
      }

      &:hover {
        color: $clr_blue !important;
        background-color: transparent !important;
      }
    }

    .inactive-drawer-icon {
      font-size: 2rem;
      color: $clr_black !important;

     
    }
  }
}
.user-sidebar-dashboard-responsive {
  height: 100% !important;
  width: 100% !important;
  background-color: $clr_black !important;

  &-close-icon-grid{
    padding-top: 3rem;
    display:flex !important;
    background-color: $clr_black;
    justify-content: flex-end;
    width:100vw !important;
    padding-right: 1rem;
    color: $clr_white;
    border: none !important;
  }
  .close-icon{
    width: 2rem;
    height:2rem;
  }
  &-menu-container{
    background-color: $clr_black !important;
    height: 100%;
    border: none !important;
    padding-left: $p5;
    padding-right: $p5;

    padding-top: 1.916rem !important;

    &-item-list{
      color:$clr_white;
      background-color:$clr_black;
      
      .user-sidebar-list {
        min-width: 20rem;
        flex-shrink: 0;    
        .MuiListItem-padding {
          padding: 0;
        }
    
        display: flex;
        flex-direction: column;
        row-gap: 0.333rem;
        overflow-y: auto;
    
        .MuiListItemButton-root {
          display: flex;
          column-gap: .483rem;
          border-radius: 0.417rem;
          color: $clr_white;
          padding-left: 0rem;
    
          &:hover {
            color: $clr_blue;
            background-color: transparent !important;
            svg path{
              stroke: $clr_blue !important ;
            }
          }
    
          span {
            margin-left: 0.5rem;
            font-size: $p5;
            font-weight: $font_medium;
          }
        }
    
        .active {
          padding-left: 0rem;
          color: $clr_blue !important;
          stroke: $clr_blue !important;
          background-color: transparent !important;
    
          span {
            color: transparent !important;
          }
        }
    
        .active-link {
          color: $clr_blue;
    
          span {
            color: $clr_blue !important;
          }
        }
    
        .active-drawer-icon {
          font-size: 2rem;
          color: $clr_blue !important;
    
          path {
            stroke: $clr_blue !important;
          }
    
          &:hover {
            color: $clr_blue !important;
            background-color: transparent !important;
          }
        }
    
        .inactive-drawer-icon {
          font-size: 2rem;
          color: $clr_black !important;
        }
        .line-divider{
          border:.0416rem solid $clr_medium_dim_gray;
          margin: 1.33rem 0;
        }
      }
    }
  }
}


.sidebar-divider {
  margin: 1rem !important;

}

.list-header {
  font-size: $p3;
  margin-top: 1.916rem;
  margin-bottom: 0.2rem;
}


//layout appbar

.appbars {
  box-shadow: 0rem 0.8rem 5rem 0rem $medium_grey !important;
  border-bottom-width: 0.0416rem;
  border-bottom-color: $clr_appbar_border;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: $clr_white !important;
  min-height: 6.666rem;
  position: relative;
  z-index: 100;

  &-logo-container {
    background-color: $clr_white;
    height: 6.666rem;
    display: flex;
    align-items: center;
    padding-left: 6.5rem;
    font-size: 2.6rem;
    font-weight: $font_extrabold;
    width: 20% !important;
    &-svg {
      width: 13rem;
      height: 3rem;
    }
    }

  &-right{ 
    display:flex;
    justify-content:flex-end;
    width: 80% !important;
    padding-right: 6.7rem !important;
  }
  &-group {
    width: 20rem !important;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    border: 0.1rem solid $clr_light_border_grey;
    margin-left:2rem !important;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
    &-text{
      color:$clr_black !important; 
      font-family:$font;
      font-size:$p2;
      font-weight:$font_semibold;
      line-height: 1.412rem !important;
      
    }
    &-avatar {
      margin-left: 0.3rem;
      background-color: $soft-cyan !important;
      color: $clr_white;
      font-size: $h4;
      font-weight: $font-bold;
    }

    &-text {
      text-align: left;
      line-height: 1.1rem;
      font-size: $p3 !important;
      font-weight: $font_semibold !important;
    }

    &-img {
      width: 4rem !important;
      height: 4.6rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    &-textgroup {
      margin-left: 1.1rem;
    }

    &-subheader-text {
      font-size: 0.95rem !important;
      font-weight: $font_semibold;
      text-align: left;
      color: $clr_gray_light;
    }

    &-arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-arrow-down {
      font-size: 1.7rem !important;
    }
  }
}

.appbars-responsive{

  &-logo-container {
    background-color: $clr_white;
    height: 3.83rem;
    display: flex;
    align-items: center;
    padding-left: $h6;
    font-size: 2.6rem;
    gap: 1.75rem;
    font-weight: $font_extrabold;
    width: 20% !important;
    &-svg {
      width: 13rem;
      height: 3rem;
    }
    &-menu-button {
      background: none; /* Remove default button background */
      border: none; /* Remove default button border */
      padding: 0; /* Remove default padding */
      display: flex; /* Ensure the button's content (MenuIcon) uses flexbox */
      align-items: center; /* Vertically align the icon inside the button */
      justify-content: center; /* Center the icon horizontally */
      cursor: pointer; /* Change the cursor to pointer on hover */
    }
    }
    &-right{
      display:flex;
      justify-content:flex-end;
      width: 75% !important;
    }
}
.dashboard {
  flex-grow: 1;

  &-left {
    position: relative;
    z-index: 100;
    padding: $h2;
    align-items: center;
    padding-right: $h2;
    border-right: 0.06rem solid $clr_light_border_grey;

    &-profile {
      color: $clr_white;
      border-radius: 0.8rem;
      align-content: center !important;
      background: url('/src/assets/png/user-background.png');
      background-repeat: no-repeat;
      margin-bottom: $p3 !important;
      padding-left: $p2 !important;
      &-textgroup{
        margin-top: 2.5rem;
      }
      &-buttongroup{
        margin-bottom: 3rem;
      }
      &-greeting-text {
        font-size: $p5 !important;
      }

      &-title {
        font-weight: $font_semibold !important;
        display: inline-block;
        line-height: $p2;

        &-wave-icon {
          display: inline-block;
          width: $p1;
          height: $p1;
          padding-left: 2rem;
          background-image: url('../assets/svg/wave.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &-subtitle {
        margin-bottom: 1.9rem !important;
        display: block;
        font-size: $h4 !important;
        font-weight: $font_semibold !important;
      }

      &-accounttitle {
        margin-top: 1rem !important;
        display: block;
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
      }

      &-button {
        background: $clr_white !important;
        color: $clr_blue !important;
        text-transform: none !important;
        font-size: 1rem !important;
        font-weight: $font_medium;
        line-height: 1.4rem;
        box-shadow: none !important;
      }

      &-viewbutton {
        background: $clr_blue !important;
        color: $clr_white !important;
        text-transform: none !important;
        font-size: 1rem !important;
        font-weight: $font_medium;
        line-height: 1.4rem;
        box-shadow: none !important;
      }

      &-card {

        justify-content: center;
        height: 15.5rem;
        border-radius: 0.8rem;
        border: 0.02rem solid $clr_light_border_grey;
        padding-bottom:2.0475rem !important;
        height:auto;
        &-container {

          padding-right: $h2;
          padding-left: $h2;
        }

        &-status {
          display: flex !important;
          align-items: center;
          gap: 1.2rem;
        }

        &-block {
          font-size: $h6 !important;
          display: flex !important;

          gap: 1rem;

          &-title {
            font-size: $h6 !important;
            color: $clr_grey;
            font-weight: $font_medium;
            margin-top: 0.5rem;
          }

          &-content {
            font-size: $h6 !important;
            font-weight: $font_semibold;
            margin-top: 0.7rem;
          }

          &-date {
            padding-right: 0.1rem;
            border-right: 0.05rem solid $clr_grey;
            padding-bottom: 0.5rem;
          }
        }

        &-recent {
          cursor: pointer;
          gap: 1.3rem;
          align-items: center;
          display: flex;
          font-weight: $font_semibold;
          font-size: $p2;
          height: 4.5rem;
          background-color: transparent;

          &-dividers {
            border-top: 0.0625rem solid $clr_gray_very_light;
          }
        }
      }
    }


  }


  &-tight-spacing>.MuiGrid-item {
    padding: 0.3rem;
  }

  &-right {
    position: relative;
    z-index: 100;
    padding-top: $h2;
    padding-bottom: $h2;
    margin-left: $h3 !important;
    &-calendar {
      position: relative;
      border-radius: 0.8rem;
      box-shadow: 0rem 0.06rem 1.3rem 0rem $clr_shadow !important;
    }
  }


  &-right-events {
    margin-top: 2rem !important;
  }

  &-subhead {
    font-size: $p2 !important;
    font-weight: $font_bold !important;
  }

  &-card {
    text-align: left;
    background: $clr_white !important;
    width: 15rem;
    height: 13.3rem;

    .MuiCardContent-root {
      padding: 0rem;
    }

    &-icon {
      padding-top: 1rem;
      padding-left: 1rem;
      display: flex;
      justify-content: left;
      font-size: 4rem;
    }

    &-title {
      font-weight: $font_medium !important;
      font-size: $p2 !important;
      color: $clr_black ;
      padding-left: 1rem;
      justify-content: left !important;
    }

    &-count {
      padding-left: 1rem;
      font-weight: $font_semibold !important;
      font-size: $h4 !important;
      color: $clr_black ;
      text-align: left;
    }
  }

  &-nocalendar {
    background: linear-gradient(360deg, $clr_dark_blue 0%, $clr_sky_blue 100%);
    height: 30rem;
    border-radius: .8rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
    color: $clr_white;

    &-title {
      padding-right: 1.7rem;
      font-size: $h4 !important;
      font-weight: $font_semibold;
      line-height: 3.1rem !important;
      text-align: left !important;
    }

    &-subtitle {
      margin-top: 0.5rem !important;
      margin-bottom: 2rem !important;
      padding-right: 2rem !important;
      font-size: 1.1rem !important;
      font-weight: $font_normal;
      line-height: 1.2rem;
      letter-spacing: 0.6rem;
      text-align: left;

    }
  }
}


@media (max-width: 600px) {
.dashboard{
  &-left {
    padding:$h5;
    border: none;
    &-profile {
      
      &-title{

        &-greeting-text{
          font-size: $p2 !important;
          font-weight: $font_bold;
        }
      }
      &-subtitle{
        font-size: $p5 !important;
        font-weight:$font_bold !important ;
      }
      &-button {
        font-size:1.083rem !important ;
      }

      
      &-card{
        margin-top:.9rem !important;
        padding-bottom: 0rem !important;
        border: none;

        &-recent{
          font-size: $p1 !important;

          &-dividers{
            border-top: 0.0417rem solid $clr_light_sky_blue !important;

          }
        }
      }

      &-dashboard-event{
        width: 100% !important;
        height: 5.833rem !important;
        border-radius: .416rem;
        border:.0416 solid $clr_light_border_grey !important ;
        align-content: center !important;
        padding-left: 1.666rem;

        .dashboard-content-card{
          display: flex;
          flex-direction: row;
          align-items: center !important;
          padding: 0rem !important; // Adjust padding as needed  
        }
          .dashboard-card-icon {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-shrink: 0 !important; // Prevents the icon from shrinking
            svg {
              width: 3.33rem !important; // Adjust size as needed
              height: 3.33rem !important;
            }
          }
          .dashboard-card-title {
            font-size: $h6 !important; // Adjust font size
            font-weight: $font_semibold !important;
            font-family: $font !important; // Adjust font weight
            color:$clr_black !important; // Adjust color
            flex-grow: 1 !important; // Allows the title to take remaining space
          }
          .dashboard-card-count {
            font-size: $h5 !important; // Adjust font size
            font-weight: $font_bold !important;
            color:$clr_black; // Adjust color
            padding-right: 2.55rem !important;
          }
        
      }

      &-dashboard-session{
        width: 100% !important;
        height:12rem !important;
        border-radius: .833rem;
        border:.0417rem solid $clr_light_border_grey !important ;
        padding-left: 1.66rem;

        .dashboard-content-card{
          display: flex;
          padding: 0rem !important;
          flex-direction: column; 
          align-content: left !important;  
        }
          .dashboard-card-icon {
            flex-shrink: 0;
            svg {
              width: 3.33rem; // Adjust size as needed
              height: 3.33rem;
            }
          }
          .dashboard-card-title {
            font-size: $p2 !important; // Adjust font size
            font-weight: $font_semibold !important;
            font-family: $font !important; // Adjust font weight
            color:$clr_black !important; // Adjust color
          }
          .dashboard-card-count {
            font-size: $h4 !important; // Adjust font size
            font-weight: $font_bold !important;
            color:$clr_black; // Adjust color
            font-family: $font;
          }
        
      }
      &-accountittle{
        font-size: $h5 !important;
        margin-top: 1.66rem !important;
      }
    }
  }
  &-right{
    padding: $h5 !important;
    padding-top: 0rem !important;
    margin-left: 0rem !important;

    &-events{
      margin-top: 0rem!important;
    }
  }

  &-subhead{
    font-size:$h6 !important;
    font-weight:$font_semibold !important ;
    font-family: $font !important;
  }
}
}
.user-profile-menu {
  &-icon{
    width:1.67rem !important;
    height:1.67rem !important;
  }
  & .MuiPaper-root {
    min-width: 16.666rem !important;
    padding-inline: 1.5rem !important;
    padding-block: 0.833rem !important;
    box-shadow:none ;
  }

  & li {
    padding-block: 0.5rem;
    font-size: 1.2rem;
  }

  & .menu-item-text {
    font-size: 1.125rem;
    margin-left: 0.75rem;
    font-weight: $font_medium;
    color:$clr_black !important; 
    font-family:$font;
    font-size:$p2;
    font-weight:$font_semibold;
    line-height: 1.412rem !important;
  }

  & .menu-item-margin {
    margin-bottom: 0.5rem;
    margin-top: 0.9rem;
  }
}

.no-records {
  display: flex;
  padding: 1rem !important;

  &-container {
    margin-top: 1rem !important;
    background-color: $clr_white;
    padding-left: 4rem;
    border-radius: 0.9rem;
  }

  &-image {
    margin-top: 1rem !important;
    font-size: 13rem !important;

  }

  &-title {
    display: flex;
    font-weight: $font_semibold !important;
    font-size: $p3 !important;
    justify-content: center !important;
    margin-top: 3rem !important;
    color: $clr_black !important;
  }

  &-subtitle {
    font-weight: $font_normal !important;
    font-size: $p2 !important;
    justify-content: center !important;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $clr_black !important;
  }
}

@media (max-width: 600px) {
.no-records{
  &-container{
  border: .0417rem solid $clr_light_border_grey;
  border-radius: .833rem;
  padding-left: 1.083rem;
  height: 16.5rem;
  }
  &-subtitle{
    padding-top: .5rem;
  }

  &-image{
    margin-top: 3.5rem !important;
  }
}
}