.bg-background {
  background-color: $background;
}

.text-danger {
  color: $clr_red !important;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &-sidebar{
   max-width:30rem !important;
  }
  &-grid-wrapper {
    flex: 1;
    overflow: hidden;
  }

  &-grid {
    background-color: $background;
    height: 100%;
    width: 100%;
    display: flex;
    &-outlet-grid {
      overflow: hidden;
      height: 100%;
      width: 100%;
      flex-direction: column;
      display: flex;
      flex-grow: 1; 
      &-outlet-wrapper {
        flex: 1;
        flex-grow: 1; 
        background-color: $background;
        overflow-y: auto;
      }
    }
  }
}

// sidebar
.sidebar-dashboard {
  height: 100% !important;
  background: $background !important;
  border-right: 0.06rem solid $clr_light_border_grey;
  & .MuiPaper-root {
    width: '100%';
    position: relative;
    overflow-y: auto;
    border: none;
  }
}
.sidebar-divider {
  margin: 1rem !important;
}
.list-header {
  font-size: $p3;
  margin-top: 1.916rem;
  margin-bottom: 0.2rem;
}

.sidebar-list {
  .MuiListItem-padding {
    padding: 0;
  }

  display: flex;
  flex-direction: column;
  row-gap: 0.333rem;
  overflow-y: auto;

  .MuiListItemButton-root {
    display: flex;
    column-gap: 0.483rem;
    padding: 0.5rem 6rem;
    border-radius: 0.417rem;
    font-size: 1.5rem;
    color: $clr_black;

    &:hover {
      color: $clr_blue;
    }

    span {
      margin-left: 0.5rem;
      font-size: 1.25rem;
      font-weight: $font_medium;
    }
  }

  .active-link {
    color: $clr_blue;
    span {
      color: $clr_blue !important;
    }
  }

  &-active-drawer-icon {
    color: $clr_blue !important;
    
    path {
      fill: $clr_blue;
    }
  }
}

//layout appbar

.appbar {
  border-bottom-width: 0.0416rem;
  border-bottom-color: $clr_gray_faded;
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: $clr_white !important;
  min-height: 6.666rem;

  &-logo-container {
    background-color: $clr_white;
    height: 6.666rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    font-weight: $font_extrabold;
    &-svg {
      width: 13rem;
      height: 3rem;
    }
  }

  &-notification {
    cursor: pointer;
    position: relative;
    border: 0.1rem solid $clr_light_border_grey;
    position: relative;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $p3;
    width: 4.6rem;
    height: 4.6rem;

    &-icon {
      display: flex;
      justify-content: center;
      font-size: 2.6rem; // For scaling the icon size if it is an inline SVG or uses font size
    }

    &-badge .MuiBadge-badge {
      position: absolute !important;
      top: -2rem !important;  
      right: -1rem !important;
      background-color: $clr_blue;
      color: $clr_white;
      font-size: 0.75rem;
      font-weight: $font_bold;
    }
  }

  &-group {
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid $clr_light_border_grey;
  margin-right: 3.166rem;
  cursor: pointer;

    &:hover {
      cursor: pointer;
    }

    &-text {
      text-align: left;
      line-height: 1.1rem;
      font-size: $p3 !important;
      font-weight: $font_semibold !important;
    }

    &-img {
      width: 4rem !important;
      height: 4.6rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
  
      img {
        width: 100%; 
        height: 100%;
        object-fit: cover; 
        border-radius: inherit;
      }
    }

    &-textgroup{
      margin-left: 1.3rem;
    }
    &-subheader-text {
      font-size: 0.95rem !important;
      font-weight: $font_semibold;
      text-align: left;
      color: $clr_gray_light;
    }
    &-arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-arrow-down {
      padding-right: 0.5rem;
      color: clr_black;
      width: 2rem;
      height: 2rem;
    }
  }
}


.dashboard {
  padding: $p3;
  margin-top: $p3 !important;
  flex-grow: 1;
  &-left {
    flex-grow: 1;
    border-right: 0.06rem solid $clr_light_border_grey;
  }

  &-title {
    font-size: $p2 !important;
    color: $clr_dark_orange;
    font-weight: $font_semibold !important;
    display: inline-block;

    .greeting-text {
      margin-left:0.5rem;
    }

    &-wave-icon {
      display: inline-block;
      width: $p1;
      height: $p1;
      background-image: url('../assets/svg/wave.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-tight-spacing>.MuiGrid-item {
    padding: 0.3rem;
  }

  &-right{
    margin: $p3 !important;
  }
  &-right-events{
    margin-top: 2rem !important;
  }
  &-subtitle {
    margin-bottom: 2rem !important;
    display: block;
    font-size: $h4 !important;
    font-weight: $font_semibold !important;
  }
  &-subhead {
    font-size: $p2 !important;
    font-weight: $font_bold !important;
  }
  &-card {
    text-align: center;
    padding: 2;
    background: $background !important;
    width: 15rem;
    height: 14.5rem;
    cursor: pointer;
    &-icon {
      display: flex;
      justify-content: center;
      font-size: 5.3rem; // For scaling the icon size if it is an inline SVG or uses font size
    }

    &-title {
      font-weight: $font_medium !important;
      font-size: $p3 !important;
      color: $clr_black ;
    }
  }

}

.user-profile-menu {
  & .MuiPaper-root {
    min-width: 16.666rem !important;
    padding-inline: 1.5rem !important;
    padding-block: 0.833rem !important;
  }

  & li {
    padding-block: 0.5rem;
    font-size: 1.2rem;
  }

  & .menu-item-text {
    font-size: 1.125rem;
    margin-left: 0.75rem;
    font-weight: $font_medium;

  }
  & .menu-item-margin {
   margin-bottom: 0.5rem;
   margin-top: 0.6rem;
  }
}
.no-record {
  display: flex;
  &-container {
      background-color: $background;
      margin: 1rem;
      border-radius: 0.9rem;
      justify-content: center !important;
  }
  &-image{
    margin-top: 5rem !important;
    width:20rem !important;
    height:20rem !important;
  }
  &-title{
    display: flex;
    font-weight: $font_semibold !important;
    font-size: $p3 !important;
    justify-content: center !important;
    margin-top: 3rem !important;
    color:$clr_black !important;
  }
  &-subtitle{
    font-weight: $font_normal !important;
    font-size: $p1 !important;
    justify-content: center !important;
    align-items: center;
    margin-bottom: 10rem !important;
    color:$clr_gray_extra_dark !important;
  }
}
