.main-account-title{
    font-weight: $font_semibold !important;
    font-size: $h6 !important;
}
.main-account-grid{ 
    background-color: $clr_white;
    overflow-y: auto;
    height: 100% !important;
}
.main-account-profile-grid{
    margin-top: 1rem !important;;
}
.main-security-title{
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}
.main-account-title-grid{
    display: flex;
    align-items: center;
}
.main-account-profile-image{
    display: flex;
}

.main-user-profile {
    width: 6.667rem !important;
    height: 6.667rem !important; 
    border-radius: 3.333rem !important; 
    object-fit: cover !important;
    &-text{
        background-color:$clr_blue_violet !important;
        color: $clr_white;
        font-size: $h2 !important;
        font-weight: $font-bold !important;
    }
     
}
.main-account-user-detail1{
    font-weight: $font_medium !important;
    font-size: $h6 !important;
    line-height: 1.5rem !important;
    color: $light_grey;
    margin-top: 2rem !important;
}
.main-account-main-grid{
    margin-bottom: 2rem;
}
.main-account-user-detail2{
    line-height: 3rem !important;
    font-weight: $font_semibold !important;
    font-size: $h6 !important;
}
.main-account-profile-grid{
    width: 49.438rem;
    border: 0.0833rem solid $clr_gray_very_light;
    border-radius: 0.625rem;
    padding: 1.5rem;
}
.main-account-tab-details{
    margin-top: 1rem;
}

.connected{
    margin-top: 1rem;
}
.main-account-drawer{
    padding: 3rem;
    max-width: 39.083rem;
}
.main-account-drawer-text{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.33rem !important;

}

.main-account-drawer-textfield{
    margin-bottom: 2rem !important;

}
.main-user-details{
    margin-top: 2rem !important;
}

.main-account-drawer-btn{
    justify-content: flex-end;
    align-items: center;
    .main-user-submit-btn{
        width: 10.25rem;
        font-size:$h6;
        font-weight:$font_semibold; 
        box-shadow:none !important;
        text-transform: none !important;
    }
}
.main-outline{
    border: 0.083rem solid $clr_gray_dark !important;
}
.main-account-settings-main-title{
    padding: 1rem !important;
    font-size: $h4 !important;
    font-weight: $font_bold  !important;
}
.main-account-tabs {
    align-items: flex-start !important;
    .css-1usuzwp-MuiButtonBase-root-MuiTab-root{
        margin-left:1rem !important;
    }
     .MuiTabs-indicator {
        border-bottom: 0.167rem solid $clr_green !important;
      }
      .MuiTabs-flexContainer{
        border-bottom: 0.125rem solid $clr_tab_border_color
      }
      .css-1qltlow-MuiTabs-indicator{
        background-color: transparent;
      }
    
      &-container{
        justify-content: flex-start;
        border-bottom: 0.1rem solid $clr_tab_border_color;
        padding: 0 !important;
        .MuiTabPanel-root{
            min-height: 40rem;
        }
    }
    &-item{
        padding: 3rem 3rem 2rem 3rem !important;
        &:first-of-type {
            padding: 3rem 2rem 2rem 2rem !important; 
        }
    }
      .MuiTab-textColorPrimary {
        color: $clr_text_gray;
        font-weight: $font_medium;
        text-transform: none;
        font-size: $h6 ;
    }
  
    .Mui-selected{
        color: $clr_black !important;
    }
}
.main-account-tab-title{
    font-weight: $font_medium !important;
    font-size: $h6 !important;
    text-transform: none !important;

}
.main-security-container{
    padding: 1rem;  

.main-security-text{
    font-weight: $font_semibold !important;
    font-size: $h6 !important;
    margin-bottom: 0.625rem !important;

}
.main-security-subtext{
    color: $light_grey !important;
    font-size: $p1 !important;
    font-weight: $font_medium !important;
    margin-bottom: 1.25rem !important;

}
.main-security-text-border{
    align-items: center;
    justify-content: space-between !important;
    margin-top: 1rem;
    
}
.main-security-password-reset-btn{
    box-shadow: none !important;
    padding: 0.8rem 3rem !important;
    background: $clr_green !important;
}

.main-security-bottom-border{
    padding-bottom: 0.625rem;
    border-bottom: 0.083rem solid $clr_light_border_grey;
}
}

//newly added
.main-profile-text{
    font-weight:$font_medium !important;
    font-size: $h4 !important;
}
.main-profile-email{
    font-weight:$font_semibold !important;
    font-size: $h5 !important;
    margin-top: 1.667rem  !important;
}
.main-profile-email-subtext{
    font-weight:$font_medium !important;
    font-size: $h6 !important;
    margin-bottom: 1.667rem !important;
}
.main-user-profile-upload-btn{
    margin-left: 1.5rem !important;
    padding: 1rem 1.667rem !important;
    border-radius: 4.583rem !important;
    background-color: $clr_light_grey !important;
    color: $clr_black !important;

}
.main-user-submit-btn{
    background-color: $clr_green  !important;
}


    .edit-organisation-text,.edit-personal-text{
        font-size: $h5 !important;
        font-weight: $font_semibold !important;
    }

.payment-configuration{
    &-container {
        margin-top: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }
    &-title{
        font-size: $h5 !important;
        font-weight: $font_semibold !important;
    }
    &-sub-title{
        font-size: $p5 !important;
        font-weight: $font_semibold !important;
        &-grid {
            border-top: $border_normal solid $clr_gray_light;
            border-bottom: $border_normal solid $clr_gray_light;
            padding: 1rem 0 1rem 0;
        }
    }
    &-text {
        font-size: $p2 !important;
        font-weight: $font_normal !important;
        color: $clr_grey !important;
    }
    &-button {
        &-save {
            font-size: $p2 !important;
            font-weight: $font_semibold !important;
            text-transform: none !important;
            background-color: $clr_green !important;
        }
    }
    &-add-tax-type{
        .Mui-checked {
            color: $clr_green !important;
        }
    }
}
 
.plan-billing{
    .container{
        margin-top: 2rem;
        padding: 1rem 1rem 1rem 2rem;

    }
    .title{
        font-size: $h5 !important;
        font-weight: $font_semibold !important;  
    }
    .c-plan-card{
        border: 1px solid $clr_gray_light;
        padding-inline: 0.833rem;
        padding-block: 1.667rem;
        border-radius: 0.625rem;
        .svg-img svg{
            width: 4rem;
            height: 4rem;
        }
        .plan-name{
            font-size: $h5 !important;
            font-weight: $font_semibold !important;
        }
        .plan-type{
            color: $clr_sub_header !important;
            font-size: $h6 !important;
            font-weight: $font-medium !important;
        }
        .plan-amount{
            font-size: $h2 !important;
            font-weight: $font-bold !important;
            width: 20.833rem;
            display: block;
            @media (max-width: 800px) {
                width: auto;
            }
        }
        .plan-btn{
            // width: 21.25rem;
            border: 0.167rem solid $clr_green !important;
            color: $clr_green !important;
            font-size: $p2 !important;
            font-weight: $font-medium !important;
            border-radius: 0.833rem !important;
            @media (max-width: 800px) {
                width: auto;
        }
    }

    }
    .plan-box{
        
        padding-block: 1.208rem;
        padding-inline: 1.042rem;
        background-color: $clr_light_grey;
        .header{
            font-weight: $font_normal !important;
            font-size: $h6 !important;
            color:$clr_gray_dark_text !important;
        }
        .header-value{
            font-weight: $font_semibold !important;
            font-size: $p6 !important;
        }
        .divider{
            width: 0.083rem;           
            height: 3.5rem;        
            background-color: $clr_gray_dark_text ; 
            display: inline-block;
        }
        .upgrade-btn{
            background-color: $clr_green !important;
            box-shadow: none !important;
            text-transform: none !important;
            
        }
        
    }

    .c-plan-card-2{
        background: linear-gradient(90deg, #33AC42 0%, #28B66A 53%, #2AAC62 99%);
        border: 1px solid $clr_gray_light;
        padding-inline: 0.833rem;
        padding-block: 1.667rem;
        border-radius: 0.625rem;
        .svg-img svg{
            width: 4rem;
            height: 4rem;
        }
        .plan-name{
            color: $clr_white !important;
            font-size: $h5 !important;
            font-weight: $font_semibold !important;
        }
        .plan-type{
            color: $clr_white !important;
            font-size: $h6 !important;
            font-weight: $font-medium !important;
        }
        .plan-amount{
            color: $clr_white !important;
            font-size: $p5 !important;
            font-weight: $font-semibold !important;
            width: 20.833rem;
            display: block;
            @media (max-width: 800px) {
                width: auto;
            }
        }
        .plan-btn{
            // width: 21.25rem;
            background-color: $clr_white !important;
            border: 0.167rem solid $clr_green !important;
             color: $clr_green !important;
             font-size: $p2 !important;
             font-weight: $font-medium !important;
             border-radius: 0.833rem !important;
                        @media (max-width: 800px) {
                                width: auto;
                            }
         }
    }
}