.login-org-main-container {
  height: 100vh;
  & .grid-layout {
    min-height: 100% !important;
    max-width: 100vw;
    margin-inline: auto;
    & .grid-right {
      min-height: 100%;
      justify-content: end !important;
      align-items: center !important;
      display: flex !important;
      & .right-image-container {
        height: 100%;
        width: 100%;
        display: flex;
        background: url("../assets/png/login-bg.png");
        background-repeat: no-repeat;
        border-radius: unset;
        background-size: 120% 120%;
        min-height: 70vh;
        & .image-content-text {
          margin-left: 4.875rem;
          margin-top: 4.125rem;
          color: $clr_white;

          & .paragraph {
            font-size: $h3;
          }
        }
      }
    }
    & .grid-left {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../assets/svg/background-top.svg") no-repeat top;
      background-position: center -50px;
      background-repeat: no-repeat;
      border-radius: 1.666rem;
      background-size: 50%;

      & .left-content-wrapper {
        height: 100% !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        & .left-inner-content {
          align-items: center;
          justify-content: center;
          max-width: 36rem;
          display: flex;
          flex-direction: column;
          padding-top: 2.5rem;
          & .left-header-wrapper {
            font-size: $p3;
            font-weight: $font_normal;
            line-height: 1.21rem; 
            text-align: center;
            

            & .header-title {
              font-size: $h4;
              font-weight: $font_bold;
              line-height: 3.5625rem;
              text-align: center;
            }
            & .header-description {
              font-size: $h6;
              font-weight: $font_normal;
              line-height: 19.36px;
              text-align: center;
              color: $clr_sub_header;
            }
          }

          & .form-wrapper {
            width: 360px;
            height: 207px;
            padding-top: 40px;
            margin-inline: auto;
            & .form {
              display: flex;
              flex-direction: column;
              row-gap: 2.083rem;
            }
            & .custom-button {
              width: 360px;
              height: 45px;
              border-radius:5px;
              padding: 14px 116px;
              background-color: $clr_blue;
              row-gap: 8px;
              font-weight: $font_medium;
              font-size: $p3;
              line-height: 16.94px;
            }
          }
          & .forgot-password-link {
            font-size: $p2;
            font-weight: $font_bold;
            width: 19.9375rem; 
            width: -moz-max-content;
            width: max-content;
            margin: auto;
            line-height: 1.5rem;
            color: $clr_blue;
            height: 1.5rem; 
            padding-top:0.625rem;
          }
        }
        &.account-link {
          width: 19.9375rem;
          height: 4.0625rem; 
          margin-top: 1.0625rem;
        }
        & .already-have-account-link {
          text-align: center;
          font-size: $p2;
          font-weight: $font_medium !important;
          line-height: 1.5rem;
          margin-top: 4rem !important;
          & .signup-now-text {
            color: $clr_blue;
            font-size: $p2;
            font-weight: $font_bold;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
