.login-org-main-container {
  height: 100vh;
  & .grid-layout {

    min-height: 100% !important;
    max-width: 100vw;
    margin-inline: auto;
    & .grid-right {
      position: relative;
      background: url("../assets/svg/grid-img.svg") no-repeat;
      background-size: cover;
      .grid-right-image-text{
        font-family: $font;
        font-size: $h5;
        font-weight: $font_semibold;
        color: $clr_white;
        position: absolute;
        bottom: 9rem;
        left: 4.167rem;
      }
    }
    & .grid-left {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../assets/svg/background-top.svg") no-repeat top;
      background-position: center -8.583rem;
      background-repeat: no-repeat;
      border-radius: 1.666rem;
      background-size: 40%;


      & .left-content-wrapper {
        height: 100% !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        & .left-inner-content {
          max-width: 36rem;
          display: flex;
          flex-direction: column;
          padding-top: 4.375rem;
          & .left-header-wrapper {
            font-size: $p3;
            font-weight: $font_normal;
            line-height: 1.21rem;
            text-align: center;
            

            & .header-title {
              font-size: $h2;
              line-height: 3.5625rem;
              text-align: center;
              font-weight: $font_bold !important;
            }
            & .header-description {
              font-size: $h6;
              font-weight: $font_normal;
              line-height: 19.36px;
              text-align: center;
              color: $clr_sub_header;
            }
          }

          & .form-wrapper {
            width: 360px;
            height: 207px;
            padding-top: 40px;
            margin-inline: auto;
            & .form {
              display: flex;
              flex-direction: column;
              row-gap: 2.083rem;
            }
            & .text-field{
              background-color: $clr_white;
            }
            & .custom-button {
              width: 360px;
              height: 45px;
              border-radius:5px;
              padding: 14px 116px;
              background-color: $clr_blue;
              row-gap: 8px;
              font-weight: $font_medium;
              font-size: $p2;
              line-height: 16.94px;
              box-shadow:none ;
            }
          }
          & .forgot-password-link {
            font-size: $h6;
            font-weight:$font_semibold;
            width: 19.9375rem; 
            width: -moz-max-content;
            width: max-content;
            margin: auto;
            line-height: 1.5rem;
            color: $clr_blue;
            height: 1.5rem; 
            margin-top: 1.417rem;
            cursor: pointer;
          }
        }
        &.account-link {
          width: 19.9375rem;
          height: 4.0625rem; 
          margin-top: 1.0625rem;
        }
        & .already-have-account-link {
          text-align: center;
          font-size: $h6 !important;
          font-weight: $font_medium !important;
          line-height: 1.5rem;
          margin-top: 4rem !important;
          & .signup-now-text {
            color: $clr_blue;
            font-size: $p2;
            font-weight: $font_bold;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
