.dashboard{
    &-welcome-card{
        height: 16rem;
        background-color: $clr_white;
        padding-top: 1rem;
        border-radius: 0.41rem !important;
        svg{
            width: 5rem;
            height: 10rem;
        }
        &-title{
            font-size: $h5;
            font-weight: $font_bold;
        }
        &-sub-title{
            font-size: $p2;
            font-weight: $font_medium;
        }
        &-create-button{
            background-color: $clr_green !important;
            color: $clr_white !important;
            height: 3.5rem;
            box-shadow: none !important;
            margin: 2rem 0.2rem !important;
            text-transform: none !important;
            font-size: $p3 !important;
            font-weight: $font_semibold !important;
        }
        &-manage-button{
            background-color: $clr_white !important;
            color: $clr_green !important;
            height: 3.5rem;
            box-shadow: none !important;
            border: 2px solid $clr_green !important;
            margin: 2rem 0.2rem !important;
            text-transform: none !important;
            font-size: $p3 !important;
            font-weight: $font_semibold !important;
        }
    }
    &-upcoming-event-card{
        padding: 3rem 1rem 1rem 2rem;
        background: url("../assets/svg/upcoming-event-icon.svg") no-repeat center;
        height: 16rem !important;
        background-size: cover;
        border-radius: 0.41rem !important;
        &-title{
            font-size: $h5 !important;
            font-weight: $font_bold !important;
            color: $clr_white !important;
        }
        &-date{
            font-size: $h6 !important;
            font-weight: $font_medium !important;
            color: $clr_white !important;
        }
        &-button{
            background-color: $clr_light_orange !important;
            border-radius: 0.66rem !important;
            height: 2.91rem !important;
            width: auto !important;
            font-size: $p2 !important;
            font-weight: $font_medium !important;
            color: $clr_dark_orange !important;
            max-width: 8rem;
            margin-top: 2rem;
            cursor: pointer;
        }
    }
    &-item-card{
        background-color: $clr_white !important;
        height: 6.67rem !important;
        border-radius: 0.6rem;
        svg{
            width: 3rem;
            height: 3rem;
        }
        &-title{
            font-size: $p2 !important;
            font-weight: $font_bold !important;
        }
        &-sub-title{
            font-size: $p3 !important;
            font-weight: $font_medium !important;
            color: $clr_gray_dark_text !important;
        }
    }
    &-pending-event-card{
        background-color: $clr_white !important;
        height: 9rem !important;
        border-radius: 0.6rem;
        padding: 2rem;
        &-title{
            font-size: $h5 !important;
            font-weight: $font_bold !important;
        }
        &-sub-title{
            font-size: $h6 !important;
            font-weight: $font_medium !important;
        }
        &-btn{
            background-color: $clr_green !important;
            color: $clr_white !important;
            text-transform: none !important;
            height: 3.5rem;
            font-size: $p2 !important;
            font-weight: $font_medium !important;
        }
    }
        &-event-list {
            &-title {
                font-size: $h5 !important;
                font-weight: $font_bold;
            }
            &-sub-title {
                font-size: $h6 !important;
                font-weight: $font_medium;
            }
            &-card{
                .custom-list{
                    margin-left: 0 !important;
                }
            }
        }
    &-calendar-card{
        background-color: $clr_white;
        border-radius: 0.66rem;
        width: 29.5rem;
        height: 32rem;
        margin-top: 1rem;
        &-header{
            font-size: $p2 !important;
            font-weight: $font_bold !important;
        }
        &-icon{
            svg{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        &-title{
            font-size: $h6 !important;
            font-weight: $font_bold !important;
            padding-left: 1.8rem;
            &-container{
                margin: 1rem;
            }
        }
        &-sub-title{
            font-size: $p2 !important;
            font-weight: $font_semibold !important;
            padding-left: 1.8rem;
        }
        &-day{
            padding-left: 1.7rem;
            padding-top: 1rem;
            font-size: $p2 !important;
            font-weight: $font_bold !important;
        }
        &-text-item {
            height: 3.6rem;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid $clr_medium_grey;
              }
            
        }
        &-text-item {
            height: 3.6rem;
            &:not(:last-child) {
                border-bottom: 1px solid $clr_medium_grey;
              }
            
        }
        &-event-item {
            height: 3.6rem;
            &:not(:last-child) {
                border-bottom: 1px solid $clr_medium_grey;
            }
            cursor: pointer;
        }
        &-event {
            background-color: $clr_green_light;
            width: 25rem;
            border: 2px solid $clr_green_slight_light;
            border-radius: 0.66rem;
          
            @for $i from 0 through 6 {
                &-#{$i} {
                  height: if($i > 6, #{3.6rem * 6}, #{3.6rem * ($i + 1)});
                }
              }
              &-title{
                font-size: $p3 !important;
                font-weight: $font_bold !important;
              }
          }
    }
    &-no-event-calender{
        background-color: $clr_white;
        margin: 1rem;
        border-radius: 0.5rem;
        height: 33rem;
        margin-top: 1rem;
        background-image: url('../assets/svg/no-calender-event.svg');
        background-size: cover;
        background-repeat: no-repeat;
        &-header{
            font-size: $h6 !important;
            font-weight: $font-semibold !important;
        }
        &-subHeader{
            font-size: $p3 !important;
            font-weight: $font_medium !important;
        }
        &-btn{
            margin-top: 1rem !important;
            background-color: $clr_green !important;
            font-size: $p3 !important;
        }
        }
    
        &-no-pending-event {
            background-color: $clr_white;
    
            &-header {
                font-size: $h5 !important;
                color: $clr_black !important;
                font-weight: $font-semibold !important;
            }
            &-btn {
                    background-color: $clr_green !important;
            }
        
    }
   &-empty {
       justify-content: center;
       background-color: $clr_white;
       padding: 2rem;

       &-header {
           font-size: $h5 !important;
           font-weight: $font_bold !important;
       }

       &-sub-header {
           font-size: $p1 !important;
           color: $clr_gray_dark_text !important;
           font-weight: $font_medium !important;
           margin-bottom: 1rem !important;
       }

       &-btn {
           height: 3rem !important;
           background-color: $clr_green !important;
           box-shadow: none !important;
       }
   }
    
}

