.user-program-selection {
  .content-container {
    max-width: 37.33rem;
    .header-container {
      margin-bottom: 3.5rem;
      .header-title {
        font-size: $h2;
        font-weight: $font-bold;
      }
    }
    .programs-container {
    }
  }
}

.program-card-form {
  .program-card {
    padding-bottom: 2.3rem;
    border-bottom: 0.12rem solid $clr_gray_faded;

    .program-list-item-checkbox {
      padding: 0;
      margin-left: 0.9rem;
      margin-right: 0.5rem;
      svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: $clr_black;
      }
    }
    .program-date-container {
      margin-bottom: 1.8rem;
      .program-date {
        font-size: $h6;
        font-weight: $font-bold;
      }
    }

    .select-program-text {
      margin-bottom: 1.2rem;
      font-size: $h6;
      font-weight: $font-medium;
    }
    .program-list-container {
      display: flex;
      align-items: center;
      .program-list-item {
        padding:0.6rem 0 !important;
        .program-list-item-label {
          font-size: $p1;
          font-weight: $font-normal;
        }
        .program-list-item-checkbox {
          padding: 0 !important;
          margin-left: 0.8rem;
          margin-right: 0.5rem;
          .MuiFormControlLabel-root {
            .MuiFormControlLabel-label {
              font-size: $p3 !important;
              font-weight: $font-bold !important;
            }
          }
          svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: $clr_black;
          }
        }
      }
    }
    .select-add-on-text {
      margin-block: 1.2rem;
      font-size: $h6;
      font-weight: $font-medium;
    }
    .add-on-list-container {
      display: flex;
      flex-direction: column;
      .add-on-list-item {
        display: flex;
        align-items: center;
        .add-on-list-item-label {
          font-size: $h6;
          font-weight: $font-semibold;
        }
        .add-on-list-item-checkbox {
          padding: 0 !important;
          margin-left: 0.8rem;
          margin-right: 0.5rem;
          .MuiFormControlLabel-root {
            .MuiFormControlLabel-label {
              font-size: $p3 !important;
              font-weight: $font-bold !important;
            }
          }
          svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: $clr_black;

            
          }
          
        }
        .MuiFormControlLabel-root.Mui-disabled svg {
          fill: $clr_gray_faded !important;
        }
        .add-on-list-item-radio {
          svg {
            fill: $clr_black;
          }
        }
        .add-on-list-item-radio-label {
          font-size: $p1;
          font-weight: $font-normal;
          &.checked {
            color: $clr_black !important;
          }
        }
      }
    }
    .add-on-property {
      padding: 0 !important;
      margin-block: 1rem;
      margin-left: 0.8rem;
      margin-right: 0.5rem;
      .MuiFormControlLabel-root {
        .MuiFormControlLabel-label {
          font-size: $p3 !important;
          font-weight: $font-bold !important;
        }
      }
      svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: $clr_black;

        
      }
      
    }
    .MuiFormControlLabel-root.Mui-disabled svg {
      fill: $clr_gray_faded !important;
    }
  }
 
  .navigation-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 2rem;
    .back-button {
      border-color: $clr_black;
      color: $clr_black;
      min-width: 20%;
    }
    .next-button {
      background-color: $clr_black;
      min-width: 20%;
      &:disabled{
      background-color: $clr_gray_faded;

      }
    }
    
  }
}
