.my-event{
    margin: 2rem;
    &-header{
        font-weight: $font-bold !important;
        font-size: $h5 !important;
    }
    &-no-event{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    &-no-event-image{
        width:32.94rem;
        height: 50vh;
    }
}
/* Center the outer grid content */
.outer-grid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-certificate-grid-content {
    width: 50rem;
    height: 50rem;
    background-color:$clr_bg_light_gray; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .no-event{
    width: 29.69rem;   
    margin-top: 10rem;  
    &-svg{
        font-size: 10rem;
    &-text{
        padding-top:3rem;
        text-align:center;
        font-family:$font ;
        font-weight:$font_bold !important;
        font-size:$h5 ;
        line-height: 1.64rem;
     &-description{
        padding-top:.4rem;
        text-align:center;
        line-height: 1.275rem;
        font-family:$font ;
        font-weight:$font_normal;
        font-size:$p2;
        color:$clr_gray_dark_text;
     }
    }
    
    }
   }
   .autocomplete-border{
    border-radius: 0.4rem ;
    border: 0.1rem solid $clr_light_sky_blue;
    margin-right: 1rem;
   }