.event-template{
    background-color: $clr_white;
    &-preview{
        pointer-events: none;
    }
    &-top-menu{
        &-1{
                &-container{
                    background-color: $clr_charcoal_cyan;
                    padding: 1rem;
                    margin: 2rem 6rem 2rem 6rem;
                    border-radius: 1.25rem;
                }
                &-logo{
                    color: $clr_white;
                    font-size: $h2;
                    font-weight: $font_normal;
                    padding-left: 2rem;
                    &-img{
                        width: 4rem;
                    }
                }
                &-sub-item{
                    color: $clr_white;
                    font-size: $p2;
                    font-weight: $font_medium;
                }
                &-login-button{
                    color: $clr_white;
                    font-size: $h6;
                    font-weight: $font_semibold;
                    padding-top: 0.6rem;
                }

                &-logout-button{
                    font-size: $h6;
                    font-weight: $font_semibold;
                    border:0.083rem solid $clr_charcoal_cyan;
                    border-radius: 0.83rem;
                    height: 3.2rem;
                    width: 8rem;
                    background-color:  $clr_charcoal_cyan;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $clr_white;
                   
                }

                &-button-border{
                    border-right: 0.083rem solid $clr_white;
                    margin: 0.5rem 0 0.5rem 0;
                }
                &-book-button{
                    button{
                        color: $clr_black;
                        background-color: $clr_soft_cyan;
                        text-transform: none;
                        border-radius: 0.83rem;
                        font-size: $h6;
                        font-weight: $font_semibold;
                }   
            }
        }
        &-2{
            height: 5rem;
            &-container{
                padding: 1rem;
                margin: 2rem 6rem 2rem 6rem;
                border-radius: 1.25rem;
                z-index: 1;
                background-color: $clr_white;

            }
            &-logo{
                font-size: $h2;
                font-weight: $font_normal;
                padding-left: 2rem;
                &-img{
                    width: 4rem;
                }
            }
            &-sub-item{
                font-size: $p2;
                font-weight: $font_medium;
            }
            &-login-button{
                font-size: $h6;
                font-weight: $font_semibold;
                padding-top: 0.6rem;
            }
            &-logout-button{
                font-size: $h6;
                font-weight: $font_semibold;
                border:0.083rem solid $clr_bright_mint_green;
                border-radius: 0.83rem;
                height: 3.2rem;
                width: 8rem;
                background-color:  $clr_bright_mint_green;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $clr_white;
            }
            &-button-border{
                border-right:0.083rem solid $clr_black;
                margin: 0.5rem 0 0.5rem 0;
            }
            &-book-button{
                button{
                    color: $clr_white;
                    background-color: $clr_bright_mint_green;
                    text-transform: none;
                    border-radius: 0.83rem;
                    font-size: $h6;
                    font-weight: $font_semibold;
            }   
        }
        }
        &-3{
            &-container{
                background-color: $clr_dark_navy_blue;
                padding: 1rem;
                margin: 2rem 6rem 2rem 6rem;
                border-radius: 1.25rem;
            }
            &-logo{
                color: $clr_white;
                font-size: $h2;
                font-weight: $font_normal;
                padding-left: 2rem;
                &-img{
                    width: 4rem;
                }
            }
            &-sub-item{
                color: $clr_white;
                font-size: $p2;
                font-weight: $font_medium;
            }
            &-login-button{
                color: $clr_white;
                font-size: $h6;
                font-weight: $font_semibold;
                padding-top: 0.6rem;
            }
            &-logout-button{
                font-size: $h6;
                font-weight: $font_semibold;
                border:0.083rem solid $clr_white;
                border-radius: 0.83rem;
                height: 3.2rem;
                width: 8rem;
                background-color:  $clr_white;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $clr_dark_blue;
            }
            &-button-border{
                border-right: 0.083rem solid $clr_white;
                margin: 0.5rem 0 0.5rem 0;
            }
            &-book-button{
                button{
                    color: $clr_black;
                    background-color: $clr_white;
                    text-transform: none;
                    border-radius: 0.83rem;
                    font-size: $h6;
                    font-weight: $font_semibold;
            }   
        }
        }
    }
    &-header{

        &-1{
            background: url("../assets/png/template1-header.png") no-repeat center;
            background-size: cover;
            background-repeat: no-repeat;

            &-photo-container{
                width: 51.6rem !important;
            }
            &-title-container{
                padding: 1rem;
            }
        }

        &-2{
            background: url("../assets/png/template2-header.png") no-repeat center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 60rem;

            &-title-container{
                padding: 1rem;
            }
        }

        &-3{
            background-color: $clr_oxford_blue;

            &-photo-container{
                width: 51.6rem !important;
            }
            &-title-container{
                padding: 1rem;
            }
        }
        
        
    }
    &-title{
        &-1{
            padding: 1rem 1rem 1rem 5rem;
            &-title1,&-title2{
                font-size: $h2 !important;
                font-weight: $font_semibold !important;
            }
            &-sub-title{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-register-button{
                background-color: $clr_charcoal_cyan !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
            }
        }
        &-2{
            padding: 10rem 1rem 1rem 5rem;
            &-title1,&-title2{
                font-size: $h2 !important;
                font-weight: $font_semibold !important;
            }
            &-sub-title{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-register-button{
                background-color: $clr_bright_mint_green !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
            }
        }
        &-3{
            padding: 1rem 1rem 1rem 5rem;
            &-title1,&-title2{
                font-size: $h1 !important;
                font-weight: $font_semibold !important;
                color: $clr_dark_navy_blue !important;
            }
            &-sub-title{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-register-button{
                background-color: $clr_dark_navy_blue !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
            }
        }
    }
    &-details{
        &-1{
            background-color: $clr_white;
            &-container{
                padding: 0 6rem 0 6rem;
            }
            &-item{
                padding: 3rem 3rem 3rem 2rem;
                box-shadow: 0 0.3rem 1rem 0 $clr_light_black_shadow;
                border-radius: 1rem;
                svg{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &-label{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-value{
                font-size: $h5 !important;
                font-weight: $font_medium !important;
                word-wrap: break-word;
                word-break: keep-all;
                white-space: normal;
            }
        }

        &-2{
            //background-color: $clr_white;
            margin-top: 18rem;
            &-container{
                padding: 0 6rem 0 6rem;
            }
            &-item{
                padding: 3rem 3rem 3rem 2rem;
                border-radius: 1rem;
                svg{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &-label{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-value{
                font-size: $h5 !important;
                font-weight: $font_medium !important;
                word-wrap: break-word;
                word-break: keep-all;
                white-space: normal;
            }
        }

        &-3{
            background-color: $clr_white;
            &-container{
                padding: 0 6rem 0 6rem;
            }
            &-item{
                padding: 3rem 3rem 3rem 2rem;
                box-shadow: 0 0.3rem 1rem 0 $clr_light_black_shadow;
                border-radius: 1rem;
                svg{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &-label{
                font-size: $h6 !important;
                font-weight: $font_normal !important;
            }
            &-value{
                font-size: $h5 !important;
                font-weight: $font_medium !important;
                word-wrap: break-word;
                word-break: keep-all;
                white-space: normal;
            }
        }
    }


    &-about{
        &-1{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
            }
            &-content{
                font-size: $h6;
                font-weight: $font_medium;
            }
        }
        &-2{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
            }
            &-content{
                font-size: $h6;
                font-weight: $font_medium;
            }
        }
        &-3{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
            }
            &-content{
                font-size: $h6;
                font-weight: $font_medium;
            }
        }
    }
    &-event-contributors{
        &-1{
            background-color: $clr_charcoal_cyan;
            padding: 2rem;

            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
                color: $clr_white;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
                color: $clr_white;
            }
            &-item{
                &-group-container{
                    padding: 3rem 6rem 3rem 6rem;
                }
                &-container{
                    background-color: $clr_white;
                    border-radius: 0.83rem;
                    padding: 2rem;
                }
                &-name{
                    font-size: $h5;
                    font-weight: $font-semibold;
                }
                &-designation{
                    font-size: $h6;
                    font-weight: $font_medium;
                }
                &-topic{
                    font-size: $h6;
                    font-weight: $font_normal;
                }
            }
        }
        &-2{
            background-color: $clr_dark_charcoal_gray;
            padding: 2rem;

            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
                color: $clr_white;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
                color: $clr_white;
            }
            &-item{
                &-group-container{
                    padding: 3rem 6rem 3rem 6rem;
                }
                &-container{
                    background-color: $clr_white;
                    border-radius: 0.83rem;
                    padding: 2rem;
                }
                &-name{
                    font-size: $h5;
                    font-weight: $font-semibold;
                }
                &-designation{
                    font-size: $h6;
                    font-weight: $font_medium;
                }
                &-topic{
                    font-size: $h6;
                    font-weight: $font_normal;
                }
            }
        }
        &-3{
            background-color: $clr_dark_navy_blue;
            padding: 2rem;

            &-title{
                font-size: $h2;
                font-weight: $font_semibold;
                color: $clr_white;
            }
            &-sub-title{
                font-size: $h6;
                font-weight: $font_normal;
                color: $clr_white;
            }
            &-item{
                &-group-container{
                    padding: 3rem 6rem 3rem 6rem;
                }
                &-container{
                    background-color: $clr_white;
                    border-radius: 0.83rem;
                    padding: 2rem;
                }
                &-name{
                    font-size: $h5;
                    font-weight: $font-semibold;
                }
                &-designation{
                    font-size: $h6;
                    font-weight: $font_medium;
                }
                &-topic{
                    font-size: $h6;
                    font-weight: $font_normal;
                }
            }
        }
    }


    &-program{
        &-1{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font-semibold;
            }
            &-item {
                &-day{
                    border: 0.167rem solid $clr_charcoal_cyan;
                    border-radius: 0.83rem;
                    padding: 1rem;
                    margin-top: 0.6rem;
                    p{
                        font-size: $h6;
                        font-weight: $font_bold;
                        color: $clr_charcoal_cyan;
                    }
                }
                &-group-container{
                    border: 0.0.417rem solid $clr_charcoal_cyan;
                    width: 90rem;
                    border-radius: 0.83rem;
                    padding: 1rem;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                &-time-container{
                    border: 0.167rem solid $clr_black;
                    border-radius: 0.83rem;
                    padding: 0.5rem;
                    p{
                        font-size: $p2;
                        font-weight: $font_bold;
                        color: $clr_charcoal_cyan;
                    }
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font_semibold !important;
                    &-container{
                        padding-left: 4rem;
                    }
                }
                &-description{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
            }
        }
        &-2{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font-semibold;
            }
            &-item {
                &-day{
                    border: 0.167rem solid $clr_charcoal_cyan;
                    border-radius: 0.83rem;
                    padding: 1rem;
                    margin-top: 0.6rem;
                    p{
                        font-size: $h6;
                        font-weight: $font_bold;
                        color: $clr_charcoal_cyan;
                    }
                }
                &-group-container{
                    border-bottom: 0.083rem solid $clr_charcoal_cyan;
                    width: 90rem;
                    //border-radius: 0.83rem;
                    padding: 1rem;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                &-time-container{
                    //border: 0.167rem solid $clr_black;
                    //border-radius: 0.83rem;
                    padding: 0.5rem;
                    p{
                        font-size: $p2;
                        font-weight: $font_bold;
                        color: $clr_charcoal_cyan;
                    }
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font_semibold !important;
                    &-container{
                        padding-left: 4rem;
                    }
                }
                &-description{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
            }
        }
        &-3{
            padding: 3rem 6rem 3rem 6rem;
            &-title{
                font-size: $h2;
                font-weight: $font-semibold;
            }
            &-item {
                &-day{
                    border: 0.167rem solid $clr_dark_navy_blue;
                    border-radius: 0.83rem;
                    padding: 1rem;
                    margin-top: 0.6rem;
                    p{
                        font-size: $h6;
                        font-weight: $font_bold;
                        color: $clr_dark_navy_blue;
                    }
                }
                &-group-container{
                    border: 0.0.417rem solid $clr_dark_navy_blue;
                    width: 90rem;
                    border-radius: 0.83rem;
                    padding: 1rem;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                &-time-container{
                    border: 0.167rem solid $clr_black;
                    border-radius: 0.83rem;
                    padding: 0.5rem;
                    p{
                        font-size: $p2;
                        font-weight: $font_bold;
                        color: $clr_dark_blue;
                    }
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font_semibold !important;
                    &-container{
                        padding-left: 4rem;
                    }
                }
                &-description{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
            }
        }
    }

    &-ticketing{
        &-1{
            padding: 2rem 2rem 8rem 2rem;
            &-title{
                font-size: $h2 !important;
                font-weight: $font_semibold !important;
                padding: 1rem;
            }
            &-item-container{
                padding: 1rem 1rem 5rem 1rem;
                border-radius: 1.83rem;
                box-shadow: 0 0.08rem 1rem 0 $clr_dark_charcoal;
                position: relative;
                min-width: 50rem !important;
            }
            &-item-title{
                padding: 0.5rem 1rem 0.5rem 1rem;
                border: 0.083rem solid $clr_charcoal_blue;
                border-radius: 4.1rem;
                font-size: $h5 !important;
                font-weight: $font-semibold !important;
                text-align: center;
                display: inline-block; 
            }
            &-sub-item{
                &-container{
                    padding: 1rem;
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font-semibold !important;
                }
                &-date{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
                &-amount{
                    font-size: $h2 !important;
                    font-weight: $font_bold !important;
                }
            }
            &-register-button{
                background-color: $clr_charcoal_cyan !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
                &-container{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding-bottom: 2rem;
                    
                }
            }
            &-content-container{
                padding: 1rem;
            }
        }
        &-2{
            padding: 2rem 2rem 8rem 2rem;
            &-title{
                font-size: $h2 !important;
                font-weight: $font_semibold !important;
                padding: 1rem;
            }
            &-item-container{
                padding: 1rem 1rem 5rem 1rem;
                border-radius: 1.83rem;
                box-shadow: 0 0.08rem 1rem 0 $clr_dark_charcoal;
                position: relative;
                min-width: 50rem !important;
            }
            &-item-title{
                padding: 0.5rem 1rem 0.5rem 1rem;
                border: 0.083rem solid $clr_charcoal_blue;
                border-radius: 4.1rem;
                font-size: $h5 !important;
                font-weight: $font-semibold !important;
                text-align: center;
                display: inline-block; 
            }
            &-sub-item{
                &-container{
                    padding: 1rem;
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font-semibold !important;
                }
                &-date{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
                &-amount{
                    font-size: $h2 !important;
                    font-weight: $font_bold !important;
                }
            }
            &-register-button{
                background-color: $clr_bright_mint_green !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
                &-container{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding-bottom: 2rem;
                    
                }
            }
            &-content-container{
                padding: 1rem;
            }
        }
        &-3{
            padding: 2rem 2rem 8rem 2rem;
            &-title{
                font-size: $h2 !important;
                font-weight: $font_semibold !important;
                padding: 1rem;
            }
            &-item-container{
                padding: 1rem 1rem 5rem 1rem;
                border-radius: 1.83rem;
                box-shadow: 0 0.08rem 1rem 0 $clr_dark_charcoal;
                position: relative;
                min-width: 50rem !important;
            }
            &-item-title{
                padding: 0.5rem 1rem 0.5rem 1rem;
                border: 0.083rem solid $clr_dark_navy_blue;
                border-radius: 4.1rem;
                font-size: $h5 !important;
                font-weight: $font-semibold !important;
                text-align: center;
                display: inline-block; 
            }
            &-sub-item{
                &-container{
                    padding: 1rem;
                }
                &-name{
                    font-size: $h5 !important;
                    font-weight: $font-semibold !important;
                }
                &-date{
                    font-size: $h6 !important;
                    font-weight: $font_medium !important;
                }
                &-amount{
                    font-size: $h2 !important;
                    font-weight: $font_bold !important;
                }
            }
            &-register-button{
                background-color: $clr_dark_navy_blue !important;
                border-radius: 0.83rem !important;
                font-size: $h6 !important;
                font-weight: $font_bold !important;
                text-transform: none !important;
                margin-top: 1rem !important;
                &-container{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding-bottom: 2rem;
                    
                }
            }
            &-content-container{
                padding: 1rem;
            }
        }
    }

    &-location{
        &-1, &-2, &-3 {
            padding: 2rem 15rem 5rem 15rem;
        }
    }

    &-footer{
        &-1{
            background-color: $clr_medium_black;
            height: 18rem;
            color: $clr_white;
            &-logo{
                svg{
                    width: 10rem;
                    height: 4rem;
                }
            }
            &-social-media{
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }


        }

        &-2{
            background-color: $clr_medium_black;
            height: 18rem;
            color: $clr_white;
            &-logo{
                svg{
                    width: 10rem;
                    height: 4rem;
                }
            }
            &-social-media{
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }


        }

        &-3{
            background-color: $clr_medium_black;
            height: 18rem;
            color: $clr_white;
            &-logo{
                svg{
                    width: 10rem;
                    height: 4rem;
                }
            }
            &-social-media{
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }


        }
    }
}