.reviewer-home-main {
    .container-main {
        margin-inline: auto;

    }

    .banner-container {
        margin-top: 1rem;
        background: url("../assets/svg/review-banner.svg") no-repeat bottom center;
        min-height: 12.5rem;
        background-size: cover;
        overflow: hidden;
        border-radius: 1rem;
        padding-inline: 3rem;
        padding-block: 3.33rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner-title {
            font-weight: $font-semibold;
            font-size: $h3;
            color: $clr_white;
        }

        .banner-subtitle {
            font-size: $h6;
            color: $clr_white;
        }
    }

    .abstracts-summary-container {
        margin-top: 3.9167rem;

        .abstracts-summary-title {
            font-weight: $font-semibold;
            font-size: $h5;
        }

        .abstracts-summary-content {
            margin-top: 1.5rem;
            background-color: $clr_gray_10_percent;
            padding-inline: 3rem;
            border-radius: .66rem;
            padding-block: 2rem;
            display: flex;
            // column-gap: 6.9167rem;
            justify-content: space-around;


            &-title {
                font-weight: $font-medium;
                color: $clr_grey;
            }

            &-value {
                font-weight: $font-bold;
                font-size: $p5;
                margin-top: 1.3rem;

            }
        }

        .review-tabs {
            padding-inline: 4rem;
            margin-top: 3rem;
            display: flex;
            border-bottom: 0.083rem solid $clr_gray_faded;
            overflow-x: auto;

            .item {
                padding-inline: 1.666rem;
                white-space: nowrap;
                cursor: pointer;
                padding-bottom: 1rem;
                transition: all  .4s;
                border-bottom: 0.2rem solid transparent;


                &.active {
                    border-bottom: 0.2rem solid $clr_blue;
                }

                p {
                    font-size: $p1;
                    font-weight: $font_bold;
                    color: $clr_grey;

                    &.text-active {
                        color: $clr_blue !important;
                    }
                }

            }
        }

        .data-grid-container {
            margin-top: 3.0833rem;
            border: 0.083rem solid $clr_gray_faded;
            border-radius: .5rem;
            margin-bottom: 2rem;
        }
    }
}


@media screen and (max-width: 600px) {
    .reviewer-home-main {
        .abstracts-summary-content {

            flex-direction: column;
            row-gap: 1.5rem;
            column-gap: 0;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-inline: 2rem !important;

            .divider {
                width: 100%;
                height: 0.083rem;
            }
        }

        .review-tabs {
            overflow-x: auto;
            padding-inline: 0rem !important;

            .item {
                width: max-content;
                white-space: nowrap;
            }
        }
    }

}