.event-recap {
    margin: 2rem;
    &-header {
        font-weight: $font-bold !important;
        font-size: $h4 !important;
    }
    &-no-event {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-no-event-image {
        width: 32.94rem;
        height: 50vh;
    }
    &-first-grid {
        margin-top: 1.373125rem;
        &-text {
            font-family: $font;
            font-weight: $font_semibold !important;
            font-size: $h5 !important;
            line-height: 1.5125rem;
            text-align: center;
            letter-spacing: 0.0187rem;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        &-status {
        .statusText{
            display:flex;   
            justify-content: center;
            align-items: center;
            width: 9.25rem !important;
            height: 2.5rem !important;
            background: $clr_status_bar !important;
        }
            
            width: 6.25rem !important;
            height: 2.5rem !important;
            background: $clr_status_bar !important;

            border-radius: 0.49875rem;
            &-text {
                color: $clr_cyan_blue;
                font-family: $font;
                font-size: $h6;
                font-weight: $font_semibold;
                line-height: 1.5125rem;
            }
        }
        &-address {
            margin-top: 21.97px !important;
            color: $clr_black;
            font-family: $font !important;
            font-size: $h6 !important;
            font-weight: $font-medium !important;
            line-height: 1.36125rem;
        }

        &-buttons {
            margin-top: 2.129375rem;
            &-firstButton {
                width: 7.4375rem;
                height: 2.8125rem;
                padding: 0.875rem 1.25rem;
                border-radius: 0.3125rem;
                color: $clr_white !important;
                background: $clr_blue !important;
            }
            &-secondButton {
                margin-left: 0.8125rem !important;
                width: 9.25rem;
                height: 2.8125rem;
                color: $clr_white !important;
                border-radius: 0.3125rem;
                background: #d32c2c !important;
            }
        }
    }
    &-second-grid {
        margin-top: 3.375rem;

        &-text {
            font-family: Inter;
            font-size: $h5 !important;
            font-weight: $font_semibold !important;
            line-height: 1.6875rem;
            letter-spacing: 0.0187rem;
        }
        &-content {
            width: 20.625rem;
            // height: 10.25rem;
            border-radius: 0.625rem;
            border: 0.5rem;
            margin-left: 0.5rem;
            border: 0.03125rem solid $clr_light_border_grey ;
            &-time {
                display:flex;   
            justify-content: center;
            align-items: center;
                width: 12rem !important;
                height: 2.875rem !important;
                margin-top: 1rem;
                padding-left:1rem;
                border-radius: 0.3125rem;
                text-align: center !important;
                inline-size: 1.05875rem;
                 background-color: $clr_green_light !important;
               

                &-text {
                    font-size: $p2 !important;
                    font-weight: $font_medium !important;
                }
            }
            &-status {
                text-align:centre;
                .statusText{
                    background: $clr_green_light !important;
                }
                margin-left: 7rem;
                width: 6.25rem !important;
                height: 1.9956rem !important;
                border-radius: 0.49875rem;

                &-text {
                    font-family: $font;
                    font-size: $h5 !important;
                    font-weight: $font-bold !important;
                    line-height: 1.4rem;
                    text-align: center !important;
                    border-radius: 1rem;
                    margin-top: 1rem !important;
                }
            }
            &-title {
                &-text {
                    font-size: $h4 !important;
                    font-weight: $font-bold !important;
                    margin-left: 0.5rem !important;
                }
            }
            &-location {
                margin-left: 0.5rem !important;
                &-text {
                    font-family: $font;
                    font-size: $p2 !important;
                    font-weight: $font-medium !important;
                    line-height: 1.4rem;
                }
            }
            &-speaker {
                margin-left: 0.5rem !important;
                &-speaker {
                    font-family: $font;
                    font-size: $p2 !important;
                    font-weight: $font-medium !important;
                    line-height: 1.4rem;
                }
            }
        }
    }
}
