.user-detail-card {
    margin: 2rem;
    border-radius: 1rem;
    background-color: $clr_white;
    padding: 2rem;

    .user-detail-grid{
        margin-bottom: 2rem;
        
    }
    .userdetail-title-name{
        font-size: $h4;
        font-weight: $font_semibold;
        margin-right: 1rem;
    }
    .userdetail-title-personal{
        margin-bottom: 2rem;
    }
    .userdetail{
        width: 100%; 
        padding-bottom: 1.6rem;
        border-bottom: 0.083rem solid $clr_light_border_grey;
    }
    .userdetail-event-card{
        border-radius: 0.625rem;
        border: 0.042rem solid $clr_light_border_grey;
        padding:1rem ;
    }
    .userdetail-time-status{
        justify-content: space-between;
        align-items: center;
    }

    .user-status {
        .statusText{
            padding: 0.665rem 1.081rem !important;
            border-radius: 0.665rem;
            font-weight: $font_semibold;
        }
    }

    .userdetail-time{
        padding: 0.5rem 0.833rem !important;
        border-radius: 0.417em !important;
        background-color:  $clr_green_light !important;
        text-align: center !important;
        font-size: $p2;
        font-weight: $font_medium;
    }
   
    .userdetail-text{
        font-size: $h5;
        font-weight: $font_semibold;
        color:$clr_cyan_blue;
    } 
    .userdetail-data{
        font-size: $p5;
        font-weight: $font_semibold;
    }
    .userdetail-data-image{
        width:2rem !important;
        height: 2rem !important;
    }
    .userdetail-data-title{
        margin-bottom: 1.4rem;
        font-size: $p5;
        font-weight: $font_semibold;
    }
  
    .userdetail-name{
        line-height: 1.9375rem;
        font-size: $h5;
        font-weight: $font_semibold;
        margin-top: 1rem;
    }
    .userdetail-card-data{
        line-height: 2.5rem;
        font-size: $p2;
        font-weight: $font_medium;
    }
    
}
.userdetails-alldetails{
    margin-top: 2rem;
}
.userdetail-avatar{
    width: 5rem!important;
    height: 5rem!important;
}
.userdetail-data-grid{
    align-items: center;
        border: 0.083rem solid $clr_light_border_grey !important;
       border-radius: 0.667rem;
       padding: 1rem 1.333rem;
}
.all-details{
    &-attendance-grid{
        margin-left: 2rem;
        margin-top: 1rem;
    }
    &-attendence-label{
        font-size: $h6 !important;
        font-weight: $font_medium !important;
        margin-bottom: 1rem !important;
    }
    &-title{
        margin-bottom: 1rem !important;
    font-weight: $font_semibold !important;
    font-size: $p5 !important;
    }
    &-data-title{
        font-weight: $font_medium !important;
        font-size: $h6 !important;
        color: $light_grey !important;
    }  
    &-data{
        font-weight: $font_semibold !important;
        font-size: $h6 !important;
        text-align: left !important;
    }
    &-upload-file{
        border: 0.083rem solid $clr_light_border_grey;
        padding:1.667rem 1.5rem;
        border-radius:0.667rem;
    
        &-image{
            width:1.667rem;
            height:1.667rem
        }
        &-type{
            font-size: $h6 !important;
            font-weight: $font_medium !important;
        }
        &-name{
            font-size: $p5 !important;
            font-weight: $font_semibold !important;
            overflow: hidden ;
        }
    }
}

.userdetail-subtitle{
    font-size:$h6 !important;
    font-weight: $font_medium !important;
}

.userdetail-noimage{
    width: 13.83rem !important;
    height: 13.83rem !important;
}