:root {
  font-family: 'Inter', sans-serif !important;
}

html {
  font-size: 75%;
 
}
body,p,li,a,div,span,button,h1,h2,h3,h4,h5,h6,label,input {
  font-family: 'Inter', sans-serif !important;
}
// font size
.text-h1 {
  font-size: $h1 !important;
}
.text-h2 {
  font-size: $h2 !important;
}
.text-h3 {
  font-size: $h3 !important;
}
.text-h4 {
  font-size: $h4 !important;
}
.text-h5 {
  font-size: $h5 !important;
}
.text-h6 {
  font-size: $h6 !important;
}
.text-p1 {
  font-size: $p2 !important;
}
.text-p2 {
  font-size: $p3 !important;
}

// font weight

.font-400 {
  font-weight: $font_normal !important;
}

.font-500 {
  font-weight: $font_medium !important;
}
.font-600 {
  font-weight: $font_semibold !important;
}
.font-700 {
  font-weight: $font_bold !important;
}
.font-800 {
  font-weight: $font_extrabold !important;
}
