@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  }
  
  .Card {
    padding: 20px; /* Optional: add padding to the card */
  }
  