$background: #f7f7f7;
$clr_blue: #3a5afe;
$clr_white: #ffffff;
$bg_light: #f0f9ff;
$bg_plans: #eaf5ff;
$border_list: #F8F9FF;
$light_grey:#718096;
$white: #FFFFFF;
$medium_grey:#F2F2F2; 

$clr_black: #000000;
$bg_input_background: #fafafa;
$clr_red: #e71515;
$clr_orange: hsl(28, 91%, 54%);
$clr_green: #2eac2b;
$clr_green_light: #f2faf2;
$clr_gray_extra_dark: #787878;
$clr_honeydew: #eaf6e9;
$clr_purple_light: #f0f2ff;
$clr_yellow_light: #fcfeeb;
$clr_gray_dark: #807f7f;
$clr_grey: #718096;
$clr_gray_medium: #b3b3b3;
$clr_gray_light: #c8cbd9;
$clr_gray_extra_light: #d0d5dd;
$clr_gray_faded: #dcdcdc;

$border_list: #f8f9ff;
//Font weight
$font_normal: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
$font_extrabold: 800;

// Font Size

$h1: 3.333rem; // 40px
$h2: 2.5rem; //30px
$h3: 2.167rem; //26px
$h4: 2rem; //24 px
$h5: 1.666rem; // 20px
$h6: 1.333rem; //16px
$p1: 1.167rem; //14px
$p2: 1rem; //12px
