.hero-section-main {
  background: url('/src/assets/images/hero-section-bg-image.png') no-repeat
    bottom;
  height: max-content;
  color: $clr_black;
  background-size: cover;
  .hero-section-content {
    padding-top: 3.25rem;
    .hero-section-container {
      display: flex;
      flex-direction: column;
      .get-started-button {
        box-shadow: none;
        border-radius: 4.2rem;
        height: 4.8rem !important;
        width: 13.4rem !important;
        background-color: $clr_blue;
        color: $clr_white;
        font-weight: $font_semibold;
        font-size: $p2;
        text-transform: none;
      }
      .watch-video-button{
        border: 0.2rem solid $clr_blue;
        border-radius: 4.2rem;
        height: 4.8rem !important;
        width: 17rem !important;
        color: $clr_blue;
        font-weight: $font_semibold;
        font-size: $p2;
        text-transform: none;
      }
      .hero-section-buttons {
        margin-top: 2.42rem;
        display: flex;
        column-gap: 1.83rem;
        align-items: center;
        margin-inline: auto;
        margin-bottom: 5.17rem;
        width: max-content;
      }
      .hero-section-title {
        line-height: 4rem;
        font-size: $h1;
        font-weight: $font_bold;
        margin-bottom: 1rem;
      }
    }
    .hero-section-image-grid{
      svg{
        width: 85rem;
        height: 40rem;
      }
    }
  }
}

.confrence-management-section-main {
  padding-block: 4.83rem;
  .confrence-management-section-header-content {
    margin-bottom: 4rem;
    .conference-management-title {
      font-size: $h2;
      font-weight: $font_bold;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    .conference-management-description {
      font-size: $p2;
      color: $clr_sub_header;
    }
  }
  .confrence-management-effortless-content {
    padding-block: 5.833rem;
    padding-inline: 5.083rem;

    .planning-title {
      margin-bottom: 1.33rem;
      line-height: 3rem;
      font-size: $h2;
      font-weight: $font_semibold;
    }
    .planning-description {
      margin-bottom: 2rem;
      line-height: 2.167rem;
      color: $clr_sub_header;
    }
    .get-started-btn{
      border: 0.2rem solid $clr_black;
      border-radius: 4.2rem;
      height: 4.8rem;
      width: 16.58rem;
      color: $clr_black;
      font-weight: $font_semibold;
      font-size: 1.167rem;
      text-transform: none;
    }
  }
  .confrence-management-content-wrapper {
    background-color: $clr_honeydew;
    border-radius: 1.667rem;
    margin-bottom: 2.5rem;
  }
  .export-plan-image {
    height: 100%;
    width: 100%;
  }
  .export-plan-grid-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .export-plan-image-wrapper {
    height: 85%;
    width: 100%;
    margin-top: 1.667rem;
  }
}

.conference-management-grid-main {
  .grid-left {
    background-color: $clr_purple_light;
  }
  .grid-right {
    background-color: $clr_yellow_light;
  }
  .tracking-title{
    font-weight: $font_semibold;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .tracking-description{
    color: $clr_sub_header;
  }
  .grid-left,
  .grid-right {
    padding-top: 3.333rem;
    padding-inline: 3.583rem;
    border-radius: 1.667rem;

    .tracking-image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: end;
      .attendance-tracking-image {
        height: 30rem;
        width: 45rem;
      }
    }
  }
}

.feature-section-main {
  padding-bottom: 1rem;
  .feature-section-main__header {
    margin-bottom: 5rem;
    &-description {
      margin-bottom: 3rem;
      color: $clr_sub_header;
    }
    &-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &-feature-all-button{
        border: 0.2rem solid $clr_black;
        border-radius: 4.2rem;
        height: 4.8rem;
        width: 16.58rem;
        color: $clr_black;
        font-weight: $font_semibold;
        font-size: $p2;
        text-transform: none;
        span{
          svg{
            width: 1.9rem;
            height: 1.9rem;
          }
        }
      }
    }
    
  }
}
.feature-card {
  margin-bottom: 6rem;
  flex-direction: row;
  &.reversed {
    flex-direction: row-reverse;
  }

  &__image-container {
    padding-right: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    
    &.card-1 {
      background-image: url('/src/assets/png/online-payment.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.card-2 {
      background-image: url('/src/assets/png/unlimited-conference.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.card-3 {
      background-image: url('/src/assets/png/registration-management.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .reversed & {
      align-items: flex-start;
      justify-content: flex-end;
      padding-left: 5rem;
      padding-right: 0;
      background-position: right;
    }
  }

 

  &__image {
    height: 100%;
    width: max-content;
  }

  &__content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-weight: $font_semibold !important;
    font-size: $h2 !important;
  }

  &__description {
    font-size: $p2 !important;
    color: $clr_sub_header;
  }

  &__features {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  &__features-grid {
    column-gap: 2.083rem;
  }

  &__feature {
    flex: 0 0 50%;
  }

  &__feature-icon {
    height: 5.41rem;
    width: 5.41rem;
    margin-bottom: 1.333rem;
  }

  &__feature-title {
    font-size: $p2 !important;
    font-weight: $font_semibold !important;
    margin-bottom: 0.25rem !important;
  }

  &__feature-description {
    font-size: $p2 !important;
    color: $clr_sub_header;
  }

  &__button {
    border: 0.2rem solid $clr_black !important;
    border-radius: 4.2rem !important;
    height: 4.8rem !important;
    width: 14.1rem !important;
    color: $clr_black !important;
    font-weight: $font_semibold !important;
    font-size: $p2 !important;
    text-transform: none !important;
    span{
      svg{
        width: 1.9rem;
        height: 1.9rem;
      }
    }
  }
}

.faq-section {
  padding-bottom: 6.83rem;
  &__content {
    .faq-section__header {
      margin-bottom: 4rem;
      &-title {
        margin-bottom: 0.3rem;
      }

      &-description {
        color: $clr_grey;
      }
    }
  }
}
