.create-coupon {

  &-container {
    max-width: 37.08rem;
   
    &-header-box{
      margin-block: 2rem;
      position: sticky;
      top: 0;

      svg{
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0.3rem;
      }
  }
  }
  
  // &-form {
  //   padding-top: 1rem !important;
  //   padding-bottom: 3rem !important;
  // }
  &-next-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    min-width: 25rem !important;
    text-transform: none !important;
    font-size: $h6 !important;
    font-weight: $font_medium !important;
  }

  &-filter-btn {
    height: 4.17rem;
    background-color: $clr_white !important;
    color: $clr_green !important;
    max-width: 21rem !important;
    border: 0.125rem solid $clr_green !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_medium !important;

  }

  &-title {
    font-weight: $font_bold !important;
    font-size: $h4 !important;
    &-DrawerClose{
      padding-top: 0.90rem !important;
      svg{
      width: 1.5rem !important;
      height: 1.5rem !important;
      // &:hover{
      //     background-color:$clr_gray_extra_light;
      // }
    }
  }
  }

  &-create-btn{
    height: 4.17rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_medium !important;
}
}
.no-coupon-icon{
  height: 13.83rem;
  width: 13.83rem;
}