.modal {
 &-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(4rem);
 }
 &-close-icon {
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.833rem;
 }

 &-content {
  width: 90%;
  max-width: 55rem;
  padding: 2rem;
  background-color: $clr_white;
  border-radius: 0.5rem;
  position: relative;
 }

 &-close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
 }

 &-search-input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
 }

 &-image-list {
  max-height: 28rem;
  overflow-y: hidden;
  margin-bottom: 1.5rem;
 }

 &-confirm-button {
  margin-top: 1rem;
 }

 &-upload-button {
  background-color: $clr_green !important;
  color: $clr_white !important;
  margin-top: 1rem;
 }

 &-upload-container {
  display: flex;
  max-height: 60rem;
  max-width: 60rem;
  justify-content: center;
  max-width: 40.25rem;
  background-color: $clr_white;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 10rem;
  z-index: 1;
  align-content: center;
 }
 &-image-saved-assests{
    margin-left: 0.833rem !important;
    font-size: $p5 !important ;
    font-weight: $font_semibold !important;
    margin-bottom: 0.833rem !important;
}
}

.image-list {
    margin: 0.417rem !important;
    max-height: 25rem !important;
    overflow-y: auto; 
    scrollbar-width: none; 

 &-item {
  cursor: pointer;

  &:hover {
   opacity: 0.8;
  }
 }

 &-image {
  width: 100%;
  height: auto;
  padding: 0.5rem;
 }

 &-checkbox {
  margin-left: 0.25rem;
 }
}

.image-list {
 margin: 0;

 &-item {
  cursor: pointer;

  &:hover {
   opacity: 0.8;
  }
 }

 &-image {
  padding: 0rem !important;
  border-radius: 0.417rem !important;
  width: 100%;
  height: auto;
 }

 &-checkbox {
  margin-left: 0.25rem;
 }
}
.image-list-item-bar {
  height: 0rem !important;
}

.image-list-item-bar-title {
 font-size: 0.875rem;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.file-upload {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 padding: 1rem;

 &-Logo{
    height: 3.35rem !important;
    width: 3.35rem !important;
 }

 &-dropzone {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:  0.167rem dashed $clr_cyan_lime_green;
  border-radius: 0.5rem;
  padding: 4rem 2rem;
  width: 100%;
  background-color:$clr_pale_lime_green ;
  transition: border-color 0.3s ease;

  // Display text for drag & drop or click
  & .MuiTypography-root {
   font-size: 1.2rem;
   color: $input_label;
   text-align: center;
  }

  &.Mui-focused {
   background-color: $bg_light;
  }

  &.dropzone-active {
   background-color: $clr_levender_blue;
  }
 }

 &-rejection-messages {
  margin-top: 1rem;
  width: 100%;
  color: $clr_red !important;

  .MuiTypography-root {
   font-size: 1rem;
   margin-bottom: 0.5rem;
  }
 }

 &-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;

  &-item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 1rem;
   border: 0.15rem solid $clr_bright_gray;
   border-radius: 0.5rem;
   width: 15rem;
   height:10rem;
   padding: 0.5rem; /* Add padding for spacing */
   background-color: $background;

   &-pdf{
    align-self: self-start;
    width: 5rem !important; /* Increase this value for larger width */
    height: 5rem; /* Increase this value for larger height */
    margin-bottom: .5rem;    
   }
   &-image{
    max-height: 8.6rem !important;
   }

   .img {
    object-fit: cover;
    border-radius: 0.25rem;
   }

   &-name {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: $input_label;
    align-self:flex-start;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   }

   .MuiIconButton-root {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    color: $clr_red;
    background-color: $clr_white_80_percent;
    &:hover {
     background-color: $clr_white_90_percent;
    }
   }
  }
 }
 &-button {
  margin: none;
  background-color: $clr_green !important;
  color: $clr_white !important;
  min-width: 10rem !important;
 }

 &-abstract {
    svg{
        width: 2rem;
        height: 2rem;
    }
    &-title{
        font-size: $h6 !important;
        font-weight: $font-semibold !important;
        color: $clr_black !important;
    }
    &-sub-title{
        font-size: $p2 !important;
        font-weight: $font_medium !important;
        color: $clr_neutral_gray !important;
    }
    &-dropzone {
        border: 0.167rem dashed $clr_cyan_lime_green;
    }
 }
}
