.modal {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(4rem);
  }
  &-close-icon{
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  &__content {
    width: 90%;
    max-width: 37.5rem; // 600px is approximately 37.5rem
    padding: 2rem; // Add padding to the content
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    position: relative; // Ensure this is present for absolute positioning
  }

  &__close-button {
    position: absolute; // Keeps it positioned relative to the content
    top: 0.625rem; // Adjust top position
    right: 0.625rem; // Adjust right position
    z-index: 10; // Ensure it's on top of other elements
    background: transparent; // Optional: Make button background transparent
    border: none; // Optional: Remove default border
    cursor: pointer; // Change cursor to pointer
  }

  &__search-input {
    margin-bottom: 1.5rem; // Increased margin for space below the search input
    padding: 0.5rem; // Additional padding for the search input
  }

  &__image-list {
    max-height: 28rem; // Increased height to ensure the last row is fully visible
    overflow-y: hidden; // Keeping it hidden to prevent scrolling 
    margin-bottom: 1.5rem; // Keep this for space below the image list
  }

  &__confirm-button {
    margin-top: 1rem;
  }

  &__upload-button {
    margin-top: 1rem;
  }

  &__upload-container {
    width: 100%;
    height: 50vh;
    justify-content: center;
    max-width: 40.25rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 10rem; 
    z-index: 1; 
    align-content: center;
  }
}

.file-upload {

  border: 1px solid #ccc;
  border-radius: 0.5rem;
  max-width: 40.25rem;
  margin: 0 auto;

  &__input {
    display: none; 
  }

  &__select-button {
    margin-top: 0.5rem; 
  }

  &__file-info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; 
  }

  &__file-name {
    flex: 1; 
  }

  &__text-field {
    margin-top: 1rem; 
    padding: 0.5rem; // Add padding to the text field
  }

  &__submit-button {
    margin-top: 1rem; 
  }

  &__success-message {
    margin-top: 1rem; 
    color: green;
  }
}

.image-list {
  margin: 0;

  &__item {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    padding: 0.5rem; // Add padding around images
  }

  &__checkbox {
    margin-left: 0.25rem; 
  }
}


.file-upload {
  padding: 1rem; // 16px to rem
  border: 1px solid #ccc;
  border-radius: 0.5rem; // 8px to rem
  max-width: 31.25rem; // 500px to rem
  margin: 0 auto;

  &__input {
    display: none; 
  }

  &__select-button {
    margin-top: 0.5rem; // 8px to rem
  }

  &__file-info {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; // 8px to rem
  }

  &__file-name {
    flex: 1; 
  }

  &__text-field {
    margin-top: 1rem; // 16px to rem
  }

  &__submit-button {
    margin-top: 1rem; // 16px to rem
  }

  &__success-message {
    margin-top: 1rem; // 16px to rem
    color: green;
  }
}

.image-list {
  margin: 0;

  &__item {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__checkbox {
    margin-left: 0.25rem; // 4px to rem
  }
}
