.payment-history-container {
    padding: 0.9rem;
   &-heading{
    padding-top:1.875rem;
    padding-left:1rem;
    font-family: $font;
    font-size: $h4 !important; 
    font-weight: $font-bold!important;
    line-height: 1.81rem;
   }
   .no-event{
    width: 29.69rem;   
   margin-top: 12.63rem;  
    &-svg{
        width: 7.78rem;  
        height: 8.43rem;
    &-text{
        padding-top:3rem;
        text-align:center;
        font-family:$font ;
        font-weight:$font_bold ;
        font-size:$h5 ;
        line-height: 1.64rem;
     &-description{
        padding-top:.4rem;
        text-align:center;
        line-height: 1.275rem;
        font-family:$font ;
        font-weight:$font_normal;
        font-size:$p2;
        color:$clr_gray_dark_text;
      }
     }
     }
   }
   .download-Receipt{
    background-color:$clr_white_90_percent!important;
    color:$clr_blue;
    box-shadow:none ;
    &:hover {
        box-shadow: none;

    &-heading {
        padding-top: 1.875rem;
        padding-left: 1rem;
        font-family: $font;
        font-size: $h4 !important;
        font-weight: $font-bold !important;
        line-height: 1.81rem;
    }

    .no-event {
        width: 29.69rem;
        margin-top: 12.63rem;

        &-svg {
            width: 7.78rem;
            height: 8.43rem;

            &-text {
                padding-top: 3rem;
                text-align: center;
                font-family: $font ;
                font-weight: $font_bold ;
                font-size: $h5 ;
                line-height: 1.64rem;

                &-description {
                    padding-top: .4rem;
                    text-align: center;
                    line-height: 1.275rem;
                    font-family: $font ;
                    font-weight: $font_normal;
                    font-size: $p2;
                    color: $clr_gray_dark_text;
                }

            }

        }
    }
}
}
.paymentlist{
    margin-top: 1.2rem;
    border-radius: 0.8rem !important;
    &-no-payment-icon{
      height: 13.83rem;
      width: 13.83rem;
    }
}
}