.account-title{
    font-weight: $font_semibold !important;
    font-size: $h5 !important;
}
.account-grid{ 
    background-color: $clr_white;
}
.account-padding{
    padding: 1.5rem;  
}
.account-margin{
    margin-left: 1.5rem !important;
}
.account-profile-grid{
    margin-top: 1rem !important;;
}
.security-title{
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}
.account-title-grid{
    display: flex;
    align-items: center;
}
.account-profile-image{
    display: flex;
}

.user-profile{
    border-radius: 0.313rem !important;
    height: 7.167rem !important;
    width: 7.167rem !important;
}
.account-user-detail1{
    font-weight: $font_medium !important;
    font-size: $h6 !important;
    line-height: 1.5rem !important;
    color: $light_grey;
    margin-top: 2rem !important;
}
.account-main-grid{
    margin-bottom: 2rem;
}

.account-user-detail2{
    line-height: 3rem !important;
    font-weight: $font_semibold !important;
    font-size: $h6 !important;
}

.account-connected-grid{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.083rem solid $clr_gray_extra_light;
    border-radius: 0.313rem;
    padding: 0.813rem 1rem !important;
    width: 7.706rem !important;
    height: 3.5rem !important;
}

.account-profile-grid{
    width: 49.438rem;
    border: 0.1rem solid $clr_gray_very_light !important;
    border-radius: 0.625rem;
    padding: 1.5rem;
}
.account-tab-details{
    margin-top: 1rem;
}
.connected-margin{
    margin-top: 3rem !important;
}
.connected{
    margin-top: 1rem;
}
.account-drawer{
    padding: 3rem;
}
.account-drawer-text{
    justify-content: space-between;
    align-items: center;
}
.account-drawer-textfield{
    font-family: $font !important;
    font-weight: $font_semibold !important;
    font-size: $h2 !important;
    margin-bottom: 2rem !important;
}
.account-connected-img{
    width: 3.75rem;
    height: 2rem;
}
.account-drawer-btn{
    justify-content: flex-end;
    align-items: center;
    box-shadow: none !important;
    

}
.account-settings-main-title{
    padding: 1rem;
    font-size: $h4 !important;
    font-weight: $font_bold  !important;
}
.account-tabs{
    align-items: flex-start !important;
    .MuiTabs-indicator {
        padding-left: 0.2rem !important;
        justify-self: center !important;
        padding-bottom: 0.01rem !important;
        border-bottom: 0.14rem solid $clr_blue !important;
      }
      .MuiTabs-flexContainer{
        padding-left: 1rem;
        border-bottom: 0.14rem solid $clr_tab_border_color;
      } 
    &-item{
        padding: 3rem 3rem 2rem 3rem !important;
        &:first-of-type {
            padding: 3rem 2rem 2rem 2rem !important; 
        }
    }
      .MuiTab-textColorPrimary {
        color: $clr_text_gray;
        font-weight: $font_medium;
        text-transform: none;
        font-size: $h6 ;
    }
  
    .Mui-selected{
        color: $clr_black !important;
    }
}
.account-tab-title{
    font-weight: $font_medium !important;
    font-size: $h6 !important;
    text-transform: none !important;

}
.security-container{

  
.security-text{
    font-weight: $font_semibold !important;
    font-size: $h6 !important;
    margin-bottom: 0.625rem !important;

}
.accountsettings-margin{
    margin-right: 0.8rem !important;
}
.security-subtext{
    color: $light_grey !important;
    font-size: $p1 !important;
    font-weight: $font_medium !important;
    margin-bottom: 1.25rem !important;

}
.security-text-border{
    align-items: center;
    justify-content: space-between !important;
    margin-top: 1rem;
    
}
.security-password-reset-btn{
    box-shadow: none !important;
    padding: 1rem 3rem !important;
    background: $clr_blue !important;

}
 
.security-bottom-border{
    padding-bottom: 0.625rem;
    border-bottom: 0.083rem solid $clr_light_border_grey;
}
}
.account-submit-btn{
    width: 12.6667rem;
    height: 3.75rem;
    background-color: $clr_blue !important;
    border-radius :0.4167rem !important;
    padding: 0.5rem 1.5rem !important;
    box-shadow: none !important;
}  
.account-google{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0833rem solid $clr_gray_extra_light ;
    width: 123.29px;
    height: 56px;
    border-radius: 0.4167rem;
    
  }
.account-google svg {
    width: 7.6075rem;
    height: 2.5rem; 
}