.sponsor {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: $clr_background_gray;
    padding-inline: clamp(2rem, 5vw, 3.42rem);
    padding-top: 1.4rem;
    display: flex;
    flex-direction: column;

    .title-filter-container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        // margin-bottom: 3rem;
        column-gap: 2rem;
        // flex: 1;

        &-title {
            font-size: $h4;
            font-weight: $font_bold;
            // flex:1;
        }

        &-filter-container {
            //    flex: 3;
            width: max-content;
            display: flex;
            column-gap: 1.2rem;
            flex: 1;
            justify-content: end;

            .auto-complete {
                width: 100% !important;
                flex-grow: 1;
                flex-shrink: 2;
                max-width: 30rem;

                &-input {

                    .custom-autopopulate {
                        border: 0.14rem solid $clr_gray_medium !important;
                        border-radius: .45rem;
                    }
                }
            }

            .filter-button {
                button {
                    width: max-content;
                    padding-inline: 1.33rem !important;
                    min-height: 100% !important;
                }

            }

            .button-container {
                width: max-content;

                button {
                    width: max-content;
                    padding-inline: 1.33rem !important;
                }
            }
        }
    }

    &-datagrid {
        flex: 1;
        min-height: 80%;

        .custom-data-grid-grid {
            min-height: 98% !important;
            margin-bottom: .7rem !important;
            padding-inline: 0 !important;

            .no-record-container {
                height: 100%;
                margin: 0 !important;

            }
        }
    }

    &-drawer {
        ::-webkit-scrollbar {
            width: 0 !important;
            display: none !important;
        }


        &-content {
            width: 100vw !important;
            max-width: 50rem !important;
            background-color: $clr_white;
            height: 100vh !important;
            padding-block: 3rem;
            padding-inline: 3rem;
            position: relative;
            scrollbar-width: 0 !important;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;

            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3rem;


                &-close {
                    svg {
                        color: $clr_gray_faded !important;
                        height: 1rem;
                        width: 1rem;
                    }

                }

                &-label {
                    font-size: $h5 !important;
                    font-weight: $font-semibold !important;
                }
            }


            .form {
                display: flex;
                flex-direction: column;
                row-gap: 1.667rem;
                flex: 1;
                height: calc(100vh - 10rem);
                padding-bottom: 1rem;
                padding-top: 1rem;

                overflow-y: scroll;


                &-file-upload {
                    margin-top: .5rem;

                    .file-upload-dropzone {
                        margin-bottom: .5rem !important;
                    }

                    &-input {
                        padding-inline: 0 !important;
                        padding-block: 0;
                        margin-top: 1rem;

                    }

                    &-label {
                        font-size: $p1 !important;

                    }
                    &-image-logo{
                        object-fit: contain;
                        background-color: $clr_gray_10_percent;
                        width: max-content;
                        max-height: 8.33rem;
                        img{
                            max-width: 8.33rem;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    &-image-banner{
                     width: max-content;
                     display: flex;
                    background-color: $clr_gray_10_percent;

                    img{
                
                        height: 100%;
                        object-fit: contain;
                    } 
                    }

                    &-image-logo-close{
                        // position: absolute;
                        // right: -.7rem;
                        // top: 0.2rem;
                        // margin-top: .3rem;
                        background-color: $clr_red;
                        height: 1.8rem;
                        width: 1.8rem;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        &:hover{
                        background-color: $clr_red !important;

                        }
                        
                        svg{
                            color: $clr_gray_30_percent;
                        }
                    }

                   
                }

                &-button-container {
                    margin-left: auto;

                    button {
                        background-color: $clr_green !important;
                        min-width: 10rem !important;
                        height: 3rem;

                    }
                }

            }


        }
    }

}



.sponsor__details__modal {
    &__content {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        &__body {
            background-color: $clr_white;
            width: 100%;
            max-width: 40rem;
            height: max-content;
            flex: 1;
            padding: 1.2rem;
            border-radius: .45rem;
            position: relative;
            max-height: 90vh;
            overflow-y: auto;

            &__close__btn {
                position: absolute !important;
                right: 1rem;
                top: .5rem;
            }

            &__header {
                font-size: $h6 !important;
                font-weight: $font-bold !important;
            }

            &__details {
                &__name {
                    margin-top: 1.667rem !important;

                    &__value {
                        // display: block;
                        margin-left: .5rem;
                        font-size: $p1 !important;
                        font-weight: $font-medium !important;
                        margin-top: .3rem;
                    }
                }

                &__logo {
                    width: 100%;
                    padding-top: .5rem;
                   

                    &__label {
                        margin-top: 1.667rem !important;
                        font-size: $h6 !important;
                        font-weight: $font-semibold !important;
                    }

                    img {
                        width: 40%;
                        aspect-ratio: 2/1;
                        object-fit: contain;
                        border-radius: .5rem;
                        background-color: $clr_gray_10_percent;


                    }
                }

                &__banner {
                    width: 100%;
                    padding-top: .5rem;

                    &__label {
                        margin-top: 1.667rem !important;
                        font-size: $h6 !important;
                        font-weight: $font-semibold !important;
                    }

                    img {
                        width: 100%;
                        aspect-ratio: 2/1;
                        border-radius: .5rem;
                        background-color: $clr_gray_20_percent;



                    }
                }
            }
        }

    }
}