.sponsor {
    // height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: $clr_background_gray;
    padding-inline: clamp(2rem, 5vw, 3.42rem);
    padding-top: 1.4rem;
    display: flex;
    flex-direction: column;
    background-color: $clr_white;

    .title-filter-container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: max-content !important;
        // margin-bottom: 3rem;
        column-gap: 2rem;
        // flex: 1;

        &-title {
            font-size: $h4;
            font-weight: $font_bold;
            // flex:1;
        }

        &-filter-container {
            //    flex: 3;
            width: max-content;
            display: flex;
            column-gap: 1.2rem;
            flex: 1;
            justify-content: end;

            .auto-complete {
                width: 100% !important;
                flex-grow: 1;
                flex-shrink: 2;
                max-width: 30rem;

                &-input {

                    .custom-autopopulate {
                        // border: 0.14rem solid $clr_gray_medium !important;
                        border-radius: .45rem;
                    }
                }
            }

            .filter-button {
                button {
                    width: max-content;
                    padding-inline: 1.33rem !important;
                    min-height: 100% !important;
                }

            }

            .button-container {
                width: max-content;

                button {
                    width: max-content;
                    padding-inline: 1.33rem !important;
                }
            }
           
        }
        @media (max-width: 768px) {
            flex-direction: column !important;
            // align-items: flex-end ;
            &-filter-container {
                width: 100% !important;
            }
        }

        @media (max-width: 480px) {
            
            &-filter-container {
                width: 100% !important;
                flex-direction: column !important;
            row-gap: 1rem;
            align-items: flex-end;

            }
        }
    }

    &-datagrid {
        flex: 1;
        // min-height: 70%;

        .custom-data-grid-grid {
            // min-height: 98% !important;
            margin-bottom: .7rem !important;
            padding-inline: 0 !important;
            box-shadow: rgba(0, 0, 0, 0.12) 0rem 0rem 0.3125rem 0rem,  rgba(0, 0, 0, 0.12) 0rem 0rem 0.0625rem 0rem;
            border-radius: 0.4rem;

            .no-record-container {
                height: 100%;
                margin: 0 !important;
                

            }
        }
    }

    &-drawer {
        ::-webkit-scrollbar {
            width: 0 !important;
            display: none !important;
        }
        &-content {
            min-width: 39rem !important;
            max-width: 39rem !important;
            background-color: $clr_white;
            height: 100vh !important;
            padding-block: 1rem;
            padding-inline: 3rem;
            position: relative;
            scrollbar-width: 0 !important;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            
            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: 2.1875rem;
             
                &-close {
                    cursor:  pointer;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-bottom: 0.3rem;
                    }

                }

                &-label {
                    font-size: $h5 !important;
                    font-weight: $font-semibold !important;
                }
            }


            .form {
                display: flex;
                flex-direction: column;
                row-gap: 1.667rem;
                flex: 1;
                height: calc(100vh - 10rem);
                padding-bottom: 1rem;
                padding-top: 1rem;

                overflow-y: scroll;


                &-file-upload {
                    margin-top: .5rem;
                    height: max-content !important;

                    label {
                        margin-bottom: 2rem !important;
                    }

                    .file-upload-dropzone {
                        margin-bottom: .5rem !important;
                    }

                    &-input {
                        padding-inline: 0 !important;
                        padding-block: 0;
                        margin-top: 1rem;

                    }



                    &-label {
                        font-size: $p1 !important;



                    }

                    &-label-with-id {
                        margin-bottom: 2rem !important;
                    }

                    &-image-logo {
                        object-fit: contain;
                        background-color: $clr_gray_10_percent;
                        width: max-content;
                        max-width: 100%;
                        margin-block: 1rem;
                        // max-height: 8.33rem;

                        img {
                            max-width: 8.33rem;
                            // height: 100%;
                            aspect-ratio: 1;
                            object-fit: contain;
                        }
                    }

                    &-image-banner {
                        object-fit: contain;
                        max-width: 100%;
                        background-color: $clr_gray_10_percent;
                        margin-block: 1rem;


                        img {
                            max-width: 25.33rem;
                            height: auto;
                            object-fit: contain;
                        }
                    }

                    &-image-logo-close {

                        background-color: $clr_red;
                        height: 2.3rem;
                        width: 2.3rem;
                        // border: 0.14rem solid $clr_gray_30_percent;
                        cursor: pointer;
                        position: absolute;
                        right: 0;

                        &:hover {
                            background-color: $clr_red !important;

                        }

                        svg {
                            color: $clr_gray_30_percent;
                        }
                    }


                }

                &-button-container {
                    margin-left: auto;

                    button {
                        background-color: $clr_green !important;
                        min-width: 10rem !important;
                        height: 3rem;

                        text-transform: none !important;
                    }
                }

            }


        }
    }

}



.sponsor__details__modal {
    &__content {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        &__body {
            background-color: $clr_white;
            width: 100%;
            max-width: 40rem;
            height: max-content;
            flex: 1;
            padding: 1.2rem;
            border-radius: .45rem;
            position: relative;
            max-height: 90vh;
            overflow-y: auto;

            &__close__btn {
                position: absolute !important;
                right: 1rem;
                top: .5rem;
            }

            &__header {
                font-size: $h6 !important;
                font-weight: $font-bold !important;
            }

            &__details {
                &__name {
                    margin-top: 1.667rem !important;

                    &__value {
                        // display: block;
                        margin-left: .5rem;
                        font-size: $p1 !important;
                        font-weight: $font-medium !important;
                        margin-top: .3rem;
                    }
                }

                &__logo {
                    width: 100%;
                    padding-top: .5rem;


                    &__label {
                        margin-top: 1.667rem !important;
                        font-size: $h6 !important;
                        font-weight: $font-semibold !important;
                    }

                    img {
                        width: 40%;
                        aspect-ratio: 2/1;
                        object-fit: contain;
                        border-radius: .5rem;
                        background-color: $clr_gray_10_percent;


                    }
                }

                &__banner {
                    width: 100%;
                    padding-top: .5rem;

                    &__label {
                        margin-top: 1.667rem !important;
                        font-size: $h6 !important;
                        font-weight: $font-semibold !important;
                    }

                    img {
                        width: 100%;
                        aspect-ratio: 2/1;
                        border-radius: .5rem;
                        background-color: $clr_gray_20_percent;



                    }
                }
            }
        }

    }
}


.sponsor-details-modal {

    .content-wrapper {

        min-height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent !important;

    }

    .content {
        background-color: $clr_white !important;
        width: 100%;
        max-width: 50rem;
        padding: .3rem;
        border-radius: .5rem;
        position: relative;
        max-height: 90vh;
        overflow: auto;
        scrollbar-width: 0 !important;

        &::-webkit-scrollbar {
            width: 0 !important;
            appearance: none;
        }

        .modal-header {
            padding-inline: 1.5rem;
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            background-color: $clr_gray_20_percent;
            border-radius: .3rem .3rem 0 0;

            &-chip {
                background-color: $clr_gray_faded;
                width: max-content;
                padding-inline: .2rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: max-content !important;
                padding-block: .2rem !important;
                padding-bottom: 0 !important;
                font-size: $p2 !important;
                font-weight: $font-medium;

                p {
                    line-height: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }

            &-name {
                font-size: $h4 !important;
                font-weight: $font_semibold !important;
            }

            &-description {
                font-size: $p2 !important;
                font-weight: $font_normal !important;
            }
        }

        .modal-close {
            border: 0.083rem solid $clr_gray_faded !important;
        }

        .modal-content-wrapper {
            padding-inline: 1.5rem;
            padding-bottom: 1rem !important;
            padding-top: 2rem !important;
            // display: flex;
            // column-gap: 4rem;
            // flex-wrap: wrap;
        }

        .modal-group {
            margin-bottom: 1rem;
            // flex: 1 !important;
            // flex-basis: min(100%,20rem) !important;

            .icon {
                color: $clr_sub_header !important;

            }

            .label {
                font-size: $p1 !important;
                font-weight: $font_semibold !important;
                color: $clr_sub_header !important;
                margin-top: .35rem;
            }

            .value {
                font-size: $p1 !important;
                font-weight: $font_normal !important;
                color: $clr_gray_dark_text !important;
                margin-left: .4rem;
                margin-top: .4rem;
            }
        }

        .modal-divider {
            width: 100%;
            height: 0.12rem;
            background-color: $clr_gray_30_percent !important;
        }

        .speakers {

            margin-top: 1rem;
            display: flex !important;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 1rem;
            row-gap: .5rem;

            &-avatar {
                width: 5rem;
                height: 5rem;
            }

        }
    }

}