.nav {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 4.5rem;
  padding-block: 1rem;
  border: none;
  overflow: hidden;
  z-index: 1000;
  &-spacer-left,
  &-spacer-right {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }

  &-content {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }

  &-inner {
    width: 100%;
  }

  &-logo-container {
    flex: 0 0 16.67%;
    max-width: 16.67%;
    &-icon{
      width: 11rem;
      height: 4rem;
    }
  }

  &-links-container {
    flex: 0 0 83.33%;
    max-width: 83.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.75rem;
  }

  &-links {
    display: flex;
    column-gap: 2.5rem;
  }

  &-link {
    text-decoration: none;
  }

  &-divider {
    width: 2rem;
    height: 2rem;
    margin-top: -0.2rem;
  }

  &-auth-link {
    color: $clr_white;
    text-decoration: none;
  }
}

.nav-theme-white{
 color: $clr_white;
 &-background{
  background-color:$clr_white;
 }
 path{
  stroke: $clr_white;
  }
}
.nav-theme-black{
  color: $clr_black;
  &-background{
  background-color:$clr_black;
  }
  path{
    stroke: $clr_black;
    }
}
.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &__icon {
    height: 5.2rem;
    width: 5.2rem;
    margin-bottom: 3.5rem;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    color: $clr_grey;
  }
}

.footer {
  background-color: $clr_black;
  padding-block: 3.33rem;

  .footer-content {
    width: 100%;
  }

  .footer-title {
    color: $clr_white;
    margin-bottom: 1rem;
    font-size: $h1;
    font-weight: $font_medium;
  }

  .footer-subtitle {
    color: $clr_white;
    font-size: $h6;
    margin-bottom: 3.33rem;
  }

  .footer-links-section {
    width: 100%;
    margin-top: 8rem;
  }

  .footer-links-content {
    width: 100%;
  }

  .footer-nav-links {
    margin-bottom: 4rem;
  }

  .footer-nav-list {
    .footer-nav-item {
      color: $clr_white;
      margin-right: 2.66rem;
    }
  }

  .footer-contact-info {
    width: 100%;
  }

  .footer-contact-block {
    margin-bottom: 5.33rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-contact-label {
    color: $clr_white;
    font-size: $p1;
  }

  .footer-contact-value {
    color: $clr_white;
  }

  .footer-logo-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .footer-logo {
    height: max-content;
    width: max-content;
    margin-bottom: 3.91rem;
  }

  .footer-description {
    color: $clr_white;
    text-align: end;
    margin-bottom: 0.66rem;
  }

  .footer-copyright {
    color: $clr_white;
  }
}

.plan-selection-banner {
  &__content {
    background: url('/src/assets/png/plan-banner-image.png') no-repeat center;
    background-size: cover;
    justify-content: center;
    margin-top: 9.16rem;
    margin-bottom: 4.833rem;
    border-radius: 1.667rem;
    padding-block: 5.5rem;

    &-header {
      color: $clr_white;
      &-title {
        font-size: $h1 !important;
        font-weight: $font_extrabold !important;
        line-height: 4rem !important;
        margin-bottom: 0.833rem !important;
      }
      &-subtitle {
        font-size: $h6;
        margin-bottom: 2.833rem !important;
      }
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content {
    .banner-title {
      text-align: center;
      margin-bottom: 0.833rem;
      color: white;
    }

    .banner-subtitle {
      text-align: center;
      margin-bottom: 2.833rem;
      color: white;
    }

    .button-container {
      display: flex;
      gap: 0.75rem;
      margin-inline: auto;
      width: max-content;
    }
  }
}
