.nav {
  position: fixed;
  left: 0;
  right: 0;
  min-height: 4.5rem;
  padding-block: 1rem;
  border: none;
  overflow: hidden;
  z-index: 1000;
  &-spacer-left,
  &-spacer-right {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }

  &-content {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }

  &-inner {
    width: 100%;
  }

  &-logo-container {
    flex: 0 0 16.67%;
    max-width: 16.67%;
    &-icon {
      width: 11rem;
      height: 4rem;
    }
  }

  &-links-container {
    flex: 0 0 83.33%;
    max-width: 83.33%;
    height: 3.9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-link.active {
    color: $clr_blue;
  }
  .nav-link:hover{
      color: $clr_blue !important;
  }
  
  &-links {
    text-align: center !important;
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &-link {
    text-decoration: none;
  }

  &-signUp{
    width: 10.41rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.5rem;
    border: 0.17rem solid $clr_black !important;
  }

  &-divider {
    height: 2rem;
    margin-top: -0.2rem;
  }

  &-auth-link {
    color: $clr_white;
    text-decoration: none;
  }
}

.nav-theme-white {
  color: $clr_white;
  &-background {
    background-color: $clr_white;
  }
  path {
    stroke: $clr_white;
  }
}
.nav-theme-black {
  color: $clr_black;
  &-background {
    background-color: $clr_black;
  }
  path {
    stroke: $clr_black;
  }
}
.accordion {
  .accordion-summary {
    padding: 1.5rem;
    .MuiAccordionSummary-content{
     p{
      font-weight: $font_bold;
      font-size: $h5;
     }
    }
  }
  .MuiCollapse-root{
    p{
      font-weight: $font_medium;
      font-size: $h6;
      color: $clr_gray_dark_text !important
    }
  }
  .MuiAccordionSummary-expandIconWrapper{
    svg{
      width: 2.08rem !important;
      height: 2.08rem !important;
    }
  }
}
.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  &_icon {
    width: 8rem;
    height: 8rem;
    padding: 1rem
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    color: $clr_sub_header;
  }
}

.footer {
  background-color: $clr_black;
  padding-block: 3.33rem;

  .footer-content {
    width: 100%;
    border-bottom: 0.1rem solid $clr_gray_medium;
  }

  .footer-title {
    color: $clr_white;
    margin-bottom: 1rem;
    font-size: $h1;
    font-weight: $font_medium;
    line-height: 3.5rem;
  }

  .footer-subtitle {
    color: $clr_light_gray;
    font-size: $h6;
    margin-bottom: 3.33rem;
  }
  .footer-button{
    background-color: $clr_blue;
    color: $clr_light_gray;
    text-transform: none;
    margin-bottom: 3rem;
  }

  .footer-links-section {
    width: 100%;
    margin-top: 3rem;
  }

  .footer-links-content {
    width: 100%;
  }

  .footer-nav-links {
    margin-bottom: 4rem;
  }

  .footer-nav-list {
    .footer-nav-item {
      color: $clr_white;
      margin-right: 2.66rem;
    }
  }

  .footer-contact-info {
    width: 100%;
  }

  .footer-contact-block {
    margin-bottom: 5.33rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-contact-label {
    color: $clr_light_gray;
    font-size: $p3;
    padding-bottom: 0.5rem;
    font-weight: $font_medium;
  }

  .footer-contact-value {
    color: $clr_white;
  }

  .footer-logo-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .footer-logo {
   width: 11.8rem;
   height: 10.8rem;
   path:last-child{
      fill: $clr_white;
    }
  }

  .footer-description {
    color: $clr_light_gray;
    text-align: end;
    margin-bottom: 0.66rem;
  }

  .footer-copyright {
    color: $clr_light_gray;
  }
}

.plan-selection-banner {
  &__content {
    background: url("/src/assets/png/plan-banner-image.png") no-repeat center;
    background-size: cover;
    justify-content: center;
    margin-bottom: 4.833rem;
    border-radius: 1.667rem;
    padding-block: 5.5rem;

    &-header {
      color: $clr_white;
      &-title {
        font-size: $h1 !important;
        font-weight: $font_extrabold !important;
        line-height: 4rem !important;
        margin-bottom: 0.833rem !important;
      }
      &-subtitle {
        font-size: $h6;
        margin-bottom: 2.833rem !important;
      }
    }
  }
  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    &-view-pricing-button{
      border-radius: 4.3rem !important;
      background-color: $clr_white !important;
      width: 13rem;
      height: 4.9rem;
      color: $clr_black !important;
      font-weight: $font_semibold !important;
      font-size: $p1 !important;
      line-height: 1.3rem !important;
      text-transform: none !important;
    }
    &-contact-button{
      border-radius: 4.3rem !important;
      background-color: $clr_blue !important;
      border: 0.2rem solid $clr_white !important;
      width: 14.8rem;
      height: 4.9rem;
      color: $clr_white !important;
      font-weight: $font_semibold !important;
      font-size: $p1 !important;
      line-height: 1.3rem !important;
      text-transform: none !important;
      svg{
        path{
          fill: $clr_white;

        }
      }
    }
  }
  .banner-content {
    .banner-title {
      text-align: center;
      margin-bottom: 0.833rem;
      color: white;
    }

    .banner-subtitle {
      text-align: center;
      margin-bottom: 2.833rem;
      color: white;
    }

    .button-container {
      display: flex;
      gap: 0.75rem;
      margin-inline: auto;
      width: max-content;
    }
  }
}

.whychoose-section {
  padding-bottom: 6.83rem;
  &__content {
    .whychoose-section__header {
      margin-bottom: 4rem;
      &-description {
        color: $clr_sub_header;
      }
    }
  }
}

.mobile-navbar{
  position: fixed;
  left: 0;
  right: 0;
  border: none;
  overflow: hidden;
  z-index: 1000;
  background-color: $clr_white;
  .logo-container{
    padding: 1rem;
    padding-left: 2rem;
    .logo{
      width: 13rem;
      height: 5rem;
    }
  }
  .hamburger-icon{
    width: 5rem;
    height: 2rem;
  }
}
.mobile-drawer{
  .MuiPaper-elevation{
    background-color: $clr_black;
    width: 30rem !important;
  }
  .drawer-close-icon{
    padding-top: 2.5rem !important;
    padding: 1rem;
   svg{
    width: 2rem;
    height: 2rem;
    path{
      stroke: $clr_white
    }
   }

  }
  .drawer-container{
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    .drawer-link{
      padding: 2rem 0;
      color: $clr_white;
      font-size: $h5;
      border-bottom: 0.041rem solid $clr_text_gray !important;
    }
    .button-container{
      padding-top: 5rem;
      button{
        width: 32.66rem;
        height: 4.1rem;
        border-radius: 4.58rem;
        font-size: $p2;
        font-weight: $font_semibold;
        color: $clr_white;
      }
      .login-button{
        background-color: $clr_blue;
      }
      .signup-button{
        background-color: $clr_black;
        border: 0.16rem solid $clr_white !important;
      }
    }
  }
  
}
