.navbar {
  position: fixed;
  left: 0;
  right: 0;
  max-height: 4.5rem;
  border: none;
  overflow: hidden;
  z-index: 1000;
  background-color: $clr_gray_medium;
  &-spacer-left,
  &-spacer-right {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }

  &-content {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }

  &-inner {
    width: 100%;
  }

  &-logo-container {
    flex: 0 0 16.67%;
    max-width: 16.67%;
    background-color: transparent;
  }

  &-logo {
    height: max-content;
    width: max-content;
  }

  &-links-container {
    flex: 0 0 83.33%;
    max-width: 83.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.75rem;
  }

  &-links {
    display: flex;
    color: $clr_white;
    column-gap: 2.5rem;
  }

  &-link {
    color: $clr_white;
    text-decoration: none;
  }

  &-divider {
    min-height: 50%;
    width: 1px;
    background-color: $clr_white;
  }

  &-auth-link {
    color: $clr_white;
    text-decoration: none;
  }
}

.footer {
  background-color: $clr_black;
  padding-block: 3.33rem;

  .footer-content {
    width: 100%;
  }

  .footer-title {
    color: $clr_white;
    margin-bottom: 1rem;
    font-size: $h1;
    font-weight: $font_medium;
  }

  .footer-subtitle {
    color: $clr_white;
    font-size: $h6;
    margin-bottom: 3.33rem;
  }

  .footer-button {
  }

  .footer-links-section {
    width: 100%;
    margin-top: 8rem;
  }

  .footer-links-content {
    width: 100%;
  }

  .footer-nav-links {
    margin-bottom: 4rem;
  }

  .footer-nav-list {
    .footer-nav-item {
      color: $clr_white;
      margin-right: 2.66rem;
    }
  }

  .footer-contact-info {
    width: 100%;
  }

  .footer-contact-block {
    margin-bottom: 5.33rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-contact-label {
    color: $clr_white;
    font-size: $p1;
  }

  .footer-contact-value {
    color: $clr_white;
  }

  .footer-logo-section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .footer-logo {
    height: max-content;
    width: max-content;
    margin-bottom: 3.91rem;
  }

  .footer-description {
    color: $clr_white;
    text-align: end;
    margin-bottom: 0.66rem;
  }

  .footer-copyright {
    color: $clr_white;
  }
}
