.forgotpassword__container {
  height: 100vh;

  .grid-left {
    background-color: $clr_white;

    .grid-left-image {
      background: url("/src/assets/svg/background-top.svg") no-repeat top;
      background-position: center -8.583rem !important;
      background-repeat: no-repeat !important;
      border-radius: 1.666rem !important;
      background-size: 100%;
      padding-top: 5.83rem !important;
      justify-content: center !important;
      width: 30rem;

      .forgot-password-icon {
        width: 5.5rem;
        height: 5.5rem;
      }

      .forgot-password-title {
        font-size: $h2;
        font-weight: $font_bold !important;
        color: $clr_black;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family:$font !important;
      }

      .forgot-password-title2 {
        font-size: $h6;
        justify-content: center;
        display: flex;
        align-items: center;
        font-weight: $font_normal;
        color: $clr_sub_header;
      }

      .forgot-password-form-grid {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
      }

      .button-reset-password {
        margin-top: 2rem;
        width: 100%;
        height: 3.75rem;
        border-radius: 0.3125rem 0 0 0;
        color: $clr_white;
        background-color: $clr_blue;
        border-radius: 0.3125rem;
        font-family: $font;
        font-weight: $font_medium;
        box-shadow: none;
        text-transform: none;
        font-size: $p2;
      }

      .button-back-to-login {
        margin-top: 2rem;
        font-size: $h6;
        font-weight: $font_medium;
        background-color: transparent;
        color: $clr_black;
        text-transform: none;
        
      }
    }
  }

  .grid-right {
    svg{
      width: 100%;
      height: auto;
    }
  }
}
.Loader{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
