.error-text {
  color: $clr_red !important;
  font-size: 0.833rem !important;
}

.plan-card-active {
  background-color: $bg_light !important;
  border: 0.188rem solid $clr_blue !important;
  color: $clr_black !important;
}

.plan-card {
  max-width: 36rem;
  max-height: 6.833rem;
  background-color: $clr_white;
  border: 0.083rem solid $clr_gray_light;
  margin-top: 2.5rem;
  overflow: hidden;
  border-radius: 0.4rem;
  color: $clr_gray_faded;
  & .MuiFormControlLabel-root {
    margin: 0 !important;
    padding-block: 1.5rem;
    padding-inline: 1.5rem !important;
    width: 100% !important;

    & .MuiFormControlLabel-label {
      width: 100% !important;
    }
  }
  &-header {
    font-size: $h5 !important;
  }
  &-price {
    font-size: $h6;
  }
  &-discount-percent {
    background-color: $clr_blue;
    padding-inline: 1.083rem;
    padding-block: 0.666rem;
    font-weight: $font_medium;
    font-size: $h6;
    border-radius: 0.417rem;
    color: $clr_white;
  }
}

// Custom Textfield styles

.custom-text-field {
  margin-bottom: 0.8rem;
  caret-color: $clr_black;
  color: $clr_black;
  & .label-header {
    font-weight: $font_medium;
    color: $clr_black;
  }
  input:-webkit-autofill {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: $clr_black !important;
    caret-color: $clr_black;
  }
  & .MuiInputBase-input {
    background-color: $clr_white;
  }
  &-icon-btn {
    &:focus {
      outline: none;
    }
  }
  input[type="number"] {
    // Hide spin buttons in WebKit browsers (Chrome, Safari)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Hide spin buttons in Firefox
    -moz-appearance: textfield; // Use textfield appearance
  }
  & .MuiInputBase-input::placeholder {
    color: $clr_gray_extra_dark !important;
    font-size: $p1;
  }
  .MuiOutlinedInput-notchedOutline {
    border: 0.083rem solid $clr_gray_light;
    color: $clr_gray_extra_dark !important;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiInputLabel-outlined {
    color: $clr_black;
    font-size: $h6;

    &.Mui-focused {
      color: $clr_black;
      font-weight: $font_normal;
      font-size: $h6;
    }
  }
}

.custom-select {
  & .MuiOutlinedInput-notchedOutline {
    border: 0.083rem solid $clr_gray_faded;
  }
  & .MuiSelect-select {
    background-color: $clr_white;
  }
}

// Custom Checkbox styles

.checkbox-label {
  font-size: $p1;
  font-weight: $font_medium;
}
.error-input{
  .MuiOutlinedInput-notchedOutline {
    border-color: $clr_red !important;
  }
}

//DataGrid css starts here
.custom-data-grid {
  margin-top: 1rem;
  .status-container {
    display: flex;
    .MuiGrid2-root {
      align-self: center;
      .MuiTypography-root {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        padding: 0.4rem;
        width: 10rem;
      }
    }
  }
  .default-label {
    font-size: $h6;
    color: $clr_black;
    font-weight: $font_medium;
  }
  &-grid {
    margin: 4rem;
    .list-title {
      font-size: $h2 !important;
      font-weight: $font_bold !important;
    }
  }
  .MuiDataGrid-columnHeader {
    border-color: $clr_white;
    .MuiDataGrid-columnSeparator {
      display: none;
    }
    .MuiDataGrid-columnHeaderTitleContainer {
      font-size: $h6;
      color: $clr_grey;
      font-weight: $font_medium;
    }
  }
  .MuiDataGrid-cell {
    border-color: $clr_white;
    background-color: $clr_white;
  }
}
//DataGrid css ends here
