.error-text {
  color: $clr_red !important;
  font-size: 0.833rem !important;
  margin-left: 0 !important;
  margin-bottom: -0.4rem !important;
}

.plan-card-active {
  border: 0.25rem solid $clr_blue !important;
  color: $clr_black !important;

  &-radio-button {
    span {
      .MuiSvgIcon-root {
        path {
          fill: $clr-bright-blue;
        }

        &:last-child {
          padding: 0.15rem;
        }
      }
    }
  }
}

.plan-card {
  max-width: 39.6rem;
  max-height: 7.833rem;
  background-color: $clr_white;
  border: 0.083rem solid $clr_requirement_text;
  margin-top: 2.5rem;
  overflow: hidden;
  border-radius: 0.83rem;

  & .MuiFormControlLabel-root {
    margin: 0 !important;
    padding: 1.5rem;
    width: 100% !important;

    & .MuiFormControlLabel-label {
      width: 100% !important;
    }
  }

  &-header {
    font-size: $h5 !important;
    font-weight: $font_semibold !important;
  }

  &-price {
    font-size: $h6 !important;
    color: $clr_sub_header !important;
    font-weight: $font_medium !important;
  }

  &-discount-percent {
    background-color: $clr_blue;
    padding-inline: 1.083rem;
    padding-block: 0.666rem;
    font-weight: $font_medium;
    font-size: $h6;
    border-radius: 0.417rem;
    color: $clr_white;
  }

  &-icon {
    svg {
      width: 4rem;
      height: 4rem;
    }
  }
}

// Custom Textfield styles

.custom-text-field {
  // margin-bottom: 1rem;
  margin-top: 0.5rem;
  caret-color: $clr_black;
  color: $clr_black;

  & .label-header {
    font-weight: $font_medium;
    color: $clr_black;
  }

  input:-webkit-autofill {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: $clr_black !important;
    caret-color: $clr_black;
  }

  & .MuiInputBase-input {
    background-color: $clr_white;
  }

  & .MuiInputLabel-outlined {
    color: $input_label !important;
  }

  &-icon-btn {
    &:focus {
      outline: none;
    }
  }

  &-placeholder {
    color: $clr_black !important;
    font-size: $p1 !important;
    font-weight: $font_normal !important;
  }

  input[type='number'] {

    // Hide spin buttons in WebKit browsers (Chrome, Safari)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  & .MuiInputBase-input::placeholder {
    color: $clr_gray_dark !important;
    font-size: $p1;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 0.083rem solid $clr_gray_light;
    color: $clr_gray_extra_dark !important;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiOutlinedInput-root.Mui-disabled {
    .MuiOutlinedInput-notchedOutline{
      border-color: $clr_gray_very_light !important;

    }

  .MuiSvgIcon-root{
    color: $clr_gray_light !important;
  }

  }


  .MuiInputLabel-outlined {
    color: $clr_grey;
    font-size: $p1;
    background-color: $clr_white;
    padding-right: 0.5rem;

    &.label-disabled{
      color: $clr_gray_light  !important ;
    }
    
   
    &.Mui-focused {
      font-weight: $font_normal;

    }
  }

  .MuiInputLabel-root {
    &.Mui-focused {
      color: $clr_grey;
      background-color: $clr_white;
    }
    
  }


}

.custom-select {
  & .MuiOutlinedInput-notchedOutline {
    border: 0.083rem solid $clr_gray_faded;
  }

  & .MuiSelect-select {
    background-color: $clr_white;
  }
}

// Custom Checkbox styles

.checkbox-label {
  font-size: $p2;
  font-weight: $font_medium;
}

.custom-checkbox .MuiSvgIcon-root {
  border-radius: 50%;
}

.error-input {
  .MuiOutlinedInput-notchedOutline {
    border-color: $clr_red !important;
  }
}
.fx-skelton{
  border-radius: $p2 !important;
  border: 0rem !important;
}
//DataGrid css starts here
.custom-data-grid {
  margin-top: 1rem;
  border-radius: $p2 !important;
  border: 0rem !important;
  font-size: $p1;

  .MuiDataGrid-main {
    max-height: var(--grid-height, calc(100vh - 200px)) !important;
  }

  .MuiDataGrid-row {
    background-color: $clr_white;
  }

  .MuiDataGrid-row:hover {
    background-color: $clr_gray_medium;
  }

  .MuiDataGrid-columnHeader:focus-within{
    outline: none !important;
  }
  .MuiDataGrid-virtualScrollerRenderZone {
    overflow: scroll !important;
    max-height: calc(var(--grid-height) - 5.7rem) !important;

    .MuiDataGrid-cell {
      outline: none !important;
    }
  }

  cursor: pointer;

  .status-container {
    display: flex;
    font-size: $p1;

    .MuiGrid2-root {
      align-self: center;

      .MuiTypography-root {
        display: flex;
        align-items: center;
        justify-content: center;
        // border-radius: 0.4rem;
        padding: 0.4rem;
        width: 9rem;
        font-weight: $font_normal !important;
        background-color: $clr_light_green !important;
        color: $clr_dark_green !important;
        border-radius: 0.8rem !important;
      }

    }
  }

  .status-active {
    display: flex;

    .MuiGrid2-root {
      align-self: center;

      .MuiTypography-root {
        display: flex;
        align-items: center;
        justify-content: center;
        // border-radius: 0.4rem;
        padding: 0.4rem;
        width: 9rem;
        color: $clr_light_orange !important;
        background-color: $clr_dark_orange !important;
        border-radius: 0.8rem !important;
        font-weight: $font_normal !important;
      }

    }
  }

  .default-label {
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    font-size: $p3 !important;
    color: $clr_black !important;
    padding-left: 3rem !important;
    font-weight: $font_normal !important;

  }

  &-grid {
    margin-left: 0.4rem;
    margin-right: 0.4rem;

    //margin: 3rem;
    .list-title {
      font-size: $h3 !important;
      font-weight: $font_bold !important;
    }

  }

  .pagination {
    background-color: $clr_white;
    padding: 1rem !important;

    &-label {
      padding-right: 1rem !important;
      font-size: $p3 !important;
    }
  }

  .MuiDataGrid-columnHeader {
    border-color: $clr_white;
    margin-top: 1rem !important;


    .MuiDataGrid-columnSeparator {
      display: none;
    }

    .MuiDataGrid-columnHeaderTitleContainer {
      font-size: $h6;
      color: $clr_grey !important;
      font-weight: $font_normal;
      padding-left: 2rem !important;
      margin-bottom: 1rem !important;
      background-color: $clr_white;
    }

  }

  .MuiDataGrid-cell {
    border-color: $clr_white;
    background-color: transparent;
    font-weight: $font_normal;
    font-size: $p1 !important;
    justify-content: center !important;

  }

  .MuiDataGrid-footerContainer {
    display: block;
  }
}

.custom-data-grid.with-border {
  border: 0.083rem solid $clr_light_border_grey !important;
  border-radius: 0.8rem !important;

  .MuiDataGrid-cell {
    font-size: $p2 !important;
    border-top: 0.083rem solid $clr_light_border_grey;
  }

  .MuiDataGrid-row--borderBottom .MuiDataGrid-columnHeader {
    border-bottom: none;
  }

  .MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitleContainer {
    color: $clr_black !important;
    font-size: $p2;
  }
}


.custom-pagination {
  background-color: #f5f5f5;
  border-top: 0.083rem solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
}

.pagination {
  .MuiPaginationItem-root {
    font-size: $p2 !important;
    color: $clr_gray_medium !important;
  }

  .MuiPaginationItem-previousNext {
    color: $clr_gray_dark !important;
    font-size: $p3 !important;
  }

  .Mui-selected {
    font-size: $p2 !important;
    border-radius: $p2 !important;

    color: $clr_green !important;
  }

  &.blue-theme {
    .Mui-selected {
      background-color: $clr_status_bar !important; // Blue background
      color: $clr_blue !important;
    }
  }

  &.green-theme {
    .Mui-selected {
      background-color: $clr_green_light !important; // Green background
      color: $clr_green !important;
    }
  }
}

.custom-list {
  margin-top: 2.2rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;

  &-next-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_normal !important;
  }

  &-edit-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_normal !important;
    float: right !important;
  }

  &-save-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_normal !important;
    float: right !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  &-filter-btn {
    max-height: 4rem;
    background-color: $clr_white !important;
    color: $clr_green !important;
    max-width: 21rem !important;
    border: 0.083rem solid $clr_green !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_normal !important;

  }

  &-list-title {
    font-weight: $font_bold !important;
    font-size: $h4 !important;
    padding-left: 1rem !important;
  }

  &-container {
    background-color: $clr_white;
    margin: 1rem;
    border-radius: 0.83rem;
  }

  &-filters {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

  }

  &-grid {
    margin-top: $p3 !important;
  }

  &-form {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
  }

  &-restore-btn {
    border: 0.083rem solid $clr_green !important;
    background-color: $clr_white !important;
    color: $clr_green !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

}

.filter-drawer {
  padding: 2rem;
  margin: 1rem;
  width: 36rem;
  &-header {
    font-size: $h5 !important;
    font-weight: $font-semibold !important;
  }
  &-subheader {
    font-size: $h6 !important;
    font-weight: $font-semibold !important;
    margin-top: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  &-card-template {
    padding: 0.1rem;
    background-color: $clr_gray_very_light;
    text-align: center;
    border-radius: 5px;
    button {
        padding: 0.3rem;
        color: $clr_gray_dark;
        text-transform: none;
        font-weight: $font_bold !important;
        font-size:small;
    }
  }
  &-card-template-selected {
    border: 0.15rem solid;
    border-color: $clr_green !important;;
    background-color: $clr_gray_very_light;
    text-align: center;
    border-radius: 5px;
    
    button {
        padding: 0.3rem;
        color: $clr_green;
        text-transform: none;
        font-weight: $font_bold !important;
        font-size:small;
    }
  }
  .seperator {
    width: 100%;
    margin: 0 auto;
    border-color: $clr_gray_medium;
  }
  &-clear-button{
    text-transform: none !important;
    background-color: $clr_green !important;
  }
  &-apply-button{
    text-transform: none !important;
    background-color: $clr_green !important;
  }
}

.footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $clr_white !important;

  .clear-button {
    max-height: 4rem;
    background-color: $clr_white;
    color: $clr_green !important;
    border: 1px solid $clr_green ;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;


    &:hover {
      background-color: $clr_green;
      color: $clr_white !important;
      /* Darker red */
    }
  }

  .apply-button {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;

    &:hover {
      background-color: $clr_white !important;  
      color: $clr_green !important;
      border: 1px solid $clr_green ;
      /* Darker green */
    }
  }

}

.custom-autopopulate {
  overflow: hidden;
  padding-block:.65rem !important;
  /* Remove the default border or outline */
  border:0.0667rem solid $clr_light_sky_blue !important;
}

.custom-autopopulate .MuiOutlinedInput-root{
  padding: 0 !important;
  border:none !important; 
}

.custom-user-search-field {
  max-height: 4.2rem !important;
  font-weight: $font_normal !important;
  font-size: $h6 !important;
  border-radius: 0.5rem !important;
  padding-left: 0rem !important;
  width: 40rem !important;
  background-color:$clr_gray_20_percent ;

  &-icon {
    color: $clr_gray_medium !important;
    font-size: 10rem !important;
  }
}

.custom-pagination {
  background-color: #f5f5f5;
  border-top: 0.083rem solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
}

.pagination {
  .MuiPaginationItem-root {
    font-size: $p3 !important;
    color: $clr_gray_medium !important;
  }

  .MuiPaginationItem-previousNext {
    color: $clr_gray_dark !important;
    font-size: $p1 !important;
  }

  .Mui-selected {
    font-size: $p3 !important;
    border-radius: $p3 !important;
    background-color: $clr_green_light !important;
    color: $clr_green !important;
  }
}

.custom-list {
  margin-top: 2.2rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;

  &-next-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;
  }

  &-filter-btn {
    max-height: 4rem;
    background-color: $clr_white !important;
    color: $clr_green !important;
    max-width: 21rem !important;
    border: 0.125rem solid $clr_green !important;
    text-transform: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;

  }
  &-filter-submit-btn {
    max-height: 4rem;
    background-color: $clr_green !important;
    color: $clr_white !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;
    
  }
  &-filter-submit-btn:hover {
    background-color: #388e3c;
    /* Darker green */
  }

  &-list-title {
    font-weight: $font_bold !important;
    font-size: $h4 !important;
    padding-left: 1rem !important;
  }

  &-container {
    background-color: $clr_white;
    margin: 1rem;
    border-radius: 0.83rem;
  }

  &-filters {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

  }

  &-grid {
    margin-top: $p1 !important;
  }

  &-form {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
  }

  &-view-all-button {
    background-color: $clr_white !important;
    color: $clr_green !important;
    border: 1px solid $clr_green !important;
    text-transform: none !important;
    margin-top: -3rem !important;
  }

}

.custom-autopopulate {
  /* Remove the default border or outline */
  border: none;
  box-shadow: none;
  /* Remove box shadow if needed */
}

.custom-autopopulate .MuiOutlinedInput-notchedOutline {
  border: none;
  /* Ensure no outline */
}

.custom-search-text-field {
  max-height: 4.2rem !important;
  min-width: 33rem !important;
  background-color: $clr_white !important;
  color: $clr_silver_gray !important;
  font-weight: $font_normal !important;
  font-size: $h6 !important;
  border-radius: 0.4167rem !important;
  border-color:$clr_white !important;
  padding-left: 0rem !important;

  &-icon {
    color: $clr_gray_medium !important;
    font-size: 10rem !important;
  }
}
.custom-search-event-text-field {
  max-height: 4.2rem !important;
  background-color: $clr_white !important;
  color: $clr_gray_medium !important;
  font-weight: $font_normal !important;
  font-size: $h6 !important;
  border-radius: 0.5rem !important;
  padding-left: 0rem !important;

  &-icon {
    color: $clr_gray_medium !important;
    font-size: 10rem !important;
  }
}

//DataGrid css ends here
.custom-stepper {
  background-color: $background;
  padding-right: 3rem !important;
  margin: 1rem !important;

  &-main {
    border-right: 1px solid $clr_gray_very_light;
    background-color: $clr_white;
  }

  &-container {
    width: 54.08rem !important;

   .MuiIconButton-root:hover {
    background-color: transparent !important;
   }

    .MuiStepLabel-label {
      font-size: $p2 !important;
      font-weight: $font_medium;
      color: $clr_field;
    }

    .Mui-active {
      color: $clr_green !important;
    }
  }

  &-button-container {
    background-color: $clr_white;
    padding-right: 5.5rem;
  }

  &-step-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &-stepper-icon {
    width: 15rem !important;
    height: 15rem !important;
  }

  &-next-button {
    margin: auto !important;
    display: block !important;
    width: 7rem !important;
    height: 3.2rem !important;
    background-color: $clr_green !important;
    color: $clr_white !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_semibold !important;
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
    box-shadow: none !important;

    &-event {}

    &-program {}

    &-details {
      margin-right: 2rem !important;
    }
  }

  &-back-button {
    margin-left: 4rem !important;
    height: 3.2rem !important;
    color: $clr_black !important;
    background-color: $clr_white !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_semibold !important;
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
    box-shadow: none !important;
  }

  &-save-as-draft-button {
    margin: auto !important;
    display: block !important;
    width: 14rem !important;
    height: 3.2rem !important;
    border: 2px solid $clr_green !important;
    color: $clr_green !important;
    background-color: $clr_white !important;
    text-transform: none !important;
    font-size: $p1 !important;
    font-weight: $font_semibold !important;
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
    box-shadow: none !important;
  }

  &-other-details {
    font-weight: $font_normal !important;
    font-size: $h6 !important;
    padding-bottom: 5rem !important;
  }

  &-bottom-spacing {
    height: 10rem !important;
  }

  &-conference-details {
    background-color: $clr_white;

    &-content {
      &-container {
        padding: 2rem !important;
      }

      &-title {
        font-weight: $font_bold !important;
        font-size: $h3 !important;
        padding-top: 1rem;
      }

      &-sub-title {
        font-weight: $font_semibold !important;
        font-size: $h5 !important;
        padding-left: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-header-container {
        height: 4.16rem;
        border-radius: 0.83rem;
        background-color: $medium_grey;
      }

      &-type {
        height: 2.83rem;
        border-radius: 0.66rem;
        background-color: $clr_status_bar;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $clr_cyan_blue ;
      }

      &-date-icon {
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &-date {
        height: 2.83rem;
        border-radius: 0.66rem;
        background-color: $clr_status_bar;
        padding-left: 1rem;
        padding-right: 1rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &-time {
        background-color: $clr_green_medium;
        padding: 0.6rem;
        border-radius: 0.4rem;
      }
    }
  }

  &-parse {
    max-width: 100% !important;
    overflow-wrap: break-word !important;

    ul {
      list-style-type: disc !important;
      padding-left: 1.25rem !important;
    }

    ol {
      list-style-type: decimal !important;
      padding-left: 1.25rem !important;
    }
  }

}


.error-input {
  .MuiOutlinedInput-notchedOutline {
    border-color: $clr_red !important;
  }
}

.indent {
  padding-left: 2rem;
}

.disabled-button {
  background-color: $clr_disabled !important;
  cursor: not-allowed !important;
}

.helper-text {
  color: $clr_red !important;
  font-size: $p2 !important;
  font-size: $p2;
  margin: 0 !important;
  margin-top: -0.9rem !important;
}

.no-record {
  display: flex;

  &-container {
    width: '100%';
    background-color: $clr_white;
    margin: 1rem;
    border-radius: 0.9rem;
    padding-top: 6rem;
  }

  &-image {
    margin-top: 10rem !important;
  }

  &-title {
    display: flex;
    font-weight: $font_semibold !important;
    font-size: $p5 !important;
    justify-content: center !important;
    margin-top: 3rem !important;
    color: $clr_black !important;
  }

  &-subtitle {
    font-weight: $font_normal !important;
    font-size: $p2 !important;
    text-align: center;
    margin-bottom: 2rem !important;
    color: $clr_gray_extra_dark !important;
  }

  &-create-btn {
    height:4.17rem !important;
    background-color: $clr_green !important;
    color: $clr_white !important;
    max-width: 19rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    font-size: $p2 !important;
    font-weight: $font_normal !important;
    margin-bottom: 3rem !important;
  }
}


.custom-alert {
  font-weight: bold;
  /* Bold text */
  border-radius: 0.83rem;
  /* Rounded corners */
  box-shadow: 0rem 0.33rem 0.83rem rgba(0, 0, 0, 0.1);
  /* Custom shadow */
}

.data-grid-status {
  width: 8rem;
}

.snackBar {
  .MuiPaper-root {
    align-items: center;

    .MuiAlert-action {
      padding: 0.5rem !important
    }

    .MuiAlert-message {
      font-size: $p3 !important;
    }
  }
}

.select-input-label {
  color: $light_grey !important;
  font-size: $p1 !important;
  padding-top: 0.7rem !important;
  background-color: $clr_white;
}

.custom-chip {
  &-box {
    margin-top: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    overflow-y: auto;
    max-height: 12rem;
  }
}

.statusText {
  align-items: center !important;
  font-weight: $font-medium !important;
  font-size: $p2 !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
}

.custom-file-upload {
  background-color: $clr_white !important;
  color: $clr_black !important;
  border: 0.083rem solid $clr_black !important;
  box-shadow: none !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  .file-item {
    border-radius: .66rem !important;
    border: 0.33rem solid $clr_light_grey !important;
  }
}

.payment-alert-banner {
  .MuiPaper-root {
    width: 100%;
    border: 1px solid $clr_reddish_yellow;
    border-radius: 0.83rem;
  }

  &-title {
    font-size: $h5 !important;
    font-weight: $font_bold !important;
  }

  &-sub-title {
    font-size: $p2 !important;
    font-weight: $font_medium !important;
  }

  &-btn {
    background-color: $clr_green !important;
    color: $clr_white !important;
    text-transform: none !important;
    height: 3.5rem;
    font-size: $p2 !important;
    font-weight: $font_medium !important;
    box-shadow: none !important;
  }

}

.action-modal {
  margin-bottom: 1rem;
  width: 26.25rem;
  padding: 1rem;

  .action-modal-icon {
    width: 3rem !important;
    height: 3rem !important;
  }

  .action-modal-header {
    font-weight: $font_bold !important;
    font-size: $h5 !important;
    text-align: center !important;

  }

  .action-modal-sub-header {
    font-weight: $font_medium !important;
    font-size: $p3 !important;
    text-align: center !important;
  }

  .action-modal-btn-cancel {
    margin-left: 1rem !important;
    width: 8.75rem;
    text-transform: none !important;
    box-shadow: none !important;
    background-color: $clr_gray_dark !important;
  }

  .action-modal-btn-ok {
    margin-left: 1rem !important;
    width: 8.75rem;
    text-transform: none !important;
    box-shadow: none !important;
    background-color: $clr_green !important;
  }
}

.faq-section {
  padding-bottom: 6.83rem;

  &__content {
    .faq-section__header {
      margin-bottom: 4rem;

      &-title {
        margin-bottom: 0.3rem;
        font-weight: $font_bold !important;
        font-size: $h2;
      }

      &-description {
        color: $clr_sub_header;
      }
    }
  }

  &__cards {
    .MuiPaper-elevation {
      --Paper-shadow: none !important
    }
  }
}

.otp-container{

  input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
}

.no-border .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.no-border .MuiInputBase-input{
  border: "none", 
}
.MuiOutlinedInput-notchedOutline {
  border-color: $clr_gray_extra_light !important;
}


.no-border .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.no-border .MuiInputBase-input{
  border: "none", 
}
.MuiOutlinedInput-notchedOutline {
  border-color: $clr_gray_extra_light !important;
}

.custom-Time-picker{
  width: 100%;
  margin-top: 0.5rem;
  caret-color: $clr_black;
  color: $clr_black;
  & .label-header {
    font-weight: $font_medium;
    color: $clr_black;
  }
  input:-webkit-autofill {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: $clr_black !important;
    caret-color: $clr_black;
  }
  & .MuiInputBase-input {
    background-color: $clr_white;
  }
  & .MuiInputLabel-outlined{
    color:$input_label !important;
  }
  &-icon-btn {
    &:focus {
      outline: none;
    }
  }
  &-placeholder{
    color: $clr_black !important; 
    font-size: $p1 !important;
    font-weight: $font_normal !important;
  }
  input[type='number'] {
    // Hide spin buttons in WebKit browsers (Chrome, Safari)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }
  & .MuiInputBase-input::placeholder {
    color: $clr_gray_dark !important;
    font-size: $p1;
  }
  .MuiOutlinedInput-notchedOutline {
    border: 0.083rem solid $clr_gray_light;
    color: $clr_gray_extra_dark !important;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_light;
  }
  .MuiInputLabel-outlined {
    color: $clr_grey;
    font-size: $p1;
    background-color: $clr_white;
    padding-right: 0.5rem;
    &.Mui-focused {
      font-weight: $font_normal;
    }
  }

  .MuiInputLabel-root{
    &.Mui-focused {
      color: $clr_grey;
      background-color: $clr_white;
    }
  }

  
}
.border-error-input{
  border: 0.5px solid $clr_red !important;
  .custom-search-text-field {
    border: 0.5px solid $clr_red !important;
  }
}
