.auth{
    .user-layout-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding: 3.33rem;
.user-layout-card {
    // background: url("../assets/svg/background-top.svg") no-repeat top;
    background-position: center  -16.6667rem;
    background-repeat: no-repeat;
    box-shadow: $clr_gray_faded 0 0.0833rem 0.3333rem;
    border-radius: .5rem;
    max-width: 60rem;
    width: 100%;
    margin-inline: auto;
    padding: 3.33rem;
    min-height: 100%;
    }
    .card-plain {
        background: none;
    }
}}