<html lang="en">

</html>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
        <script>
            window.onload = function () {
                document.getElementById("year").textContent = new Date().getFullYear();
            };
        </script>
</head>

<body style="background: #F8F9FA;color: #3c4043; margin: 0;font-family: 'Open Sans', sans-serif; padding: 30px 0;-webkit-font-smoothing: subpixel-antialiased;
            -webkit-text-stroke:1px transparent;">
    <div>
        <table style="margin: 0 auto; background: #F2F5F8;border-spacing: 0;">
            <tbody style="display: block;">
                <tr style=" width: 600px; background: #F2F5F8;">
                    <td style="background: #F2F5F8;vertical-align: baseline;width: 600px;">
                        <img width="150px" src="https://confgo.com/assets/logo2.png"
                            style="margin: 0 auto;display: block;padding: 30px;">
                        <table style="text-align: center;">
                    </td>
                </tr>
            </tbody>
            <table
                style=" width: 570px;display:block;padding: 0px;background: #fff;margin: 0 auto;border-spacing: 0;border-radius: 5px;">
                <tbody style="padding: 30px;width: 570px; display: contents;">
                    <tr>
                        <td style="width: 600px;  padding: 30px;">
                            <div>
                                <p style="margin: 0;padding: 14px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 20px;
                    line-height: 150%;letter-spacing: 0.2px; font-family: 'Inter', sans-serif;font-weight: 600; ">
                                    Welcome to confgo&#8203;.com </p>

                                <p style="margin: 0;padding: 0px 14px 18px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 16px;
                    line-height: 150%;font-weight: 600;">{{NAME}},</p>

                                <p style="margin: 0;padding: 0px 14px 18px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 16px;
                    line-height: 150%;"> Thank you for getting in touch with us! We’ve received your message and will
                                    respond to you as soon as possible.<br />
                                
                                <p style="margin: 0;padding: 0px 14px 10px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 16px;
    line-height: 150%;">Regards,<br>
                                    Team confgo</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table
                style=" width: 570px;display: block;padding: 0px;background: #fff;margin: 0 auto;border-spacing: 0;border-radius: 5px; margin-top: 10px;">
                <tbody style="padding: 30px;width: 570px; display: contents;">
                    <tr>
                        <td style="width: 600px;  padding: 30px;">
                            <div>
                                <p style="margin: 0;padding: 0px 14px 18px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 14px;
                        line-height: 150%;">If you have any questions or complaints, feel free to reach out.
                                    <a style="color: #C4095E; text-decoration: none;" href="#"> info@confgo.com </a>
                                </p>
                                <p style="margin: 0;padding: 0px 14px 0px;border-radius: 0px 0px 2px 2px;color: #384860;font-size: 12px;
                        line-height: 150%;">This is an auto-generated email. Therefore please do not reply to this
                                    e-mail</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="background: #262534;width: 600px;padding: 30px;margin-top: 20px;">
                <tbody>
                    <tr>
                        <td style="color: #fff; font-size: 14px;">
                            ©{{year}} confgo&#8203;.com All rights reserved
                        </td>
                        <td>
                        <!-- <td><img src="{{URL}}/images/Instagram.jpg" style="width: 19px;"> </td>
                        <td><img src="{{URL}}/images/Twitter.jpg" style="width: 19px;"> </td>
                        <td><img src="{{URL}}/images/Facebook.jpg" style="width: 19px;"> </td> -->

                        </td>
                    </tr>
                </tbody>
            </table>
        </table>
    </div>
</body>

</html>