.form-builder {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .grid-left {
      padding: 1rem;
      background-color: $border_list;
      min-height: 100%;
      height: 100%;
      overflow: auto;
      scrollbar-width: none;
      .no-fields-placehold-container {
        width: 100%;
        min-height: 100%;
        .no-fields-placeholder {
          font-size: $h6;
          color: $clr_grey;
          font-weight: $font-semibold;
        }
      }
  
      .fields-data-container {
        width: 100%;
        max-width: 40rem;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        .textfield-container {
          margin-bottom: 2rem !important;
          .text-select-wrapper {
            margin-bottom: 1rem;
          }
        }
        .button-group {
          display: flex;
          column-gap: 1rem;
          .edit-button {
            background-color: $clr-gray_faded;
            color: $clr_black;
          }
  
          .delete-button {
            background-color: $clr_black;
          }
        }
  
        .field-header {
          font-size: $p2;
          font-weight: $font_bold;
          color: $clr_gray_dark_text;
        }
        .field-value {
          font-size: $p2;
          color: $clr_gray_dark_text;
          font-weight: $font_medium;
        }
        .save-button {
          background-color: $clr_black;
        }
      }
    }
    .grid-right {
      min-height: 100%;
      .content-container {
        width: 100%;
        max-width: 31.67rem;
        padding-inline: 1rem;
        overflow: auto !important;
        height: 44rem !important;
        margin-inline: auto;
        .header-container {
          margin-bottom: 3.5rem;
          .header-title {
            font-size: $h2;
            font-weight: $font-bold;
          }
          .header-subtitle {
            font-size: $p1;
            color: $clr_gray_dark_text;
          }
        }
        .form {
          margin-bottom: 1.5rem;
          margin-inline: auto;
          .textfield-container {
            margin-bottom: 3.33rem;
            display: flex;
            flex-direction: column;
            gap: 1.66rem;
          }
  
          .create-form-field-button {
            background-color: $clr_black;
          }
        }
      }
      .create-form-button-container {
        width: 100%;
        border-top: 0.0625rem solid $clr_gray_light;
        padding-top: 1.5rem;
      }
      .create-form-button {
        background-color: $clr_white;
        border: 0.08rem solid $clr_black;
        color: $clr_black;
        width: 100%;
        max-width: 41.67rem;
        margin-bottom: 2rem;
      }
    }

    &-title{
      font-size: $h4 !important;
    }
    &-content{
      font-size: $h6 !important;
      &-container{
        margin-bottom: 2rem;
      }
    }
    &-sub-title{
      font-size: $h6 !important;
    }
  }
  
  .field-accordion-card {
    .accordion-header-container {
      width: 100%;
    }
    .form-container {
      border-top: 0.0625rem solid $clr-gray-light;
      padding-top: 3rem;
      .save-button-containier {
        width: 70%;
        margin-inline: auto;
      }
    }
  }
   
  