.user-layout-card {
  padding: 0rem 3rem 3rem 3rem !important;

}

.enduser-login {
  .content-container {
    max-width: 33.33rem;
  }

  .header-container {
    // background: url("../assets/svg/background-top.svg") no-repeat top;
    background-position: center -4rem;
    background-repeat: no-repeat;
    margin-bottom: 3.5rem;
    min-height: 10rem;
    align-content: end;
    background-size: 70%;

    .header-title {
      font-size: $h2;
      font-weight: $font-bold;
    }

    .header-subtitle {
      font-size: $p2;
      color: $clr_sub_header;
    }
  }
 
  .custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_extra_light; 
  }
  
  .custom-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $clr_gray_extra_light;
  }
  
  .form {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    .textfield-container {
      margin-bottom: 3.33rem;
      display: flex;
      flex-direction: column;
      gap: 1.66rem;
      color: red;
    }

    .login-button {
      min-height: 4rem;
      font-size: $p2;
      text-transform: none;
      background-color: $clr_blue;
      box-shadow: none !important;
    }
  }

  .navigation-text-container {
    text-align: center;
    margin-bottom: 3.33rem;

    .signup-text {
      font-size: $p2;
      margin-bottom: 1.66rem;
      color: $clr_gray_dark_text;
      font-weight: $font-medium;

      .signup-text-highlight {
        color: $clr_blue;
        font-weight: $font-bold;
      }
    }

    .forgot-password-text {
      font-size: $p2;
      font-weight: $font-bold;
      color: $clr_blue;
      cursor: pointer;
    }
  }

  .sso-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sso-header-container {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
    gap: .5rem;

    .sso-header-text {
      font-size: $p3;
      font-weight: $font-medium;
    }

    .sso-header-line {
      background-color: $clr_gray_faded;
      height: 0.11rem;
      flex: 1;
    }
  }

}



@media (max-width: 600px) {
  .user-layout {
    &-content {
    padding: 0 !important;
      
    }
    &-card {
      padding-inline: 0 !important;

  }
}
  .enduser-login{
    .content-container{
      padding: 0 !important;
      padding-top: 150px!important;
    }

    .sso-header-container{
      padding-inline: 1rem !important;
    }
    .sso-container{
      padding-inline: 1rem !important;
    }
    .sso-container > div{
      width: 100%;
    }
    .sso-container [role=button]{
      padding-block: 2rem !important;
    }
    #container{
      width: 100% !important;
    }
  }

}