.template-6 {
    position: relative;

    .section-vertical-padding {
        padding-block: 5rem;
    }

    .t6-navbar {
        padding-block: 2rem;
        position: absolute;
        // background-color: rgba(0, 0, 0, 0.89);
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;

        .links-container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            align-items: center;

            .links {
                margin-inline: auto;
                display: flex;
                column-gap: 4rem;
                font-size: $p1;
                font-weight: $font_medium;
                color: $clr_white;
                height: 100%;
                align-items: center;
            }

            .sponsor-button {
                padding-inline: 1.3rem;
                padding-block: .6rem;
                color: $clr_white;
                background-color: $clr_blue;
                border-radius: 3rem;
                font-size: $p1;
                font-weight: $font_medium;
            }
        }
    }


    .hero-container {
        // min-height: 100vh;
        padding-block: 6rem;
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/src/assets/images/t6hero.png');



        .spacer {
            height: 7.5rem;
        }

        .hero-content {

            display: flex;
            column-gap: 2rem;

            .hero-details {
                flex: 1;
                .hero-title {
                    color: $clr_white;
                }

                .hero-card {
                    background-color: $clr_blue;
                    color: $clr_white;
                    border-radius: 1.663rem;
                    padding: 1.5rem;
                    width: 95%;
                    margin-top: 2rem;

                    .icon-container {
                        background-color: $clr_green;
                        border-radius: 50%;
                        min-height: 4rem;
                        min-width: 4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            font-size: 2.2rem;
                        }


                    }

                    .label {
                        font-size: $p2;
                        margin-bottom: .5rem;
                    }

                    .value {
                        font-size: $h5;
                    }

                    .date {
                        background-color: $clr_orange;
                    }
                    .auth-button-container{
                        margin-top: 2.417rem;
                        display: flex;
                        column-gap: 1rem;
                        .auth-btn{
                            width: 9.75rem !important;
                            height: 4.167rem !important;
                            border:0.125rem solid $clr-white !important;
                            color: $clr_white !important;
                            font-weight: $font-semibold !important;
                        }
                        .reg-btn{
                            width: 9.75rem !important;
                            height: 4.167rem !important;
                            background-color: $clr-white !important;
                            color:$clr_blue !important;
                            font-weight: $font-semibold !important;
                            
                        }  
                    }

                }


            }

            .images {
                display: flex;
                flex: 1;
                column-gap: 2.5rem;
                justify-content: space-between;


                .img1-wrapper {
                    // height: 100%;
                    width: max-content;
                    // display: flex;
                    justify-content: flex-end;
                    margin-top: auto;
                    filter: drop-shadow(0rem 3.125rem 6.25rem rgba(255, 255, 255, 0.162)) drop-shadow(0rem 1.875rem 3.75rem rgba(0, 0, 0, 0.3));



                    .img1 {
                        // height: 100%;
                        height: auto;
                        margin-top: auto;
                    }
                }

                .images-group {
                    display: flex;
                    flex-direction: column;
                    row-gap: 3rem;
                    justify-content: flex-end;

                    .img2-wrapper,
                    .img3-wrapper {
                        filter: drop-shadow(0rem 3.125rem 6.25rem rgba(255, 255, 255, 0.158)) drop-shadow(0rem 1.875rem 3.75rem rgba(0, 0, 0, 0.3));


                    }
                }

            }



        }

        .img-group2 {
            display: flex;
            justify-content: space-between;
            column-gap: 2rem;
            margin-top: 2.5rem;

            .img-group2-wrapper {
                filter: drop-shadow(0rem 3.125rem 6.25rem rgba(255, 255, 255, 0.151)) drop-shadow(0rem 1.875rem 3.75rem rgba(0, 0, 0, 0.3));

            }
        }


    }


    .template-6-about {
        text-align: center;
        padding-block: 6rem;
        background-color: $clr_white;

        .about-section {

            &-title {
                font-weight: $font_semibold;
                margin-bottom: 1rem;
                max-width: 80%;
                text-align: center;
                margin-inline: auto;
            }

            &-description {

                margin-inline: auto;
                font-size: $h6;
                max-width: 72rem;

            }
        }




    }


    .t6-time-remaining {

        padding-block: 5rem;
        background: url('/src/assets/images/t6timerbg.png');

        .t6-time-remaining-content {

            .time-remaining-content {

                &-title {
                    color: $clr_white;
                    font-size: $h2;
                    font-weight: $font_semibold;
                    text-align: center;
                    margin-bottom: 2.5rem;

                }

                &-timer {
                    color: $clr_white;

                    .group {
                        flex-direction: column;
                        align-items: center;
                    }

                    .value {}


                }
            }


        }
    }


    .t6-speakers-section {
        padding-block: 5rem;
        background-color: $clr_white;

        &-title {
            text-align: center;
            margin-bottom: 3rem;
        }

        .speaker-image {
            transition: all;
            transition-duration: 500ms;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .template-6-location {
        padding-block: 5rem;
        background-color: $clr_white;

        &-title {
            text-align: center;
            margin-bottom: 3rem;
        }

    }
    .sponsor-section {
        padding-block: 5rem;
        background: $clr_gray_10_percent;
        border-radius: 1rem;

        &__container {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
        }

        .sponsor-banner-text {
            margin-bottom: 2rem;
            font-size: $h3;
            font-weight: $font_bold;
            color: $clr_gray_extra_dark
        }
    }
    .t6-sponosor-contact-form {
        padding-block: 3rem;
        display: block;
        .become-sponsor-title{
            display: none !important;
        }
    .left-section{
       align-items: flex-start;
        .title{
            text-align: center;
            font-size: $h2 !important;
            font-weight: $font-semibold !important;
        }
        .description{
        color: $clr_neutral_gray !important;
        font-weight:$font_normal !important;
        }
     
    }
    .venue-container{
        display: flex;
        column-gap: 2rem;
        row-gap: 2rem;
        align-items: center;
        .avathar{
            background-color: #027BFF !important;
            color: $clr_white;
        }
        .field-value{
            display: flex;
            flex-direction: column; 
            justify-content: space-between; 
            align-items: flex-start;
            height: 100%; 
        }
    }
    .star{
        display: none;
    }
    .sponsor-header{
        background-color: $clr_white !important;
        padding-block: 2.417rem;
        padding-inline: 2.25rem;
        margin-top: 0rem;    
        border-radius: 0.833rem;
        .form-header{
            display: none;
        }
        &-input{
            border-bottom: none !important;
            border-radius: 0.417rem !important;

        }
        &-textarea{
            width: 100%;
            border-bottom: $clr_gray_extra_light !important;
                    height: 7rem !important;
                    // border: 0.09375rem solid $clr_gray_extra_light;
                    padding: 1rem;
                    outline: 0.0625rem solid $clr_gray_extra_light !important;

        }
        &-textarea:focus-visible {
            outline: 0.0625rem solid $clr_gray_extra_light !important;
        }
        &-button{
            background-color: #027BFF !important;
            border-radius: 2.917rem !important;
            width: 13.667rem !important;


        }
       
    }
    }

    .t6-tier-section {
        padding-block: 5rem;
        background-color: $clr_gray_30_percent;

        &-title {
            text-align: center;
            margin-bottom: 3rem;
        }

        .tiers-container {
            max-width: 85rem;
            margin-inline: auto;

            .tier-item {
                padding: 2rem;
                border-radius: 1.66rem;

                &-title {
                    font-size: $h3;
                    font-weight: $font_semibold;
                }
            }

            .even-item {
                background-color: $clr_blue;
                color: $clr_white;

            }

            .odd-item {
                background-color: $clr_white;
            }

            .divider {
                width: 100%;
                height: 0.1rem;
                margin-block: 1.8rem;
            }

            .odd-divider {
                background-color: $clr_gray_40_percent;
            }

            .even-divider {
                background-color: $clr_white;
            }

            .tier-register-button {
                margin-top: 1rem;
                border-radius: 1.66rem;
                font-size: $p1;
                font-weight: $font_bold;
            }

            .odd-register-button {
                background-color: $clr_blue;
                color: $clr_white;
            }

            .even-register-button {
                background-color: $clr_white;

            }

            .tier-name {
                font-size: $h5;
                font-weight: $font_semibold;
            }

            .tier-date {
                font-size: $p1;
            }

            .even-date {
                color: hsla(0, 0%, 100%, 1);

            }

            .odd-date {
                color: hsla(0, 0%, 0%, 1);

            }

            .tier-price {
                font-size: $h4;
                font-weight: $font_semibold;
            }

            .odd-price {}

            .even-price {}
        }

    }
    .t6-program-addon{
        padding-block: 5rem;
       
        .tab-container{
            display: flex;
            justify-content: center;
            align-items: center; 
            overflow-inline: auto !important;    
            overflow-y: visible !important;     
            white-space: nowrap;
            scrollbar-width: none;
            column-gap: 0.5rem;
            &-item{
                border: solid 0.083rem $clr_black;
                border-radius: 3.833rem;
                cursor: pointer;
                padding-block: 0.3rem;
                 overflow: visible !important;
                width:14.417rem;
                @media screen and (max-width:600px){
                width: auto;
                }
                .title{
                    font-size: $h5 !important;
                    font-weight: $font_bold !important; 
                    @media screen and (max-width:600px) {
                        font-size: $p2 !important;
                    } 
                } 
                .date{
                    font-weight: $font-semibold !important;
                    font-size:$h6 !important;
                    @media screen and (max-width:600px){
                        font-size: $p3 !important;
                        }
                }
                @media (max-width: 600px) {
                   width: auto;
                   }

            }
            &-selected{
                cursor: pointer;
                padding-block: 0.3rem;
                background-color:#027BFF;
                border-radius: 3.833rem;
                 overflow: visible !important;
                width:14.417rem; 
                @media screen and (max-width:600px){
                    width: auto;
                    }
                .title{
                    font-size: $h5 !important;
                    color:$clr_white;
                    font-weight: $font_bold !important;  
                    @media screen and (max-width:600px){
                        font-size: $p2 !important;
                        }
                } 
                .date{
                    color:$clr_white !important;
                    font-weight: $font-semibold !important;
                    font-size:$h6 !important;
                    @media screen and (max-width:600px){
                        font-size: $p3 !important;
                        }
                }
                @media (max-width: 600px) {
                    width: auto;
                    }

            }
           
            
        }
        .prm-add-container{
            border:1px solid #CCCCCC;
            border-radius: 0.5rem;
            .contents{
                background-color: #B6D8FF;
                display: flex;
                flex-direction: row;
            }
            @media (max-width: 600px) {
                height: auto;
                }
        }
        .addonbox{
            padding-inline:2rem;
            border-radius: 0.5rem;
            background-color: #E8F3FF;
       padding-block: 0.5rem;
        }
        .view-detail-btn{
            cursor: pointer;
            background-color: #027BFF;
        }
        .sponosr-img-container{
            width: 3rem;
            height: 3rem;
        }
        .prg-title{
            padding-block: 1rem;
            // width: 15rem;
            p{
                font-weight: $font_semibold;
                font-size: $h5;
            }
        }
        .prg-description{
            color:#919191;
            padding-block: 1rem;
            // width: 15rem;
        }
        .prg-time-container{
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            svg{
                color: #027BFF;
            }
            .text{
                color:#027BFF;
                font-weight: $font-semibold !important;
            }
        }

    }

    // =======================================================

    @media screen and (max-width: 1024px) {

        .images {
            flex-direction: column;
            row-gap: 2rem;



            .images-group {
                flex-direction: row !important;
                column-gap: 2rem;
                align-items: center;


            }


        }
    }




    @media screen and (max-width: 900px) {
        .t6-navbar {
            padding-block: 1.2rem;
        }

        .hero-container {
            min-height: 100dvh;


            .hero-details {
                min-width: 90%;
            }

            .hero-card {
                min-width: 80%;
            }

            .hero-content {
                flex-direction: column;
                row-gap: 3rem;

                .images {
                    flex-direction: row;
                    justify-content: start;

                    .images-group {
                        flex-direction: column !important;
                        width: 50%;

                        img {
                            margin-inline: auto;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .t6-navbar {
            padding-block: 1.2rem;
        }

        .hero-container {
            .hero-details {
                min-width: 100%;

            }

            .hero-card {
                min-width: 100%;

                .icon-container {
                    background-color: $clr_green;
                    border-radius: 50%;
                    min-height: 4rem;
                    min-width: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        font-size: 2.2rem;
                    }


                }

                .label {
                    font-size: $p2;
                    margin-bottom: .5rem;
                }

                .value {
                    font-size: $h5;
                }

                .date {
                    background-color: $clr_orange;
                }

            }

        }
    }


    @media screen and (max-width: 536px) {
        .hero-container {




            .hero-content {

                .images {
                    flex-direction: column;
                    justify-content: start;
                    max-width: 100%;

                    .img1-wrapper {
                        width: 100%;

                        .img1,
                        .img2,
                        .img3 {
                            width: 100%;
                        }
                    }


                    .images-group {
                        flex-direction: column !important;
                        width: 100%;
                        background-color: aliceblue;

                        img {
                            // margin-inline: auto;
                            width: 100%;
                            display: none;



                        }
                    }
                }
            }
        }

        .img-group2 {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;

            img {
                height: 100%;
            }


        }

        .t6-time-remaining {



            .t6-time-remaining-content {

                .time-remaining-content {



                    &-title {
                        font-size: $h3;
                        font-weight: $font_semibold;
                    }

                    &-timer {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        .group {
                            column-gap: 4rem;
                        }

                        .value {

                            font-size: $h2;
                            font-weight: $font_semibold;
                        }


                    }
                }


            }
        }

    }
}