.create-event{
    &-container{
        background-color: $clr_white;
    }
    &-description{
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        &-error {
            .ql-snow{
                border: 1px solid $clr_red !important;
            }
        }
    }
    &-next-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 10rem !important;
        text-transform: none !important;
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-back-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        min-width: 10rem !important;
        border: 1px solid $clr_green !important;
        text-transform: none !important;
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-title{
        font-weight: $font_bold !important;
        font-size: $h3 !important;
        padding-bottom: 4rem !important;
    }
}

.add-program{
    &-container{
        background-color: $clr_white;
        padding-left: 1rem;
    }
    &-next-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 15rem !important;
    }
    &-back-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        min-width: 15rem !important;
    }
    &-display-item{
        height: 4.2rem;
        background-color: $background;
        padding: 1rem !important;
        margin-bottom: 1.05rem !important;
    }
    &-display-container{
        padding: 1rem !important;
        padding-top: 7rem !important;
        padding-right: 3rem !important;
    }
    &-title{
        font-weight: $font_bold !important;
        font-size: $h3 !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    &-add-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        width: 7rem !important;
        height: 3.2rem !important;
        border: 1px solid $clr_green !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
        border-radius: 2.25rem !important;
    }
    &-form-spacing{
        padding-top: 0.9rem;
    }
    &-form-container{
        padding-right: 1rem !important;
        border-right: 1px solid $clr_gray_very_light;
    }
    &-add-ons-title{
        font-weight: $font_normal !important;
        font-size: $h6 !important;
    }
    &-save-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 7rem !important;
        height: 3.2rem !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-addons-grid{
        padding-bottom: 1rem;
    }
}

.event-detail {
    &-card {
        margin: 2rem;
        border-radius: 1rem;
        background-color:$clr_white;
        // height: 100vh;
    }
    &-header{
       padding: 2rem;
        font-weight: $font_semibold;
        font-size: $h4;
        &-status{
            margin-left: 0.2rem;
            background-color: $clr_red_light;
            width: 6rem;
            height: 3rem;
            padding: 0.5rem;
            color: $clr_red;
            border-radius: 0.5rem;
            font-size: $h6;
            font-weight: $font_normal;
        }
    }
    

    &-tab-layout {
        margin: 1.8rem;
        background-color: $background;
        color: $clr_white;
        .MuiTab-textColorPrimary {
            color: $clr_gray_light;
            font-weight: $font_medium;
            text-transform: none;
            font-size: $h6 ;
            border-bottom: 0.125rem solid $clr_tab_border_color;
        }

        .Mui-selected {
            color: $clr_black !important;
            font-weight: $font_semibold !important; 
            text-transform: none !important;   
        }

        .MuiTabs-indicator {
            background-color: $clr_green !important;
        }

    }
    &-event-info-card{
        &-publish-btn{
            background-color: $clr_green !important;
            color: $clr_white !important;
            text-transform: none !important;
        }
        &-invite-participant-btn{
            background-color: $clr_white !important;
            color: $clr_green !important;
            border: 0.063rem solid $clr_green !important;
            text-transform: none !important;
        }
        &-event-link{
            background-color: $clr_bright_gray;
            border: 1px solid white
        }
    }
    &-speakers-card{
        &-speaker-list{
            gap: 1rem;
            min-width: 10rem;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        &-speaker-header{
            font-size: 2rem !important;
            font-weight: $font-bold !important;
        }
        &-speaker-designation{
            color: $clr_gray_light;
        }
    }
    &-sessions-card{
        &-session-list{
            gap: 1rem;
        }
        &-header{
            font-weight: $font_semibold;
            font-size: $h5 !important;
         
        }
        &-sub-header{
            font-weight: $font_normal;
            font-size: $h6;
            color: $clr_gray_light;
        }
    }
    &-template-card {
        &-header {
            font-weight: $font-bold !important;
            font-size: $h5 !important;
        }
        &-selection{
            padding: 0.1rem;
            cursor: pointer;
            &:active {
                border-radius: 0.8rem;
                background-color:$clr_green;
            }
        }
    }
    &-status-box-active{
        margin-left: 0.2rem;
        background-color: $clr_red_light;
        width: 6rem;
        height: 3rem;
        padding: 0.5rem;
        color: $clr_red;
        border-radius: 0.5rem;
        font-size: $h6;
        font-weight: $font_normal;
    }
  
} 

.user-list-card{
    padding-right:1rem !important;
    &-add-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        width: 7rem !important;
        height: 3.2rem !important;
        border: 0.063rem solid $clr_green !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
        border-radius: 2.25rem !important;
    }
    &-form-spacing{
        padding-top: 0.9rem;
    }
    &-form-container{
        padding-right: 1rem !important;
        border-right: 1rem solid $clr_gray_very_light;
    }
    &-add-ons-title{
        font-weight: $font_normal !important;
        font-size: $h6 !important;
    }
    &-save-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 7rem !important;
        height: 3.2rem !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-addons-grid{
        padding-bottom: 1rem;
    }
}.sessions-container {
    padding: 16px;
    max-width: 100%; /* Ensure the container takes full width */
    margin: 0 auto;
}

.session-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px; /* Space between cards */
    justify-content: flex-start; 
    padding: 20px; /* Combined left and top padding */
}

.session-card {
    position: flex;
    background: #FFFFFF;
    border: .5px solid #CCDFF2;
    border-radius: 8px;
    padding: 8px; /* Further reduced padding */
    flex: 1 1 calc(30% - 6px)  !important; /* Adjusted to fit four cards in a row */
    max-width: calc(30% - 2px) !important;
    min-width: 180px; /* Reduced minimum width for more compact cards */
    margin-bottom: 20px; /* Space between rows of cards */
    box-sizing: border-box; /* Ensure padding is included in width */
    height: 160px !important;
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-header {
    display: relative;
    align-items: center;
    background-color: #E0E7FF;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
}

.session-time {
    background-color: #F2FAF2;
    color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.session-details {
    display: relative;
    flex-direction: column;
}

.session-title {
    font-weight: bold;
    font-size: 1.4rem !important;
    color: #000000;
    margin-bottom: 8px !important;
}

.session-location,
.session-speaker {
    color: #000000;
    font-size: 1.1rem !important;
    margin-bottom: 2px !important;
}

.edit-button {
    position: absolute;
    color: #4A90E2;
    cursor: pointer;
}


