.create-event{
    &-container{
        background-color: $clr_white;
    }
    &-description{
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        &-error {
            .ql-snow{
                border: 1px solid $clr_red !important;
            }
        }
    }
    &-next-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 10rem !important;
        text-transform: none !important;
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-back-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        min-width: 10rem !important;
        border: 1px solid $clr_green !important;
        text-transform: none !important;
        font-size: $h6 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-title{
        font-weight: $font_bold !important;
        font-size: $h3 !important;
        padding-bottom: 4rem !important;
    }
}

.add-program{
    &-container{
        background-color: $clr_white;
        padding-left: 1rem;
        width: 100%;
    }
    &-next-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 15rem !important;
    }
    &-back-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        min-width: 15rem !important;
    }
    &-display-item{
        height: 4.2rem;
        padding: 1rem !important;
        margin-bottom: 1.05rem !important;
        border: 1px solid $clr_gray_very_light;
        border-radius: 0.41rem;
        &-name{

        }
        &-description{
            
        }
    }
    &-display-container{
        padding: 1rem !important;
        padding-top: 7rem !important;
        padding-right: 3rem !important;
        &-box{
            padding: 1rem;
            border: solid 0.08rem $clr-gray_faded;
            border-radius:0.5rem ;
        }
    }
    &-title{
        font-weight: $font_bold !important;
        font-size: $h3 !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    &-add-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        width: 7rem !important;
        height: 3.2rem !important;
        border: 1px solid $clr_green !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
        border-radius: 2.25rem !important;
    }
    &-form-spacing{
        padding-top: 0.9rem;
    }
    &-form-container{
        padding-right: 1rem !important;
    }
    &-add-ons-title{
        font-weight: $font_normal !important;
        font-size: $h6 !important;
    }
    &-save-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 7rem !important;
        height: 3.2rem !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-addons-grid{
        padding-bottom: 1rem;
    }
    &-radio-btn {
        .Mui-checked {
            color: $clr_green !important;
        }
    }
    &-switch-btn {
        .Mui-checked {
            color: $clr_green !important;
        }
    
        .MuiFormControlLabel-label {
            font-size: $p2 !important;
        }
    }
    &-check-btn{
        .Mui-checked{
            color: $clr_green !important; 
        }
        .MuiFormControlLabel-label{
            font-size: $p2 !important;
        }
    }
        &-prop-add{
            border: solid 0.1rem $clr_green !important;
    background-color: $clr_white !important ;
    color: $clr_green !important;

        }
        &-chip-item{
            font-size: $p3 !important;
            background-color: $clr_green_light !important;
            border: solid 0.1rem $clr_green !important;
            .MuiChip-deleteIcon{
                width: 1.5rem !important;
                color: $clr_red !important;

            }
        }
    }
   

.event-detail {
    &-card {
        margin: 2rem;
        border-radius: 1rem;
        background-color:$clr_white;
        // height: 100vh;
        &-link{
            &-label{
                input{
                    width: 6rem;
                    background-color: $clr_bright_gray !important;
                }
            }
            &-text{
                input{
                    width: 18rem;
                }
            }
            &-error-message{
                color: $clr_red !important;
            }
        }
        &-published-link{
            &-text{
                input{
                    width: 25rem;
                }
            }
            .MuiIconButton-root:hover {
                background-color: $clr_white;
            }
        }
    }
    &-header{
       padding: 2rem 2rem 0 2rem;
       margin-bottom: 0;
        font-weight: $font_semibold;
        font-size: $h4;
        &-title{
            font-size: $h4 !important;
            font-weight: $font-semibold !important;

        }
        &-status{
            margin-left: 0.2rem;
            background-color: $clr_red_light;
            width: 6rem;
            height: 3rem;
            padding: 0.5rem;
            color: $clr_red;
            border-radius: 0.5rem;
            font-size: $h6;
            font-weight: $font_normal;
        }
    }
    

    &-tab-layout {
        color: $clr_white;
        font-weight: $font_medium !important;


        &-container{
            padding: 0 !important;
            .MuiTabPanel-root{
                min-height: 40rem;
            }
        }
        &-item{
            padding: 3rem 3rem 2rem 3rem !important;
            &:first-of-type {
                padding: 3rem 2rem 2rem 2rem !important; 
            }
        }
        .MuiTab-textColorPrimary {
            color: $clr_text_gray;
            font-weight: $font_medium;
            text-transform: none;
            font-size: $h6 ;
            border-bottom: 0.125rem solid $clr_tab_border_color;
        }

        .Mui-selected {
            color: $clr_black !important;
            text-transform: none !important;   
        }

        .MuiTabs-indicator {
            background-color: $clr_green !important;
        }
    }
    &-event-info-card{
        .MuiIconButton-root{
            padding: 0 !important;
        }
        &-title{
            font-size: $h4 !important;
            font-weight: $font_semibold !important;
        }
        .MuiButtonBase-root:hover{
            background-color: $clr_white !important;
        }
        &-edit-btn{
            svg{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        &-publish-btn{
            background-color: $clr_green !important;
            color: $clr_white !important;
            text-transform: none !important;
            height: 4rem;
        }
        &-unpublish-btn{
            background-color: $clr_medium_red !important;
            color: $clr_white !important;
            text-transform: none !important;
            height: 4rem;
        }
        &-invite-participant-btn{
            background-color: $clr_white !important;
            color: $clr_green !important;
            border: 0.063rem solid $clr_green !important;
            text-transform: none !important;
            height: 4rem;
        }
        &-event-link{
            background-color: $clr_bright_gray;
            border: 1px solid white
        }
    }
    &-speakers-card{
        &-speaker-list{
            gap: 1rem;
            min-width: 10rem;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }
        &-speaker-header{
            font-size: 2rem !important;
            font-weight: $font-bold !important;
        }
        &-speaker-content{
            font-size: $p2 !important;
            font-weight: $font_normal !important;
            color: $light_grey;
        }
        &-speaker-designation{
            color: $clr_gray_light;
        }
        &-speaker-add-button{
            border: solid 0.1rem $clr_green !important;
            border-radius: 1.68rem !important;
            color:$clr_green !important;
            font-weight: $font-semibold !important;
            font-size: $p1 !important;
            text-transform: none !important;
        }
       
        &-contributor-back-label{
        font-size: $h6 !important;
        font-weight: $font-semibold !important;
        }
        &-contributor-header{
            font-size: $h5 !important;
            font-weight: $font-semibold !important;

        }
        &-btn-container{
            justify-content: center;
            align-items: center;
            margin: 2rem;

            
            &-photo-btn{
                border:solid 0.05rem $clr_green !important ;
                margin-right: 1rem !important;
                color: $clr_green !important;
            }
            &-submit-btn{
                margin-left: 1rem !important;
                background-color: $clr_green !important;
            }
            &-photo-txt{
                color: $clr_red;
            }
            &-selected-img{
                width: 5rem;
                height: 5rem;
                
            }
        }

        &-drawer-box{
            min-width: 85rem;
            padding: 2rem;
            margin: 1rem;

        }
        &-list-row{
            display: flex;
            scrollbar-width: 1rem;
            scroll-behavior: smooth;
            overflow-wrap: anywhere;
            overflow-x: auto;
        &-box{
            justify-content: "space-between";
            &-icon{
                cursor: pointer;
                padding-right: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
            
    
        }
        &-header{
            font-weight: $font-semibold !important;
            font-size: $h5 !important;
        }
        &-container{
     
            justify-content: center;
            align-items: center;
        }
        &-img{
            width: 16.563rem;
            height: 16.875rem;
            border-radius: 0.5rem;
        }
                &-name {
                    font-size: $h6 !important;
                    font-weight: $font-medium !important;
                }
        
                &-type {
                    font-size: $p2;
                    color: $clr_grayish_blue;
                    font-weight: $font-medium !important;
                }
                }
                &-delete-modal{
                    padding: 1rem;
                    justify-content: center;
                    align-items: center;
                    background-color: $clr_white;
                    margin-top:20rem ;
                    margin-left: 45% !important;
                    width: 30rem;
                    border-radius: 0.5rem;
                    &-btn-ok{
                        background-color: $clr_green !important;
                        color: $clr_white !important;
                    }
                    &-btn-cancel{
                        border:solid 0.01rem  $clr_green !important;
                        color: $clr_green !important;
                    }

                }
    }
    &-sessions-card{
        &-session-list{
            gap: 1rem;
        }
        &-header{
            font-weight: $font_semibold;
            font-size: $h5 !important;
         
        }
        &-sub-header{
            font-weight: $font_normal;
            font-size: $h6;
            color: $clr_black;
        }

        &-session-add-button{
            border: solid 0.1rem $clr_green !important;
            border-radius: 1.68rem !important;
            color:$clr_green !important;
            font-weight: $font-semibold !important;
            
        }
    }
    &-template-card {
        &-header {
            font-weight: $font-bold !important;
            font-size: $h5 !important;
        }
        &-selection{
            padding: 0.1rem;
            cursor: pointer;
            &:active {
                border-radius: 0.8rem;
                background-color:$clr_green;
            }
        }
    }
    &-status-box-active{
        margin-left: 0.2rem;
        background-color: $clr_red_light;
        width: 6rem;
        height: 3rem;
        padding: 0.5rem;
        color: $clr_red;
        border-radius: 0.5rem;
        font-size: $h6;
        font-weight: $font_normal;
    }
  
} 

.user-list-card{
    padding-right:1rem !important;
    &-add-btn{
        background-color: $clr_white !important;
        color: $clr_green !important;
        width: 7rem !important;
        height: 3.2rem !important;
        border: 0.063rem solid $clr_green !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
        border-radius: 2.25rem !important;
    }
    &-form-spacing{
        padding-top: 0.9rem;
    }
    &-form-container{
        padding-right: 1rem !important;
        border-right: 1rem solid $clr_gray_very_light;
    }
    &-add-ons-title{
        font-weight: $font_normal !important;
        font-size: $h6 !important;
    }
    &-save-btn{
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 7rem !important;
        height: 3.2rem !important;
        text-transform: none !important;
        font-size: $p1 !important;
        font-weight: $font_semibold !important;
        box-shadow: none !important;
    }
    &-addons-grid{
        padding-bottom: 1rem;
    }
}
.event-information {
  &-subtitle {
    font-weight: $font_medium !important;
    font-size: $h6 !important; 
    color: $light_grey;
  }
  &-content {
    font-weight: $font_semibold !important;
    font-size: $h6 !important; 
  }
  &-edit-heading {
    font-weight: $font_semibold !important;
    font-size: $h5 !important; 
  }
  &-edit-btn {
    background-color: $clr_green !important;
    color: $clr_white ;
    min-width: 8rem !important;
    text-transform: none ;
    font-size: $h6 ;
    font-weight: $font_semibold !important;
    box-shadow: none ;
  }
  &-restore-btn {
    background-color: $clr_white ;
    color: $clr_green !important;
    min-width: 8rem !important;
    border: 1px solid $clr_green !important;
    text-transform: none ;
    font-size: $h6 ;
    font-weight: $font_semibold !important;
    box-shadow: none ;
  }
}


.event-sessions {
    &-sessions-container {
        padding: $h6;
        max-width: 100%;
        margin: 0 auto;
    }

    &-session-list {
        justify-content: flex-start;
    }

    &-session-card {
        background: $clr_white;
        border: 0.03rem solid $clr_light_blue;
        border-radius: $p3;
        padding: $p4;
        flex: 1 1 calc(30% - .375rem);
        max-width: calc(30% - .125rem);
        min-width: 11.25rem;
        box-sizing: border-box;
        height: 11rem;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-time {
            background-color: $clr_green_light;
            color: $clr_black;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-size: $p2 !important;
            font-weight: $font_semibold !important;
            margin-bottom: $p3;
        }

        &-details {
            display: relative;
            flex-direction: column;
        }

        &-title {
            font-weight: $font_semibold !important;
            font-size: $h5 !important;
            color: $clr_black;
            margin-bottom: $p4;
        }

        &-location,
        &-speaker {
            color: $clr_black;
            font-size: $p2 !important;
            margin-bottom: .12rem;
            white-space: nowrap;          /* Prevents wrapping */
            overflow: hidden;             /* Hides overflowed text */
            text-overflow: ellipsis;     /* Shows ellipsis for truncated text */
            max-width: 100%;  
            
        }
    }

    &-date-header {
        display: relative;
        align-items: center;
        background-color: $clr_levender_blue;
        padding: .6rem;
        margin-top: $p1;
        margin-bottom: $p1;
        font-weight: $font_medium !important;
        font-size: $h6 !important;
        width: 100%;
    }

    &-edit-button {
        background-color: $clr_green !important;
        color: $clr_white !important;
        min-width: 8rem !important;
        border: .16rem solid $clr_green !important;
        text-transform: none ;
        font-size: $h6 ;
        font-weight: $font_semibold !important;
        box-shadow: none ;
    }

    &-add-button {
        border: solid 0.1rem $clr_green !important;
        border-radius: 1.68rem !important;
        color:$clr_green !important;
        font-weight: $font-semibold !important;
    }
}
.main-location-Grid{
    &-location-Text{
        font-family: $font;
        font-size: 1.5rem !important; 
        font-weight: $font_medium !important;
        letter-spacing: 0.0187rem !important;  
    }&-location-button{
        width:1.8rem ;
        height : 2.1rem ;
        
    }&-show-map {
        border-radius: 10rem;
        width: 38.375rem;
        height: 11.1875rem;
        border-radius: 0.375rem 0 0 0;
      }
}

.edit-location-container {
    background: $clr_white;
    width: 30.0625rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  &-edit-map-grid {
    width: 25.0625rem;
    height: 22rem;
    border-radius: 0.375rem 0 0 0;
  }
  &-edit-map {
    width: 100%;
    height: 100%;
  }
&-edit-location-button {
    width: 7.5625rem;
    height: 2.875rem;
    padding: 0.875rem 2.125rem;
    margin-top: 1.5rem !important;
    border-radius: 0.3125rem 0 0 0;
    background: $clr_green !important;
  }
}
.share-invitation-drawer{
	max-width: 40rem !important;
}
.add-on-create{
    width: 50rem;
    margin: 2rem;
    background-color: $clr_white;
    &-header{
        font-weight: $font-bold !important;
        font-size: $h5 !important;
    }
    &-form-wrap{
        width: 100%;
        margin-bottom: 2rem;
    }
    &-btn{
        background-color: $clr_green !important;
        
    }

}