.event-registration-completed {
  width:100%;
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2rem;
  // border: .2rem solid $clr_gray_30_percent;
  background:$clr_gray_10_percent;
  border-radius: 1rem;
  .registration-completed-icon {
    height: 8rem;
    width: 10rem;
  }
  .main-header {
    font-weight: $font_bold;
    font-size: $h2;
  }
  .sub-header-container {
    max-width: 30rem;
    margin-inline: auto;
    margin-bottom: 2rem;
    .sub-header {
      font-size: $p2;
      color: $clr_sub_header;
      font-weight: $font_medium;
      text-align: center;
    }
  }

  .qr-header {
    font-weight: $font_bold;
    font-size: $h6;
    margin-bottom: 1.66rem;
  }
  .qr-code-container {
    border-bottom: 0.15rem dashed $clr_gray_light;
    padding-bottom: 3rem;
    .qr-icon {
      height: 10rem;
      width: 10rem;
    }
  }
  .qr-code-display-section{
    border: 0.2rem solid $clr_black;
    border-radius: 0.2rem;
  }
  .payment-bill-details-container {
    margin-block: 1rem;
    padding-block: 1.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.66rem;
    .payment-bill-details {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      .payment-bill-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1.66rem;

        .info-text {
          font-size: $h6;
          font-weight: $font_semibold;
          color: $clr_gray_extra_dark;
        }
        .value{
          color: $clr_gray_dark_text;
        }
      }
    }
    .payment-grand-total-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 1.66rem;
      .grand-total-info-text {
        font-size: $h5;
        font-weight: $font_bold;
      }
    }
  }
  .divider {
    height: 0.05rem;
    background-color: $clr_gray_very_light;
    width: 100%;
  }
  .back-to-home-btn {
    background-color: $clr_black;
    min-width: 60%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .note-container {
    padding-inline: 2rem;
    .note-text {
      font-size: $p1;
      font-weight: $font_semibold;
      margin-bottom: 0.5rem;
    }
    .note-description {
      font-size: $p3;
      color: $clr_sub_header;
    }
  }
}
