.event-card{
    border: solid 0.1rem $clr_light_sky_blue;
    border-radius: 0.5rem;
    padding: 1rem;
    height:auto !important;
    &-date-box{
        font-weight:$font_semibold;
        margin-top:0.4rem;
        padding:0.2rem;
        border-radius: 0.3rem !important;
        max-width: 16rem;
        background-color: $clr_orange_dark;
        height: 2rem !important;
        color:$clr_black;;
        text-align:center;
    }
    &-date-title{
        font-size: $p6 !important;
    }
    &-title{
        margin-top:0.9375rem;
        font-weight: $font_semibold !important;
        font-size: $h5 !important;
        font-family:$font;
        padding-right: 0rem;
        max-lines: 1;
       // For medium devices between 1024px and 1182px
        @media (min-width: 1024px) and (max-width: 1190px) {
            font-size: 1.25rem !important; // Custom font size for this range
        }
        // For specific width: 1157px
        @media (min-width: 1140px) and (max-width: 1180px) {
            font-size: 1.2rem !important; // Slightly smaller for this range
        }
        // For smaller screens (below 768px)
        @media (max-width: 768px) {
            font-size: 1.2rem !important; // Further reduce for small screens
        }
    }
    &-location{
        font-family: $font;
        font-size:$p2 !important; 
        font-weight:$font_medium;
        color:$clr_black;
        text-align:padding-top;
        // For medium devices between 1024px and 1182px
        @media (min-width: 1024px) and (max-width: 1182px) {
            font-size: $p3 !important; // Custom font size for this range
        }
    }
    &-status{
        font-family: $font;
        font-size:$p2 !important; 
        font-weight: $font_normal !important;
        line-height: 1.059rem;
        margin-top: 0.9rem;
        color:$clr_black;
        .content{
           display:flex;
           align-items:center;  
        }
    .status-componenet{
        width: 8.8rem !important; 
        border-radius: 0.49875rem 0rem 0rem 0rem;
    }
    }
    &-certificate{
        margin-top: 1rem;
        &-label{
        font-weight: $font_medium !important;
        font-size: $p2 !important;
        color: $clr_blue;
        cursor: pointer;
        &-bar{
          font-weight: $font_medium !important;
          font-size: $p2 !important;
          color: $clr_black;
          cursor: pointer;
          }
        }
    }
    &-button{
        margin-top: 1rem !important;
        background-color: $clr_blue !important;
        color: $clr_white !important;
    }

}